<div id="id_evento_json_div">
    <div class="col-md-4">
        <div class="form-group">
            <label>JSON</label>
            <input type="text" id="id_evento_json" name="evento_json" class="form-control" readonly/>
        </div>
    </div>
</div>


<div class="row">

<div id="evtInfoEmpregador__div">
    <div class="col-md-12">
        <h4>Evento de informações do empregador. Regras de validação: REGRA_INFO_EMP_PERIODO_CONFLITANTE REGRA_INFO_EMP_VALIDA_CLASSTRIB_BASE_ALCANTARA REGRA_INFO_EMP_VALIDA_DTINICIAL REGRA_INFO_EMP_VALIDA_RAIZ_CNPJ REGRA_TAB_PERMITE_EXCLUSAO REGRA_VALIDA_DT_FUTURA REGRA_VALIDA_EMPREGADOR</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="Id__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Id</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__Id" name="evento_json__eSocial__evtInfoEmpregador__Id" class="form-control" />
        </div>
    </div>
</div>

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de Identificação do Evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>tpAmb</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__ideEvento__tpAmb" name="evento_json__eSocial__evtInfoEmpregador__ideEvento__tpAmb" class="form-control" />
        </div>
    </div>
</div>

<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>procEmi</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__ideEvento__procEmi" name="evento_json__eSocial__evtInfoEmpregador__ideEvento__procEmi" class="form-control" />
        </div>
    </div>
</div>

<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>verProc</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__ideEvento__verProc" name="evento_json__eSocial__evtInfoEmpregador__ideEvento__verProc" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="ideEmpregador__div">
    <div class="col-md-12">
        <h4>Informações de identificação do empregador.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>tpInsc</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__ideEmpregador__tpInsc" name="evento_json__eSocial__evtInfoEmpregador__ideEmpregador__tpInsc" class="form-control" />
        </div>
    </div>
</div>

<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nrInsc</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__ideEmpregador__nrInsc" name="evento_json__eSocial__evtInfoEmpregador__ideEmpregador__nrInsc" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoEmpregador__div">
    <div class="col-md-12">
        <h4>Identificação da operação (inclusão, alteração ou exclusão) e das respectivas informações do empregador.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="inclusao__div">
    <div class="col-md-12">
        <h4>Inclusão de novas informações.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="idePeriodo__div">
    <div class="col-md-12">
        <h4>Período de validade das informações incluídas.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="iniValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>iniValid</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__idePeriodo__iniValid" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__idePeriodo__iniValid" class="form-control" />
        </div>
    </div>
</div>

<div id="fimValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>fimValid</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__idePeriodo__fimValid" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__idePeriodo__fimValid" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoCadastro__div">
    <div class="col-md-12">
        <h4>Informações do empregador.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="nmRazao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nmRazao</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__nmRazao" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__nmRazao" class="form-control" />
        </div>
    </div>
</div>

<div id="classTrib__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>classTrib</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__classTrib" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__classTrib" class="form-control" />
        </div>
    </div>
</div>

<div id="natJurid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>natJurid</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__natJurid" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__natJurid" class="form-control" />
        </div>
    </div>
</div>

<div id="indCoop__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indCoop</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__indCoop" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__indCoop" class="form-control" />
        </div>
    </div>
</div>

<div id="indConstr__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indConstr</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__indConstr" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__indConstr" class="form-control" />
        </div>
    </div>
</div>

<div id="indDesFolha__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indDesFolha</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__indDesFolha" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__indDesFolha" class="form-control" />
        </div>
    </div>
</div>

<div id="indOpcCP__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indOpcCP</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__indOpcCP" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__indOpcCP" class="form-control" />
        </div>
    </div>
</div>

<div id="indPorte__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indPorte</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__indPorte" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__indPorte" class="form-control" />
        </div>
    </div>
</div>

<div id="indOptRegEletron__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indOptRegEletron</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__indOptRegEletron" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__indOptRegEletron" class="form-control" />
        </div>
    </div>
</div>

<div id="indEntEd__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indEntEd</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__indEntEd" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__indEntEd" class="form-control" />
        </div>
    </div>
</div>

<div id="indEtt__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indEtt</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__indEtt" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__indEtt" class="form-control" />
        </div>
    </div>
</div>

<div id="nrRegEtt__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nrRegEtt</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__nrRegEtt" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__nrRegEtt" class="form-control" />
        </div>
    </div>
</div>

<div id="dadosIsencao__div">
    <div class="col-md-12">
        <h4>Informações Complementares - Empresas Isentas - Dados da Isenção.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="ideMinLei__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>ideMinLei</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__dadosIsencao__ideMinLei" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__dadosIsencao__ideMinLei" class="form-control" />
        </div>
    </div>
</div>

<div id="nrCertif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nrCertif</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__dadosIsencao__nrCertif" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__dadosIsencao__nrCertif" class="form-control" />
        </div>
    </div>
</div>

<div id="dtEmisCertif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>dtEmisCertif</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__dadosIsencao__dtEmisCertif" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__dadosIsencao__dtEmisCertif" class="form-control" />
        </div>
    </div>
</div>

<div id="dtVencCertif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>dtVencCertif</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__dadosIsencao__dtVencCertif" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__dadosIsencao__dtVencCertif" class="form-control" />
        </div>
    </div>
</div>

<div id="nrProtRenov__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nrProtRenov</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__dadosIsencao__nrProtRenov" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__dadosIsencao__nrProtRenov" class="form-control" />
        </div>
    </div>
</div>

<div id="dtProtRenov__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>dtProtRenov</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__dadosIsencao__dtProtRenov" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__dadosIsencao__dtProtRenov" class="form-control" />
        </div>
    </div>
</div>

<div id="dtDou__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>dtDou</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__dadosIsencao__dtDou" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__dadosIsencao__dtDou" class="form-control" />
        </div>
    </div>
</div>

<div id="pagDou__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>pagDou</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__dadosIsencao__pagDou" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__dadosIsencao__pagDou" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="contato__div">
    <div class="col-md-12">
        <h4>Informações de contato.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="nmCtt__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nmCtt</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__contato__nmCtt" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__contato__nmCtt" class="form-control" />
        </div>
    </div>
</div>

<div id="cpfCtt__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>cpfCtt</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__contato__cpfCtt" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__contato__cpfCtt" class="form-control" />
        </div>
    </div>
</div>

<div id="foneFixo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>foneFixo</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__contato__foneFixo" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__contato__foneFixo" class="form-control" />
        </div>
    </div>
</div>

<div id="foneCel__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>foneCel</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__contato__foneCel" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__contato__foneCel" class="form-control" />
        </div>
    </div>
</div>

<div id="email__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>email</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__contato__email" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__contato__email" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoOP__div">
    <div class="col-md-12">
        <h4>Informações relativas a Órgãos Públicos.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="nrSiafi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nrSiafi</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__nrSiafi" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__nrSiafi" class="form-control" />
        </div>
    </div>
</div>

<div id="infoEFR__div">
    <div class="col-md-12">
        <h4>Informações relativas a Ente Federativo Responsável - EFR.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="ideEFR__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>ideEFR</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__infoEFR__ideEFR" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__infoEFR__ideEFR" class="form-control" />
        </div>
    </div>
</div>

<div id="cnpjEFR__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>cnpjEFR</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__infoEFR__cnpjEFR" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__infoEFR__cnpjEFR" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoEnte__div">
    <div class="col-md-12">
        <h4>Informações relativas ao ente federativo estadual, distrital ou municipal.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="nmEnte__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nmEnte</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__infoEnte__nmEnte" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__infoEnte__nmEnte" class="form-control" />
        </div>
    </div>
</div>

<div id="uf__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>uf</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__infoEnte__uf" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__infoEnte__uf" class="form-control" />
        </div>
    </div>
</div>

<div id="codMunic__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>codMunic</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__infoEnte__codMunic" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__infoEnte__codMunic" class="form-control" />
        </div>
    </div>
</div>

<div id="indRPPS__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indRPPS</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__infoEnte__indRPPS" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__infoEnte__indRPPS" class="form-control" />
        </div>
    </div>
</div>

<div id="subteto__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>subteto</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__infoEnte__subteto" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__infoEnte__subteto" class="form-control" />
        </div>
    </div>
</div>

<div id="vrSubteto__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>vrSubteto</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__infoEnte__vrSubteto" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOP__infoEnte__vrSubteto" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoOrgInternacional__div">
    <div class="col-md-12">
        <h4>Informações exclusivas de organismos internacionais e outras instituições extraterritoriais.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="indAcordoIsenMulta__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indAcordoIsenMulta</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOrgInternacional__indAcordoIsenMulta" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoOrgInternacional__indAcordoIsenMulta" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="softwareHouse__div">
    <div class="col-md-12">
        <h4>Informações relativas ao desenvolvedor do software que gerou o arquivo xml.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="cnpjSoftHouse__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>cnpjSoftHouse</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__softwareHouse__cnpjSoftHouse" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__softwareHouse__cnpjSoftHouse" class="form-control" />
        </div>
    </div>
</div>

<div id="nmRazao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nmRazao</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__softwareHouse__nmRazao" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__softwareHouse__nmRazao" class="form-control" />
        </div>
    </div>
</div>

<div id="nmCont__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nmCont</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__softwareHouse__nmCont" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__softwareHouse__nmCont" class="form-control" />
        </div>
    </div>
</div>

<div id="telefone__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>telefone</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__softwareHouse__telefone" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__softwareHouse__telefone" class="form-control" />
        </div>
    </div>
</div>

<div id="email__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>email</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__softwareHouse__email" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__softwareHouse__email" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoComplementares__div">
    <div class="col-md-12">
        <h4>Informações complementares sobre o declarante.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="situacaoPJ__div">
    <div class="col-md-12">
        <h4>Informações Complementares - Pessoa Jurídica.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="indSitPJ__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indSitPJ</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoComplementares__situacaoPJ__indSitPJ" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoComplementares__situacaoPJ__indSitPJ" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="situacaoPF__div">
    <div class="col-md-12">
        <h4>Informações Complementares - Pessoa Física.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="indSitPF__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indSitPF</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoComplementares__situacaoPF__indSitPF" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__inclusao__infoCadastro__infoComplementares__situacaoPF__indSitPF" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="alteracao__div">
    <div class="col-md-12">
        <h4>Alteração das informações.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="idePeriodo__div">
    <div class="col-md-12">
        <h4>Período de validade das informações alteradas.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="iniValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>iniValid</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__idePeriodo__iniValid" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__idePeriodo__iniValid" class="form-control" />
        </div>
    </div>
</div>

<div id="fimValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>fimValid</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__idePeriodo__fimValid" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__idePeriodo__fimValid" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoCadastro__div">
    <div class="col-md-12">
        <h4>Informações do empregador.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="nmRazao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nmRazao</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__nmRazao" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__nmRazao" class="form-control" />
        </div>
    </div>
</div>

<div id="classTrib__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>classTrib</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__classTrib" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__classTrib" class="form-control" />
        </div>
    </div>
</div>

<div id="natJurid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>natJurid</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__natJurid" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__natJurid" class="form-control" />
        </div>
    </div>
</div>

<div id="indCoop__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indCoop</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__indCoop" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__indCoop" class="form-control" />
        </div>
    </div>
</div>

<div id="indConstr__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indConstr</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__indConstr" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__indConstr" class="form-control" />
        </div>
    </div>
</div>

<div id="indDesFolha__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indDesFolha</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__indDesFolha" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__indDesFolha" class="form-control" />
        </div>
    </div>
</div>

<div id="indOpcCP__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indOpcCP</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__indOpcCP" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__indOpcCP" class="form-control" />
        </div>
    </div>
</div>

<div id="indPorte__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indPorte</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__indPorte" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__indPorte" class="form-control" />
        </div>
    </div>
</div>

<div id="indOptRegEletron__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indOptRegEletron</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__indOptRegEletron" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__indOptRegEletron" class="form-control" />
        </div>
    </div>
</div>

<div id="indEntEd__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indEntEd</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__indEntEd" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__indEntEd" class="form-control" />
        </div>
    </div>
</div>

<div id="indEtt__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indEtt</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__indEtt" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__indEtt" class="form-control" />
        </div>
    </div>
</div>

<div id="nrRegEtt__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nrRegEtt</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__nrRegEtt" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__nrRegEtt" class="form-control" />
        </div>
    </div>
</div>

<div id="dadosIsencao__div">
    <div class="col-md-12">
        <h4>Informações Complementares - Empresas Isentas - Dados da Isenção.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="ideMinLei__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>ideMinLei</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__dadosIsencao__ideMinLei" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__dadosIsencao__ideMinLei" class="form-control" />
        </div>
    </div>
</div>

<div id="nrCertif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nrCertif</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__dadosIsencao__nrCertif" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__dadosIsencao__nrCertif" class="form-control" />
        </div>
    </div>
</div>

<div id="dtEmisCertif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>dtEmisCertif</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__dadosIsencao__dtEmisCertif" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__dadosIsencao__dtEmisCertif" class="form-control" />
        </div>
    </div>
</div>

<div id="dtVencCertif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>dtVencCertif</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__dadosIsencao__dtVencCertif" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__dadosIsencao__dtVencCertif" class="form-control" />
        </div>
    </div>
</div>

<div id="nrProtRenov__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nrProtRenov</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__dadosIsencao__nrProtRenov" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__dadosIsencao__nrProtRenov" class="form-control" />
        </div>
    </div>
</div>

<div id="dtProtRenov__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>dtProtRenov</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__dadosIsencao__dtProtRenov" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__dadosIsencao__dtProtRenov" class="form-control" />
        </div>
    </div>
</div>

<div id="dtDou__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>dtDou</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__dadosIsencao__dtDou" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__dadosIsencao__dtDou" class="form-control" />
        </div>
    </div>
</div>

<div id="pagDou__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>pagDou</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__dadosIsencao__pagDou" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__dadosIsencao__pagDou" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="contato__div">
    <div class="col-md-12">
        <h4>Informações de contato.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="nmCtt__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nmCtt</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__contato__nmCtt" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__contato__nmCtt" class="form-control" />
        </div>
    </div>
</div>

<div id="cpfCtt__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>cpfCtt</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__contato__cpfCtt" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__contato__cpfCtt" class="form-control" />
        </div>
    </div>
</div>

<div id="foneFixo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>foneFixo</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__contato__foneFixo" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__contato__foneFixo" class="form-control" />
        </div>
    </div>
</div>

<div id="foneCel__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>foneCel</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__contato__foneCel" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__contato__foneCel" class="form-control" />
        </div>
    </div>
</div>

<div id="email__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>email</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__contato__email" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__contato__email" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoOP__div">
    <div class="col-md-12">
        <h4>Informações relativas a Órgãos Públicos.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="nrSiafi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nrSiafi</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__nrSiafi" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__nrSiafi" class="form-control" />
        </div>
    </div>
</div>

<div id="infoEFR__div">
    <div class="col-md-12">
        <h4>Informações relativas a Ente Federativo Responsável - EFR.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="ideEFR__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>ideEFR</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__infoEFR__ideEFR" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__infoEFR__ideEFR" class="form-control" />
        </div>
    </div>
</div>

<div id="cnpjEFR__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>cnpjEFR</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__infoEFR__cnpjEFR" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__infoEFR__cnpjEFR" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoEnte__div">
    <div class="col-md-12">
        <h4>Informações relativas ao ente federativo estadual, distrital ou municipal.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="nmEnte__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nmEnte</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__infoEnte__nmEnte" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__infoEnte__nmEnte" class="form-control" />
        </div>
    </div>
</div>

<div id="uf__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>uf</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__infoEnte__uf" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__infoEnte__uf" class="form-control" />
        </div>
    </div>
</div>

<div id="codMunic__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>codMunic</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__infoEnte__codMunic" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__infoEnte__codMunic" class="form-control" />
        </div>
    </div>
</div>

<div id="indRPPS__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indRPPS</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__infoEnte__indRPPS" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__infoEnte__indRPPS" class="form-control" />
        </div>
    </div>
</div>

<div id="subteto__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>subteto</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__infoEnte__subteto" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__infoEnte__subteto" class="form-control" />
        </div>
    </div>
</div>

<div id="vrSubteto__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>vrSubteto</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__infoEnte__vrSubteto" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOP__infoEnte__vrSubteto" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoOrgInternacional__div">
    <div class="col-md-12">
        <h4>Informações exclusivas de organismos internacionais e outras instituições extraterritoriais.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="indAcordoIsenMulta__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indAcordoIsenMulta</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOrgInternacional__indAcordoIsenMulta" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoOrgInternacional__indAcordoIsenMulta" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="softwareHouse__div">
    <div class="col-md-12">
        <h4>Informações relativas ao desenvolvedor do software que gerou o arquivo xml.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="cnpjSoftHouse__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>cnpjSoftHouse</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__softwareHouse__cnpjSoftHouse" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__softwareHouse__cnpjSoftHouse" class="form-control" />
        </div>
    </div>
</div>

<div id="nmRazao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nmRazao</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__softwareHouse__nmRazao" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__softwareHouse__nmRazao" class="form-control" />
        </div>
    </div>
</div>

<div id="nmCont__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nmCont</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__softwareHouse__nmCont" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__softwareHouse__nmCont" class="form-control" />
        </div>
    </div>
</div>

<div id="telefone__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>telefone</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__softwareHouse__telefone" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__softwareHouse__telefone" class="form-control" />
        </div>
    </div>
</div>

<div id="email__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>email</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__softwareHouse__email" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__softwareHouse__email" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoComplementares__div">
    <div class="col-md-12">
        <h4>Informações complementares sobre o declarante.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="situacaoPJ__div">
    <div class="col-md-12">
        <h4>Informações Complementares - Pessoa Jurídica.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="indSitPJ__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indSitPJ</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoComplementares__situacaoPJ__indSitPJ" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoComplementares__situacaoPJ__indSitPJ" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="situacaoPF__div">
    <div class="col-md-12">
        <h4>Informações Complementares - Pessoa Física.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="indSitPF__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indSitPF</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoComplementares__situacaoPF__indSitPF" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__infoCadastro__infoComplementares__situacaoPF__indSitPF" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="novaValidade__div">
    <div class="col-md-12">
        <h4>Informação preenchida exclusivamente em caso de alteração do período de validade das informações do registro identificado no evento, apresentando o novo período de validade.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="iniValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>iniValid</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__novaValidade__iniValid" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__novaValidade__iniValid" class="form-control" />
        </div>
    </div>
</div>

<div id="fimValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>fimValid</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__novaValidade__fimValid" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__alteracao__novaValidade__fimValid" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="exclusao__div">
    <div class="col-md-12">
        <h4>Exclusão das informações.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="idePeriodo__div">
    <div class="col-md-12">
        <h4>Informação destinada a localizar corretamente as informações já existentes e que serão objeto de exclusão através deste evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="iniValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>iniValid</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__exclusao__idePeriodo__iniValid" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__exclusao__idePeriodo__iniValid" class="form-control" />
        </div>
    </div>
</div>

<div id="fimValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>fimValid</label>
            <input type="text" id="id_evento_json__eSocial__evtInfoEmpregador__infoEmpregador__exclusao__idePeriodo__fimValid" name="evento_json__eSocial__evtInfoEmpregador__infoEmpregador__exclusao__idePeriodo__fimValid" class="form-control" />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

</div>

<script type="text/javascript">
  

  window.onload = function() {

    var dst = document.getElementById("id_evento_json");
    var dados = {
      "Id": document.getElementById("id_evento_json__eSocial__evtInfoEmpregador__Id"),
      "tpAmb": document.getElementById("id_evento_json__eSocial__evtInfoEmpregador__ideEvento__tpAmb")
    };

    function set_evento_json() {

        dst.value = "{'Id': '" + dados.Id.value + "', 'tpAmb': '" + dados.tpAmb.value + "'}'";
    };


    dados.Id.addEventListener('input',  function() {set_evento_json() } );
    dados.tpAmb.addEventListener('input',  function() {set_evento_json() } );

  };
</script>
