
{% load esocial_custom_tags %}
<form id="form_json">

<div class="row">

<div id="evtTabLotacao__div">
    <div class="col-md-12">
        <h4>Evento de tabela de lotações tributárias. Regras de validação: REGRA_EXISTE_INFO_EMPREGADOR REGRA_TABGERAL_ALTERACAO_PERIODO_CONFLITANTE REGRA_TABGERAL_EXISTE_REGISTRO_ALTERADO REGRA_TABGERAL_EXISTE_REGISTRO_EXCLUIDO REGRA_TABGERAL_INCLUSAO_PERIODO_CONFLITANTE REGRA_TABLOTACAO_COMPATIB_TPLOTACAO_CLASSTRIB REGRA_TABLOTACAO_EXISTE_TABOPERPORTUARIO REGRA_TABLOTACAO_VALIDA_CNO_PARCIAL REGRA_TABLOTACAO_VALIDA_FPASTERCEIROS REGRA_TAB_PERMITE_EXCLUSAO REGRA_VALIDA_DT_FUTURA</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de Identificação do Evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Identificação do ambiente</label>
            <select name="[evtTabLotacao][ideEvento][tpAmb]" id="evtTabLotacao__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtTabLotacao][ideEvento][tpAmb]" id="evtTabLotacao__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Processo de emissão do evento</label>
            <select name="[evtTabLotacao][ideEvento][procEmi]" id="evtTabLotacao__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtTabLotacao][ideEvento][procEmi]" id="evtTabLotacao__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Versão do processo</label>
            <input type="text" name="[evtTabLotacao][ideEvento][verProc]" value="{{original.procemi}}" class="vTextField" maxlength="20" id="evtTabLotacao__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtTabLotacao][ideEvento][verProc]" id="evtTabLotacao__ideEvento__id__verProc" value="{{original.procemi}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="ideEmpregador__div">
    <div class="col-md-12">
        <h4>Informações de identificação do empregador.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Tipo de inscrição</label>
            <select name="[evtTabLotacao][ideEmpregador][tpInsc]" id="evtTabLotacao__ideEmpregador__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtTabLotacao][ideEmpregador][tpInsc]" id="evtTabLotacao__ideEmpregador__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Número de inscrição (CPF/CNPJ)</label>
            <input type="text" id="evtTabLotacao__ideEmpregador__id__nrInsc_disabled" name="[evtTabLotacao][ideEmpregador][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtTabLotacao][ideEmpregador][nrInsc]" id="evtTabLotacao__ideEmpregador__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="infoLotacao__div">
    <div class="col-md-12">
        <h4>Identificação da operação (inclusão, alteração ou exclusão) e das informações da lotação.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="inclusao__div">
    <div class="col-md-12">
        <h4>Inclusão de novas informações.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideLotacao__div">
    <div class="col-md-12">
        <h4>Informações de identificação da lotação e validade das informações que estão sendo incluídas.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="codLotacao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código da Lotação<a data-toggle="tooltip" title="Informar o código atribuído pela empresa para a lotação tributária. Validação: O código atribuído não pode conter a expressão "eSocial" nas 7 primeiras posições. Regra de validação: REGRA_CARACTER_ESPECIAL"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__inclusao__ideLotacao__id__codLotacao" maxlength="30" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.inclusao.ideLotacao.codLotacao'}}" name="[evtTabLotacao][infoLotacao][inclusao][ideLotacao][codLotacao]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="iniValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Início da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM. Validação: Deve ser uma data válida, igual ou posterior à data de início de obrigatoriedade deste evento para o empregador no eSocial, no formato AAAA-MM."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__inclusao__ideLotacao__id__iniValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.inclusao.ideLotacao.iniValid'}}" name="[evtTabLotacao][infoLotacao][inclusao][ideLotacao][iniValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="fimValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Fim da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de término da validade das informações, se houver. Validação: Se informado, deve estar no formato AAAA-MM e ser um período igual ou posterior a {iniValid}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__inclusao__ideLotacao__id__fimValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.inclusao.ideLotacao.fimValid'}}" name="[evtTabLotacao][infoLotacao][inclusao][ideLotacao][fimValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="dadosLotacao__div">
    <div class="col-md-12">
        <h4>Detalhamento das informações da lotação que está sendo incluída.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpLotacao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de Lotação<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de lotação, conforme tabela 10. Validação: Deve ser um código válido, existente na tabela 10, e compatível com a Classificação Tributária indicada no evento de Informações Cadastrais do Empregador."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__inclusao__dadosLotacao__id__tpLotacao" maxlength="2" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.inclusao.dadosLotacao.tpLotacao'}}" name="[evtTabLotacao][infoLotacao][inclusao][dadosLotacao][tpLotacao]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Tipo de inscrição</label>
            <select name="[evtTabLotacao][infoLotacao][inclusao][dadosLotacao][tpInsc]" id="evtTabLotacao__infoLotacao__inclusao__dadosLotacao__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtTabLotacao][infoLotacao][inclusao][dadosLotacao][tpInsc]" id="evtTabLotacao__infoLotacao__inclusao__dadosLotacao__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Número de inscrição (CPF/CNPJ)</label>
            <input type="text" id="evtTabLotacao__infoLotacao__inclusao__dadosLotacao__id__nrInsc_disabled" name="[evtTabLotacao][infoLotacao][inclusao][dadosLotacao][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtTabLotacao][infoLotacao][inclusao][dadosLotacao][nrInsc]" id="evtTabLotacao__infoLotacao__inclusao__dadosLotacao__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
<div id="fpasLotacao__div">
    <div class="col-md-12">
        <h4>Informações de FPAS e Terceiros relativas à lotação tributária.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="fpas__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>FPAS<a data-toggle="tooltip" title="Preencher com o código relativo ao FPAS. Validação: Deve ser um código FPAS válido, conforme tabela 4."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__inclusao__dadosLotacao__fpasLotacao__id__fpas" maxlength="3" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.inclusao.dadosLotacao.fpasLotacao.fpas'}}" name="[evtTabLotacao][infoLotacao][inclusao][dadosLotacao][fpasLotacao][fpas]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codTercs__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código de Terceiros<a data-toggle="tooltip" title="Preencher com o código de Terceiros, conforme tabela 4, já considerando a existência de eventuais convênios para recolhimento direto. Exemplo: Se o contribuinte está enquadrado com FPAS 507, cujo código cheio de Terceiros é 0079, se possuir convênio com Senai deve informar o código 0075. Validação: Se a classificação tributária for igual a [01, 02, 03, 04], informar 0000. Nos demais casos, o código de terceiros informado deve ser compatível com o código de FPAS informado, conforme Tabela 04."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__inclusao__dadosLotacao__fpasLotacao__id__codTercs" maxlength="4" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.inclusao.dadosLotacao.fpasLotacao.codTercs'}}" name="[evtTabLotacao][infoLotacao][inclusao][dadosLotacao][fpasLotacao][codTercs]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codTercsSusp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código de Terceiros (Suspensão)<a data-toggle="tooltip" title="Informar o código combinado dos Terceiros para os quais o recolhimento está suspenso em virtude de processos Judiciais. Exemplo: Se o contribuinte possui decisões de processos para suspensão de recolhimentos ao Sesi (0008) e ao Sebrae (0064), deve informar o código combinado das duas entidades, ou seja, 0072. Validação: Deve ser um código consistente com a Tabela 4. Deve haver um processo em {procJudTerceiro} para cada código de Terceiro cujo recolhimento esteja suspenso."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__inclusao__dadosLotacao__fpasLotacao__id__codTercsSusp" maxlength="4" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.inclusao.dadosLotacao.fpasLotacao.codTercsSusp'}}" name="[evtTabLotacao][infoLotacao][inclusao][dadosLotacao][fpasLotacao][codTercsSusp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="infoProcJudTerceiros__div">
    <div class="col-md-12">
        <h4>Informações sobre a existência de processos judiciais, com sentença/decisão favorável ao contribuinte, relativos às contribuições destinadas a outras Entidades e Fundos.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="procJudTerceiro__div">
    <div class="col-md-12">
        <h4>Identificação do Processo Judicial.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="codTerc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código de Terceiros<a data-toggle="tooltip" title="Informar o Código de Terceiro. Validação: Deve ser um código de terceiro válido e compatível com o FPAS/Terceiros informado no registro superior, conforme Tabela 4."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__inclusao__dadosLotacao__fpasLotacao__infoProcJudTerceiros__procJudTerceiro__id__codTerc" maxlength="4" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.inclusao.dadosLotacao.fpasLotacao.infoProcJudTerceiros.procJudTerceiro.codTerc'}}" name="[evtTabLotacao][infoLotacao][inclusao][dadosLotacao][fpasLotacao][infoProcJudTerceiros][procJudTerceiro][codTerc]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="nrProcJud__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número do Processo Judicial<a data-toggle="tooltip" title="Informar um número de processo judicial cadastrado através do evento S- 1070, cujo {indMatProc} seja igual a [1]. Validação: Deve ser um número de processo válido e deve existir na tabela de processos (S-1070)."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__inclusao__dadosLotacao__fpasLotacao__infoProcJudTerceiros__procJudTerceiro__id__nrProcJud" maxlength="20" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.inclusao.dadosLotacao.fpasLotacao.infoProcJudTerceiros.procJudTerceiro.nrProcJud'}}" name="[evtTabLotacao][infoLotacao][inclusao][dadosLotacao][fpasLotacao][infoProcJudTerceiros][procJudTerceiro][nrProcJud]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codSusp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código do Indicativo da Suspensão<a data-toggle="tooltip" title="Código do Indicativo da Suspensão, atribuído pelo empregador em S-1070. Validação: A informação prestada deve estar de acordo com o que foi informado em S-1070."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__inclusao__dadosLotacao__fpasLotacao__infoProcJudTerceiros__procJudTerceiro__id__codSusp" maxlength="14" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.inclusao.dadosLotacao.fpasLotacao.infoProcJudTerceiros.procJudTerceiro.codSusp'}}" name="[evtTabLotacao][infoLotacao][inclusao][dadosLotacao][fpasLotacao][infoProcJudTerceiros][procJudTerceiro][codSusp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoEmprParcial__div">
    <div class="col-md-12">
        <h4>Informação complementar que apresenta identificação do contratante e do proprietário de obra de construção civil contratada sob regime de empreitada parcial ou subempreitada. A informação é preenchida exclusivamente para lotações cujo {tpLotacao} seja igual a [2].</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInscContrat__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de inscrição do Contratante<a data-toggle="tooltip" title="Tipo de Inscrição do contratante: 1 - CNPJ; 2 - CPF. Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTabLotacao__infoLotacao__inclusao__dadosLotacao__infoEmprParcial__id__tpInscContrat" name="[evtTabLotacao][infoLotacao][inclusao][dadosLotacao][infoEmprParcial][tpInscContrat]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtTabLotacao.infoLotacao.inclusao.dadosLotacao.infoEmprParcial.tpInscContrat' 1 %}selected{% endifequal %}>1 - CNPJ</option><option value="2" {% ifequal original.evento_json|readjson:'evtTabLotacao.infoLotacao.inclusao.dadosLotacao.infoEmprParcial.tpInscContrat' 2 %}selected{% endifequal %}>2 - CPF. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="nrInscContrat__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número de inscrição (CPF/CNPJ)<a data-toggle="tooltip" title="Número de Inscrição (CNPJ/CPF) do contratante. Validação: Deve ser um número de CNPJ ou CPF válido, conforme definido em {tpInscContrat}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__inclusao__dadosLotacao__infoEmprParcial__id__nrInscContrat" maxlength="14" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.inclusao.dadosLotacao.infoEmprParcial.nrInscContrat'}}" name="[evtTabLotacao][infoLotacao][inclusao][dadosLotacao][infoEmprParcial][nrInscContrat]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpInscProp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de inscrição (Proprietário do CNO)<a data-toggle="tooltip" title="Tipo de Inscrição do proprietário do CNO. Validação: Deve ser igual a [1] (CNPJ) ou [2] (CPF). Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTabLotacao__infoLotacao__inclusao__dadosLotacao__infoEmprParcial__id__tpInscProp" name="[evtTabLotacao][infoLotacao][inclusao][dadosLotacao][infoEmprParcial][tpInscProp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option>
            </select>
        </div>
    </div>
</div>

<div id="nrInscProp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número de inscrição (CPF/CNPJ)<a data-toggle="tooltip" title="Preencher com o número de inscrição (CNPJ/CPF) do proprietário do CNO. Validação: Deve ser um CNPJ ou CPF válido, conforme indicado em {tpInscProp}, e constar como responsável no cadastro do CNO."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__inclusao__dadosLotacao__infoEmprParcial__id__nrInscProp" maxlength="14" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.inclusao.dadosLotacao.infoEmprParcial.nrInscProp'}}" name="[evtTabLotacao][infoLotacao][inclusao][dadosLotacao][infoEmprParcial][nrInscProp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="alteracao__div">
    <div class="col-md-12">
        <h4>Alteração de informações já existentes.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideLotacao__div">
    <div class="col-md-12">
        <h4>Grupo de informações de identificação da lotação, apresentando código e período de validade da lotação cujas informações serão alteradas pelos dados constantes neste evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="codLotacao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código da Lotação<a data-toggle="tooltip" title="Informar o código atribuído pela empresa para a lotação tributária. Validação: O código atribuído não pode conter a expressão "eSocial" nas 7 primeiras posições."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__alteracao__ideLotacao__id__codLotacao" maxlength="30" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.alteracao.ideLotacao.codLotacao'}}" name="[evtTabLotacao][infoLotacao][alteracao][ideLotacao][codLotacao]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="iniValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Início da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM. Validação: Deve ser uma data válida, igual ou posterior à data de início de obrigatoriedade deste evento para o empregador no eSocial, no formato AAAA-MM."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__alteracao__ideLotacao__id__iniValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.alteracao.ideLotacao.iniValid'}}" name="[evtTabLotacao][infoLotacao][alteracao][ideLotacao][iniValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="fimValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Fim da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de término da validade das informações, se houver. Validação: Se informado, deve estar no formato AAAA-MM e ser um período igual ou posterior a {iniValid}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__alteracao__ideLotacao__id__fimValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.alteracao.ideLotacao.fimValid'}}" name="[evtTabLotacao][infoLotacao][alteracao][ideLotacao][fimValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="dadosLotacao__div">
    <div class="col-md-12">
        <h4>Informações da lotação.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpLotacao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de Lotação<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de lotação, conforme tabela 10. Validação: Deve ser um código válido, existente na tabela 10, e compatível com a Classificação Tributária indicada no evento de Informações Cadastrais do Empregador."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__alteracao__dadosLotacao__id__tpLotacao" maxlength="2" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.alteracao.dadosLotacao.tpLotacao'}}" name="[evtTabLotacao][infoLotacao][alteracao][dadosLotacao][tpLotacao]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Tipo de inscrição</label>
            <select name="[evtTabLotacao][infoLotacao][alteracao][dadosLotacao][tpInsc]" id="evtTabLotacao__infoLotacao__alteracao__dadosLotacao__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtTabLotacao][infoLotacao][alteracao][dadosLotacao][tpInsc]" id="evtTabLotacao__infoLotacao__alteracao__dadosLotacao__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Número de inscrição (CPF/CNPJ)</label>
            <input type="text" id="evtTabLotacao__infoLotacao__alteracao__dadosLotacao__id__nrInsc_disabled" name="[evtTabLotacao][infoLotacao][alteracao][dadosLotacao][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtTabLotacao][infoLotacao][alteracao][dadosLotacao][nrInsc]" id="evtTabLotacao__infoLotacao__alteracao__dadosLotacao__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
<div id="fpasLotacao__div">
    <div class="col-md-12">
        <h4>Informações de FPAS e Terceiros relativas à lotação tributária.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="fpas__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>FPAS<a data-toggle="tooltip" title="Preencher com o código relativo ao FPAS. Validação: Deve ser um código FPAS válido, conforme tabela 4."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__alteracao__dadosLotacao__fpasLotacao__id__fpas" maxlength="3" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.alteracao.dadosLotacao.fpasLotacao.fpas'}}" name="[evtTabLotacao][infoLotacao][alteracao][dadosLotacao][fpasLotacao][fpas]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codTercs__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código de Terceiros<a data-toggle="tooltip" title="Preencher com o código de Terceiros, conforme tabela 4, já considerando a existência de eventuais convênios para recolhimento direto. Exemplo: Se o contribuinte está enquadrado com FPAS 507, cujo código cheio de Terceiros é 0079, se possuir convênio com Senai deve informar o código 0075. Validação: Se a classificação tributária for igual a [01, 02, 03, 04], informar 0000. Nos demais casos, o código de terceiros informado deve ser compatível com o código de FPAS informado, conforme Tabela 04."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__alteracao__dadosLotacao__fpasLotacao__id__codTercs" maxlength="4" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.alteracao.dadosLotacao.fpasLotacao.codTercs'}}" name="[evtTabLotacao][infoLotacao][alteracao][dadosLotacao][fpasLotacao][codTercs]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codTercsSusp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código de Terceiros (Suspensão)<a data-toggle="tooltip" title="Informar o código combinado dos Terceiros para os quais o recolhimento está suspenso em virtude de processos Judiciais. Exemplo: Se o contribuinte possui decisões de processos para suspensão de recolhimentos ao Sesi (0008) e ao Sebrae (0064), deve informar o código combinado das duas entidades, ou seja, 0072. Validação: Deve ser um código consistente com a Tabela 4. Deve haver um processo em {procJudTerceiro} para cada código de Terceiro cujo recolhimento esteja suspenso."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__alteracao__dadosLotacao__fpasLotacao__id__codTercsSusp" maxlength="4" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.alteracao.dadosLotacao.fpasLotacao.codTercsSusp'}}" name="[evtTabLotacao][infoLotacao][alteracao][dadosLotacao][fpasLotacao][codTercsSusp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="infoProcJudTerceiros__div">
    <div class="col-md-12">
        <h4>Informações sobre a existência de processos judiciais, com sentença/decisão favorável ao contribuinte, relativos às contribuições destinadas a outras Entidades e Fundos.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="procJudTerceiro__div">
    <div class="col-md-12">
        <h4>Identificação do Processo Judicial.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="codTerc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código de Terceiros<a data-toggle="tooltip" title="Informar o Código de Terceiro. Validação: Deve ser um código de terceiro válido e compatível com o FPAS/Terceiros informado no registro superior, conforme Tabela 4."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__alteracao__dadosLotacao__fpasLotacao__infoProcJudTerceiros__procJudTerceiro__id__codTerc" maxlength="4" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.alteracao.dadosLotacao.fpasLotacao.infoProcJudTerceiros.procJudTerceiro.codTerc'}}" name="[evtTabLotacao][infoLotacao][alteracao][dadosLotacao][fpasLotacao][infoProcJudTerceiros][procJudTerceiro][codTerc]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="nrProcJud__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número do Processo Judicial<a data-toggle="tooltip" title="Informar um número de processo judicial cadastrado através do evento S- 1070, cujo {indMatProc} seja igual a [1]. Validação: Deve ser um número de processo válido e deve existir na tabela de processos (S-1070)."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__alteracao__dadosLotacao__fpasLotacao__infoProcJudTerceiros__procJudTerceiro__id__nrProcJud" maxlength="20" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.alteracao.dadosLotacao.fpasLotacao.infoProcJudTerceiros.procJudTerceiro.nrProcJud'}}" name="[evtTabLotacao][infoLotacao][alteracao][dadosLotacao][fpasLotacao][infoProcJudTerceiros][procJudTerceiro][nrProcJud]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codSusp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código do Indicativo da Suspensão<a data-toggle="tooltip" title="Código do Indicativo da Suspensão, atribuído pelo empregador em S-1070. Validação: A informação prestada deve estar de acordo com o que foi informado em S-1070."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__alteracao__dadosLotacao__fpasLotacao__infoProcJudTerceiros__procJudTerceiro__id__codSusp" maxlength="14" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.alteracao.dadosLotacao.fpasLotacao.infoProcJudTerceiros.procJudTerceiro.codSusp'}}" name="[evtTabLotacao][infoLotacao][alteracao][dadosLotacao][fpasLotacao][infoProcJudTerceiros][procJudTerceiro][codSusp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoEmprParcial__div">
    <div class="col-md-12">
        <h4>Informação complementar que apresenta identificação do contratante e do proprietário de obra de construção civil contratada sob regime de empreitada parcial ou subempreitada. A informação é preenchida exclusivamente para lotações cujo {tpLotacao} seja igual a [2].</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInscContrat__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de inscrição do Contratante<a data-toggle="tooltip" title="Tipo de Inscrição do contratante: 1 - CNPJ; 2 - CPF. Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTabLotacao__infoLotacao__alteracao__dadosLotacao__infoEmprParcial__id__tpInscContrat" name="[evtTabLotacao][infoLotacao][alteracao][dadosLotacao][infoEmprParcial][tpInscContrat]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtTabLotacao.infoLotacao.alteracao.dadosLotacao.infoEmprParcial.tpInscContrat' 1 %}selected{% endifequal %}>1 - CNPJ</option><option value="2" {% ifequal original.evento_json|readjson:'evtTabLotacao.infoLotacao.alteracao.dadosLotacao.infoEmprParcial.tpInscContrat' 2 %}selected{% endifequal %}>2 - CPF. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="nrInscContrat__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número de inscrição (CPF/CNPJ)<a data-toggle="tooltip" title="Número de Inscrição (CNPJ/CPF) do contratante. Validação: Deve ser um número de CNPJ ou CPF válido, conforme definido em {tpInscContrat}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__alteracao__dadosLotacao__infoEmprParcial__id__nrInscContrat" maxlength="14" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.alteracao.dadosLotacao.infoEmprParcial.nrInscContrat'}}" name="[evtTabLotacao][infoLotacao][alteracao][dadosLotacao][infoEmprParcial][nrInscContrat]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpInscProp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de inscrição (Proprietário do CNO)<a data-toggle="tooltip" title="Tipo de Inscrição do proprietário do CNO. Validação: Deve ser igual a [1] (CNPJ) ou [2] (CPF). Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTabLotacao__infoLotacao__alteracao__dadosLotacao__infoEmprParcial__id__tpInscProp" name="[evtTabLotacao][infoLotacao][alteracao][dadosLotacao][infoEmprParcial][tpInscProp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option>
            </select>
        </div>
    </div>
</div>

<div id="nrInscProp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número de inscrição (CPF/CNPJ)<a data-toggle="tooltip" title="Preencher com o número de inscrição (CNPJ/CPF) do proprietário do CNO. Validação: Deve ser um CNPJ ou CPF válido, conforme indicado em {tpInscProp}, e constar como responsável no cadastro do CNO."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__alteracao__dadosLotacao__infoEmprParcial__id__nrInscProp" maxlength="14" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.alteracao.dadosLotacao.infoEmprParcial.nrInscProp'}}" name="[evtTabLotacao][infoLotacao][alteracao][dadosLotacao][infoEmprParcial][nrInscProp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="novaValidade__div">
    <div class="col-md-12">
        <h4>Informação preenchida exclusivamente em caso de alteração do período de validade das informações da lotação identificada em {ideLotacao}, apresentando o novo período de validade.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="iniValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Início da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM. Validação: Deve ser uma data válida, igual ou posterior à data de início de obrigatoriedade deste evento para o empregador no eSocial, no formato AAAA-MM."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__alteracao__novaValidade__id__iniValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.alteracao.novaValidade.iniValid'}}" name="[evtTabLotacao][infoLotacao][alteracao][novaValidade][iniValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="fimValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Fim da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de término da validade das informações, se houver. Validação: Se informado, deve estar no formato AAAA-MM e ser um período igual ou posterior a {iniValid}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__alteracao__novaValidade__id__fimValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.alteracao.novaValidade.fimValid'}}" name="[evtTabLotacao][infoLotacao][alteracao][novaValidade][fimValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="exclusao__div">
    <div class="col-md-12">
        <h4>Exclusão de informações.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideLotacao__div">
    <div class="col-md-12">
        <h4>Grupo de informações que identifica a lotação que será excluída.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="codLotacao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código da Lotação<a data-toggle="tooltip" title="Informar o código atribuído pela empresa para a lotação tributária. Validação: O código atribuído não pode conter a expressão "eSocial" nas 7 primeiras posições."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__exclusao__ideLotacao__id__codLotacao" maxlength="30" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.exclusao.ideLotacao.codLotacao'}}" name="[evtTabLotacao][infoLotacao][exclusao][ideLotacao][codLotacao]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="iniValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Início da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM. Validação: Deve ser uma data válida, igual ou posterior à data de início de obrigatoriedade deste evento para o empregador no eSocial, no formato AAAA-MM."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__exclusao__ideLotacao__id__iniValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.exclusao.ideLotacao.iniValid'}}" name="[evtTabLotacao][infoLotacao][exclusao][ideLotacao][iniValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="fimValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Fim da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de término da validade das informações, se houver. Validação: Se informado, deve estar no formato AAAA-MM e ser um período igual ou posterior a {iniValid}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabLotacao__infoLotacao__exclusao__ideLotacao__id__fimValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabLotacao.infoLotacao.exclusao.ideLotacao.fimValid'}}" name="[evtTabLotacao][infoLotacao][exclusao][ideLotacao][fimValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

</div>

</form>
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON();
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
$("#id_nrinsc").keyup(function() {
    var origem = document.getElementById("id_nrinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
$("#id_tpinsc").on('change', function() {
    var origem = document.getElementById("id_tpinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_procemi").on('change', function() {
    var origem = document.getElementById("id_procemi");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__procEmi_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_tpamb").on('change', function() {
    var origem = document.getElementById("id_tpamb");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__tpAmb_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_verproc").keyup(function() {
    var origem = document.getElementById("id_verproc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
</script>
