
{% load esocial_custom_tags %}
<form id="form_json">

<div class="row">

<div id="evtTabFuncao__div">
    <div class="col-md-12">
        <h4>Evento utilizado para inclusão, alteração e exclusão de registros na tabela de funções. A utilização desta tabela é opcional. Regras de validação: REGRA_EXISTE_INFO_EMPREGADOR REGRA_TABGERAL_ALTERACAO_PERIODO_CONFLITANTE REGRA_TABGERAL_EXISTE_REGISTRO_ALTERADO REGRA_TABGERAL_EXISTE_REGISTRO_EXCLUIDO REGRA_TABGERAL_INCLUSAO_PERIODO_CONFLITANTE REGRA_TAB_PERMITE_EXCLUSAO REGRA_VALIDA_DT_FUTURA</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de Identificação do Evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Identificação do ambiente</label>
            <select name="[evtTabFuncao][ideEvento][tpAmb]" id="evtTabFuncao__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtTabFuncao][ideEvento][tpAmb]" id="evtTabFuncao__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Processo de emissão do evento</label>
            <select name="[evtTabFuncao][ideEvento][procEmi]" id="evtTabFuncao__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtTabFuncao][ideEvento][procEmi]" id="evtTabFuncao__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Versão do processo</label>
            <input type="text" name="[evtTabFuncao][ideEvento][verProc]" value="{{original.procemi}}" class="vTextField" maxlength="20" id="evtTabFuncao__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtTabFuncao][ideEvento][verProc]" id="evtTabFuncao__ideEvento__id__verProc" value="{{original.procemi}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="ideEmpregador__div">
    <div class="col-md-12">
        <h4>Informações de identificação do empregador.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Tipo de inscrição</label>
            <select name="[evtTabFuncao][ideEmpregador][tpInsc]" id="evtTabFuncao__ideEmpregador__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtTabFuncao][ideEmpregador][tpInsc]" id="evtTabFuncao__ideEmpregador__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Número de inscrição (CPF/CNPJ)</label>
            <input type="text" id="evtTabFuncao__ideEmpregador__id__nrInsc_disabled" name="[evtTabFuncao][ideEmpregador][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtTabFuncao][ideEmpregador][nrInsc]" id="evtTabFuncao__ideEmpregador__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="infoFuncao__div">
    <div class="col-md-12">
        <h4>Identificação da operação (inclusão, alteração ou exclusão) e das informações da função.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="inclusao__div">
    <div class="col-md-12">
        <h4>Inclusão de novas informações.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideFuncao__div">
    <div class="col-md-12">
        <h4>Informações de identificação da função e validade das informações que estão sendo incluídas.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="codFuncao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código da Função<a data-toggle="tooltip" title="Preencher com o código da função, se utilizado pelo empregador. Validação: O código atribuído não pode conter a expressão "eSocial" nas 7 (sete) primeiras posições. Regra de validação: REGRA_CARACTER_ESPECIAL"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabFuncao__infoFuncao__inclusao__ideFuncao__id__codFuncao" maxlength="30" value="{{original.evento_json|readjson:'evtTabFuncao.infoFuncao.inclusao.ideFuncao.codFuncao'}}" name="[evtTabFuncao][infoFuncao][inclusao][ideFuncao][codFuncao]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="iniValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Início da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM. Validação: Deve ser uma data válida, igual ou posterior à data de início de obrigatoriedade deste evento para o empregador no eSocial, no formato AAAA-MM."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabFuncao__infoFuncao__inclusao__ideFuncao__id__iniValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabFuncao.infoFuncao.inclusao.ideFuncao.iniValid'}}" name="[evtTabFuncao][infoFuncao][inclusao][ideFuncao][iniValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="fimValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Fim da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de término da validade das informações, se houver. Validação: Se informado, deve estar no formato AAAA-MM e ser um período igual ou posterior a {iniValid}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabFuncao__infoFuncao__inclusao__ideFuncao__id__fimValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabFuncao.infoFuncao.inclusao.ideFuncao.fimValid'}}" name="[evtTabFuncao][infoFuncao][inclusao][ideFuncao][fimValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="dadosFuncao__div">
    <div class="col-md-12">
        <h4>Detalhamento das informações da função que está sendo incluída.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="dscFuncao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Descrição<a data-toggle="tooltip" title="Nome da Função de confiança/Cargo em Comissão."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabFuncao__infoFuncao__inclusao__dadosFuncao__id__dscFuncao" maxlength="100" value="{{original.evento_json|readjson:'evtTabFuncao.infoFuncao.inclusao.dadosFuncao.dscFuncao'}}" name="[evtTabFuncao][infoFuncao][inclusao][dadosFuncao][dscFuncao]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codCBO__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>CBO<a data-toggle="tooltip" title="Classificação Brasileira de Ocupação - CBO. Validação: Deve ser um código existente na tabela de CBO com 6 (seis) posições."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabFuncao__infoFuncao__inclusao__dadosFuncao__id__codCBO" maxlength="6" value="{{original.evento_json|readjson:'evtTabFuncao.infoFuncao.inclusao.dadosFuncao.codCBO'}}" name="[evtTabFuncao][infoFuncao][inclusao][dadosFuncao][codCBO]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="alteracao__div">
    <div class="col-md-12">
        <h4>Alteração de informações já existentes.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideFuncao__div">
    <div class="col-md-12">
        <h4>Grupo de informações de identificação da função, apresentando código e período de validade do registro cujas informações serão alteradas pelos dados constantes neste evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="codFuncao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código da Função<a data-toggle="tooltip" title="Preencher com o código da função, se utilizado pelo empregador. Validação: O código atribuído não pode conter a expressão "eSocial" nas 7 (sete) primeiras posições."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabFuncao__infoFuncao__alteracao__ideFuncao__id__codFuncao" maxlength="30" value="{{original.evento_json|readjson:'evtTabFuncao.infoFuncao.alteracao.ideFuncao.codFuncao'}}" name="[evtTabFuncao][infoFuncao][alteracao][ideFuncao][codFuncao]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="iniValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Início da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM. Validação: Deve ser uma data válida, igual ou posterior à data de início de obrigatoriedade deste evento para o empregador no eSocial, no formato AAAA-MM."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabFuncao__infoFuncao__alteracao__ideFuncao__id__iniValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabFuncao.infoFuncao.alteracao.ideFuncao.iniValid'}}" name="[evtTabFuncao][infoFuncao][alteracao][ideFuncao][iniValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="fimValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Fim da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de término da validade das informações, se houver. Validação: Se informado, deve estar no formato AAAA-MM e ser um período igual ou posterior a {iniValid}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabFuncao__infoFuncao__alteracao__ideFuncao__id__fimValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabFuncao.infoFuncao.alteracao.ideFuncao.fimValid'}}" name="[evtTabFuncao][infoFuncao][alteracao][ideFuncao][fimValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="dadosFuncao__div">
    <div class="col-md-12">
        <h4>Informações da função.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="dscFuncao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Descrição<a data-toggle="tooltip" title="Nome da Função de confiança/Cargo em Comissão."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabFuncao__infoFuncao__alteracao__dadosFuncao__id__dscFuncao" maxlength="100" value="{{original.evento_json|readjson:'evtTabFuncao.infoFuncao.alteracao.dadosFuncao.dscFuncao'}}" name="[evtTabFuncao][infoFuncao][alteracao][dadosFuncao][dscFuncao]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codCBO__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>CBO<a data-toggle="tooltip" title="Classificação Brasileira de Ocupação - CBO. Validação: Deve ser um código existente na tabela de CBO com 6 (seis) posições."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabFuncao__infoFuncao__alteracao__dadosFuncao__id__codCBO" maxlength="6" value="{{original.evento_json|readjson:'evtTabFuncao.infoFuncao.alteracao.dadosFuncao.codCBO'}}" name="[evtTabFuncao][infoFuncao][alteracao][dadosFuncao][codCBO]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="novaValidade__div">
    <div class="col-md-12">
        <h4>Informação preenchida exclusivamente em caso de alteração do período de validade das informações da função identificada em {ideFuncao}, apresentando o novo período de validade.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="iniValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Início da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM. Validação: Deve ser uma data válida, igual ou posterior à data de início de obrigatoriedade deste evento para o empregador no eSocial, no formato AAAA-MM."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabFuncao__infoFuncao__alteracao__novaValidade__id__iniValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabFuncao.infoFuncao.alteracao.novaValidade.iniValid'}}" name="[evtTabFuncao][infoFuncao][alteracao][novaValidade][iniValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="fimValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Fim da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de término da validade das informações, se houver. Validação: Se informado, deve estar no formato AAAA-MM e ser um período igual ou posterior a {iniValid}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabFuncao__infoFuncao__alteracao__novaValidade__id__fimValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabFuncao.infoFuncao.alteracao.novaValidade.fimValid'}}" name="[evtTabFuncao][infoFuncao][alteracao][novaValidade][fimValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="exclusao__div">
    <div class="col-md-12">
        <h4>Exclusão de informações.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideFuncao__div">
    <div class="col-md-12">
        <h4>Grupo de informações que identifica a função que será excluída.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="codFuncao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código da Função<a data-toggle="tooltip" title="Preencher com o código da função, se utilizado pelo empregador. Validação: O código atribuído não pode conter a expressão "eSocial" nas 7 (sete) primeiras posições."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabFuncao__infoFuncao__exclusao__ideFuncao__id__codFuncao" maxlength="30" value="{{original.evento_json|readjson:'evtTabFuncao.infoFuncao.exclusao.ideFuncao.codFuncao'}}" name="[evtTabFuncao][infoFuncao][exclusao][ideFuncao][codFuncao]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="iniValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Início da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM. Validação: Deve ser uma data válida, igual ou posterior à data de início de obrigatoriedade deste evento para o empregador no eSocial, no formato AAAA-MM."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabFuncao__infoFuncao__exclusao__ideFuncao__id__iniValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabFuncao.infoFuncao.exclusao.ideFuncao.iniValid'}}" name="[evtTabFuncao][infoFuncao][exclusao][ideFuncao][iniValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="fimValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Fim da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de término da validade das informações, se houver. Validação: Se informado, deve estar no formato AAAA-MM e ser um período igual ou posterior a {iniValid}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabFuncao__infoFuncao__exclusao__ideFuncao__id__fimValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabFuncao.infoFuncao.exclusao.ideFuncao.fimValid'}}" name="[evtTabFuncao][infoFuncao][exclusao][ideFuncao][fimValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

</div>

</form>
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON();
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
$("#id_nrinsc").keyup(function() {
    var origem = document.getElementById("id_nrinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
$("#id_tpinsc").on('change', function() {
    var origem = document.getElementById("id_tpinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_procemi").on('change', function() {
    var origem = document.getElementById("id_procemi");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__procEmi_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_tpamb").on('change', function() {
    var origem = document.getElementById("id_tpamb");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__tpAmb_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_verproc").keyup(function() {
    var origem = document.getElementById("id_verproc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
</script>
