
{% load esocial_custom_tags %}
<form id="form_json">

<div class="row">

<div id="evtContratAvNP__div">
    <div class="col-md-12">
        <h4>Remuneração de Trabalhadores Avulsos Não Portuários. Regras de validação: REGRA_EVENTOS_EXTEMP REGRA_EVE_FOPAG_INCOMPAT_ DECTERCEIRO REGRA_EVE_FOPAG_IND_RETIFICACAO REGRA_EVE_FOPAG_PERMITE_EXCLUSAO REGRA_EXISTE_INFO_EMPREGADOR</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de identificação do evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="indRetif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Identificador de retificação<a data-toggle="tooltip" title="Informe [1] para arquivo original ou [2] para arquivo de retificação. Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtContratAvNP__ideEvento__id__indRetif" name="[evtContratAvNP][ideEvento][indRetif]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option>
            </select>
        </div>
    </div>
</div>

<div id="nrRecibo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número do recibo<a data-toggle="tooltip" title="Preencher com o número do recibo do arquivo a ser retificado. Validação: O preenchimento é obrigatório se {indRetif} = [2]. Deve ser um recibo de entrega válido, correspondente ao arquivo que está sendo retificado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtContratAvNP__ideEvento__id__nrRecibo" maxlength="40" value="{{original.evento_json|readjson:'evtContratAvNP.ideEvento.nrRecibo'}}" name="[evtContratAvNP][ideEvento][nrRecibo]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="indApuracao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Indicativo do periodo de apuração<a data-toggle="tooltip" title="Indicativo de período de apuração: 1 - Mensal. Valores Válidos: 1."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtContratAvNP__ideEvento__id__indApuracao" name="[evtContratAvNP][ideEvento][indApuracao]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtContratAvNP.ideEvento.indApuracao' 1 %}selected{% endifequal %}>1 - Mensal. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="perApur__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Período de Apuração<a data-toggle="tooltip" title="Informar o mês/ano (formato AAAA-MM) de referência das informações. Validação: Deve ser um mês/ano válido, igual ou posterior a implementação do eSocial."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtContratAvNP__ideEvento__id__perApur" maxlength="7" value="{{original.evento_json|readjson:'evtContratAvNP.ideEvento.perApur'}}" name="[evtContratAvNP][ideEvento][perApur]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Identificação do ambiente</label>
            <select name="[evtContratAvNP][ideEvento][tpAmb]" id="evtContratAvNP__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtContratAvNP][ideEvento][tpAmb]" id="evtContratAvNP__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Processo de emissão do evento</label>
            <select name="[evtContratAvNP][ideEvento][procEmi]" id="evtContratAvNP__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtContratAvNP][ideEvento][procEmi]" id="evtContratAvNP__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Versão do processo</label>
            <input type="text" name="[evtContratAvNP][ideEvento][verProc]" value="{{original.procemi}}" class="vTextField" maxlength="20" id="evtContratAvNP__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtContratAvNP][ideEvento][verProc]" id="evtContratAvNP__ideEvento__id__verProc" value="{{original.procemi}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="ideEmpregador__div">
    <div class="col-md-12">
        <h4>Informações de identificação do empregador.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Tipo de inscrição</label>
            <select name="[evtContratAvNP][ideEmpregador][tpInsc]" id="evtContratAvNP__ideEmpregador__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtContratAvNP][ideEmpregador][tpInsc]" id="evtContratAvNP__ideEmpregador__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Número de inscrição (CPF/CNPJ)</label>
            <input type="text" id="evtContratAvNP__ideEmpregador__id__nrInsc_disabled" name="[evtContratAvNP][ideEmpregador][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtContratAvNP][ideEmpregador][nrInsc]" id="evtContratAvNP__ideEmpregador__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="remunAvNP__div">
    <div class="col-md-12">
        <h4>Registro que apresenta a remuneração dos trabalhadores avulsos não portuários, de forma totalizada por estabelecimento contratante.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Tipo de inscrição</label>
            <select name="[evtContratAvNP][remunAvNP][tpInsc]" id="evtContratAvNP__remunAvNP__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtContratAvNP][remunAvNP][tpInsc]" id="evtContratAvNP__remunAvNP__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Número de inscrição (CPF/CNPJ)</label>
            <input type="text" id="evtContratAvNP__remunAvNP__id__nrInsc_disabled" name="[evtContratAvNP][remunAvNP][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtContratAvNP][remunAvNP][nrInsc]" id="evtContratAvNP__remunAvNP__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
<div id="codLotacao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código da Lotação<a data-toggle="tooltip" title="Informar o código atribuído pela empresa para a lotação tributária. Validação: Deve ser um código existente na tabela de LOTACOES."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtContratAvNP__remunAvNP__id__codLotacao" maxlength="30" value="{{original.evento_json|readjson:'evtContratAvNP.remunAvNP.codLotacao'}}" name="[evtContratAvNP][remunAvNP][codLotacao]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vrBcCp00__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da BC da CP<a data-toggle="tooltip" title="Valor da base de cálculo da contribuição previdenciária sobre a remuneração dos trabalhadores avulsos não portuários."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtContratAvNP__remunAvNP__id__vrBcCp00" maxlength="14" value="{{original.evento_json|readjson:'evtContratAvNP.remunAvNP.vrBcCp00'}}" name="[evtContratAvNP][remunAvNP][vrBcCp00]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vrBcCp15__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da BC da CP (15 anos)<a data-toggle="tooltip" title="Valor da base de cálculo da contribuição adicional para o financiamento dos benefícios de aposentadoria especial após 15 anos de contribuição."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtContratAvNP__remunAvNP__id__vrBcCp15" maxlength="14" value="{{original.evento_json|readjson:'evtContratAvNP.remunAvNP.vrBcCp15'}}" name="[evtContratAvNP][remunAvNP][vrBcCp15]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vrBcCp20__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da BC da CP (20 anos)<a data-toggle="tooltip" title="Valor da base de cálculo da contribuição adicional para o financiamento dos benefícios de aposentadoria especial após 20 anos de contribuição."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtContratAvNP__remunAvNP__id__vrBcCp20" maxlength="14" value="{{original.evento_json|readjson:'evtContratAvNP.remunAvNP.vrBcCp20'}}" name="[evtContratAvNP][remunAvNP][vrBcCp20]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vrBcCp25__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da BC da CP (25 anos)<a data-toggle="tooltip" title="Valor da base de cálculo da contribuição adicional para o financiamento dos benefícios de aposentadoria especial após 25 anos de contribuição."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtContratAvNP__remunAvNP__id__vrBcCp25" maxlength="14" value="{{original.evento_json|readjson:'evtContratAvNP.remunAvNP.vrBcCp25'}}" name="[evtContratAvNP][remunAvNP][vrBcCp25]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vrBcCp13__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da BC da CP (13 anos)<a data-toggle="tooltip" title="Valor da base de cálculo da contribuição previdenciária sobre o 13° salário dos trabalhadores avulsos não portuários contratados."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtContratAvNP__remunAvNP__id__vrBcCp13" maxlength="14" value="{{original.evento_json|readjson:'evtContratAvNP.remunAvNP.vrBcCp13'}}" name="[evtContratAvNP][remunAvNP][vrBcCp13]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vrBcFgts__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da BC do FGTS<a data-toggle="tooltip" title="Valor da base de cálculo do FGTS sobre a remuneração dos trabalhadores avulsos não portuários contratados."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtContratAvNP__remunAvNP__id__vrBcFgts" maxlength="14" value="{{original.evento_json|readjson:'evtContratAvNP.remunAvNP.vrBcFgts'}}" name="[evtContratAvNP][remunAvNP][vrBcFgts]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vrDescCP__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor total descontada dos segurados<a data-toggle="tooltip" title="Preencher com o valor total da contribuição descontada dos trabalhadores avulsos não portuários."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtContratAvNP__remunAvNP__id__vrDescCP" maxlength="14" value="{{original.evento_json|readjson:'evtContratAvNP.remunAvNP.vrDescCP'}}" name="[evtContratAvNP][remunAvNP][vrDescCP]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

</div>

</form>
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON();
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
$("#id_nrinsc").keyup(function() {
    var origem = document.getElementById("id_nrinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
$("#id_tpinsc").on('change', function() {
    var origem = document.getElementById("id_tpinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_procemi").on('change', function() {
    var origem = document.getElementById("id_procemi");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__procEmi_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_tpamb").on('change', function() {
    var origem = document.getElementById("id_tpamb");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__tpAmb_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_verproc").keyup(function() {
    var origem = document.getElementById("id_verproc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
</script>
