
{% load esocial_custom_tags %}
<form id="form_json">

<div class="row">

<div id="evtTotConting__div">
    <div class="col-md-12">
        <h4>Solicitação contingencial de totalização de bases de cálculo/contribuições. Regra de validação: REGRA_TOTALIZ_CONTING</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de identificação do evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="indApuracao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Indicativo do periodo de apuração<a data-toggle="tooltip" title="Indicativo de período de apuração: 1 - Mensal; 2 - Anual (13° salário). Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTotConting__ideEvento__id__indApuracao" name="[evtTotConting][ideEvento][indApuracao]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtTotConting.ideEvento.indApuracao' 1 %}selected{% endifequal %}>1 - Mensal</option><option value="2" {% ifequal original.evento_json|readjson:'evtTotConting.ideEvento.indApuracao' 2 %}selected{% endifequal %}>2 - Anual (13° salário). Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="perApur__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Período de Apuração<a data-toggle="tooltip" title="Informar o mês/ano (formato AAAA-MM) de referência das informações, se {indApuracao} for igual a [1], ou apenas o ano (formato AAAA), se {indApuracao} for igual a [2]. Validação: Deve ser um mês/ano ou ano válido, igual ou posterior à implementação do eSocial."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotConting__ideEvento__id__perApur" maxlength="7" value="{{original.evento_json|readjson:'evtTotConting.ideEvento.perApur'}}" name="[evtTotConting][ideEvento][perApur]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Identificação do ambiente</label>
            <select name="[evtTotConting][ideEvento][tpAmb]" id="evtTotConting__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtTotConting][ideEvento][tpAmb]" id="evtTotConting__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Processo de emissão do evento</label>
            <select name="[evtTotConting][ideEvento][procEmi]" id="evtTotConting__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtTotConting][ideEvento][procEmi]" id="evtTotConting__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Versão do processo</label>
            <input type="text" name="[evtTotConting][ideEvento][verProc]" value="{{original.procemi}}" class="vTextField" maxlength="20" id="evtTotConting__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtTotConting][ideEvento][verProc]" id="evtTotConting__ideEvento__id__verProc" value="{{original.procemi}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="ideEmpregador__div">
    <div class="col-md-12">
        <h4>Informações de identificação do empregador.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Tipo de inscrição</label>
            <select name="[evtTotConting][ideEmpregador][tpInsc]" id="evtTotConting__ideEmpregador__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtTotConting][ideEmpregador][tpInsc]" id="evtTotConting__ideEmpregador__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Número de inscrição (CPF/CNPJ)</label>
            <input type="text" id="evtTotConting__ideEmpregador__id__nrInsc_disabled" name="[evtTotConting][ideEmpregador][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtTotConting][ideEmpregador][nrInsc]" id="evtTotConting__ideEmpregador__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="ideRespInf__div">
    <div class="col-md-12">
        <h4>Responsável pelas informações.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="nmResp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Nome do Responsável pelas Informações<a data-toggle="tooltip" title="Nome do responsável pelas informações."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotConting__ideRespInf__id__nmResp" maxlength="70" value="{{original.evento_json|readjson:'evtTotConting.ideRespInf.nmResp'}}" name="[evtTotConting][ideRespInf][nmResp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="cpfResp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>CPF<a data-toggle="tooltip" title="Preencher com o CPF do responsável. Validação: Deve ser um número de CPF válido."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotConting__ideRespInf__id__cpfResp" maxlength="11" value="{{original.evento_json|readjson:'evtTotConting.ideRespInf.cpfResp'}}" name="[evtTotConting][ideRespInf][cpfResp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="telefone__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Telefone<a data-toggle="tooltip" title="Informar o número do telefone, com DDD. Validação: Deve conter apenas números, com o mínimo de dez dígitos."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotConting__ideRespInf__id__telefone" maxlength="13" value="{{original.evento_json|readjson:'evtTotConting.ideRespInf.telefone'}}" name="[evtTotConting][ideRespInf][telefone]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="email__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>E-mail<a data-toggle="tooltip" title="Endereço eletrônico. Validação: O e-mail deve possuir o caractere "@" e este não pode estar no início e no fim do e-mail. Deve possuir no mínimo um caractere "." depois do @ e não pode estar no fim do e-mail."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotConting__ideRespInf__id__email" maxlength="60" value="{{original.evento_json|readjson:'evtTotConting.ideRespInf.email'}}" name="[evtTotConting][ideRespInf][email]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

</div>

</form>
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON();
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
$("#id_nrinsc").keyup(function() {
    var origem = document.getElementById("id_nrinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
$("#id_tpinsc").on('change', function() {
    var origem = document.getElementById("id_tpinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_procemi").on('change', function() {
    var origem = document.getElementById("id_procemi");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__procEmi_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_tpamb").on('change', function() {
    var origem = document.getElementById("id_tpamb");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__tpAmb_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_verproc").keyup(function() {
    var origem = document.getElementById("id_verproc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
</script>
