
{% load esocial_custom_tags %}
<form id="form_json">

<div class="row">

<div id="evtTreiCap__div">
    <div class="col-md-12">
        <h4>Evento Treinamentos, Capacitações, Exercícios Simulados e Outras Anotações. Regras de validação: REGRA_EVENTOS_EXTEMP REGRA_EVENTO_EXT_SEM_IMPACTO_FOPAG REGRA_EXISTE_INFO_EMPREGADOR REGRA_EXTEMP_REINTEGRACAO REGRA_RETIFICA_MESMO_VINCULO REGRA_VALIDA_TRABALHADOR_BASE_CNIS</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de Identificação do Evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="indRetif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Identificador de retificação<a data-toggle="tooltip" title="Informe [1] para arquivo original ou [2] para arquivo de retificação. Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTreiCap__ideEvento__id__indRetif" name="[evtTreiCap][ideEvento][indRetif]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option>
            </select>
        </div>
    </div>
</div>

<div id="nrRecibo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número do recibo<a data-toggle="tooltip" title="Preencher com o número do recibo do arquivo a ser retificado. Validação: O preenchimento é obrigatório se {indRetif} = [2]. Deve ser um recibo de entrega válido, correspondente ao arquivo que está sendo retificado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTreiCap__ideEvento__id__nrRecibo" maxlength="40" value="{{original.evento_json|readjson:'evtTreiCap.ideEvento.nrRecibo'}}" name="[evtTreiCap][ideEvento][nrRecibo]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Identificação do ambiente</label>
            <select name="[evtTreiCap][ideEvento][tpAmb]" id="evtTreiCap__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtTreiCap][ideEvento][tpAmb]" id="evtTreiCap__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Processo de emissão do evento</label>
            <select name="[evtTreiCap][ideEvento][procEmi]" id="evtTreiCap__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtTreiCap][ideEvento][procEmi]" id="evtTreiCap__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Versão do processo</label>
            <input type="text" name="[evtTreiCap][ideEvento][verProc]" value="{{original.procemi}}" class="vTextField" maxlength="20" id="evtTreiCap__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtTreiCap][ideEvento][verProc]" id="evtTreiCap__ideEvento__id__verProc" value="{{original.procemi}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="ideEmpregador__div">
    <div class="col-md-12">
        <h4>Informações de identificação do empregador.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Tipo de inscrição</label>
            <select name="[evtTreiCap][ideEmpregador][tpInsc]" id="evtTreiCap__ideEmpregador__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtTreiCap][ideEmpregador][tpInsc]" id="evtTreiCap__ideEmpregador__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Número de inscrição (CPF/CNPJ)</label>
            <input type="text" id="evtTreiCap__ideEmpregador__id__nrInsc_disabled" name="[evtTreiCap][ideEmpregador][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtTreiCap][ideEmpregador][nrInsc]" id="evtTreiCap__ideEmpregador__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="ideVinculo__div">
    <div class="col-md-12">
        <h4>Informações de Identificação do Trabalhador e do Vínculo. Regras de validação: REGRA_TSV_ATIVO_NA_DTEVENTO REGRA_VINCULO_ATIVO_NA_DTEVENTO</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="cpfTrab__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>CPF<a data-toggle="tooltip" title="Preencher com o número do CPF do trabalhador. Validação: Deve ser um CPF válido."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTreiCap__ideVinculo__id__cpfTrab" maxlength="11" value="{{original.evento_json|readjson:'evtTreiCap.ideVinculo.cpfTrab'}}" name="[evtTreiCap][ideVinculo][cpfTrab]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="nisTrab__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>NIS<a data-toggle="tooltip" title="Preencher com o Número de Identificação Social - NIS, o qual pode ser o PIS, PASEP ou NIT. Validação: O preenchimento é obrigatório, exceto se o código de categoria do trabalhador for igual a [901, 903, 904]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTreiCap__ideVinculo__id__nisTrab" maxlength="11" value="{{original.evento_json|readjson:'evtTreiCap.ideVinculo.nisTrab'}}" name="[evtTreiCap][ideVinculo][nisTrab]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="matricula__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Matricula<a data-toggle="tooltip" title="Matrícula atribuída ao trabalhador pela empresa ou, no caso de servidor público, a matrícula constante no Sistema de Administração de Recursos Humanos do órgão. Validação: A matrícula deve corresponder à informada pelo empregador no evento S-2200 do respectivo vínculo trabalhista. Se o trabalhador não está sujeito a esse evento (S-2200), a matrícula não deve ser informada, porém, o trabalhador deve ter sido registrado como TSVE - Trabalhador Sem Vínculo de Emprego/Estatutário, através do evento S-2300."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTreiCap__ideVinculo__id__matricula" maxlength="30" value="{{original.evento_json|readjson:'evtTreiCap.ideVinculo.matricula'}}" name="[evtTreiCap][ideVinculo][matricula]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codCateg__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código da Categoria<a data-toggle="tooltip" title="Preencher com o código da categoria do trabalhador, conforme Tabela 01. Validação: Só informar se o trabalhador tiver sido registrado como TSVE - Trabalhador Sem Vínculo de Emprego/Estatutário, através do evento S-2300. Não informar nos demais casos. Se informado, deve existir na Tabela de Categorias de Trabalhadores (Tabela 01)."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTreiCap__ideVinculo__id__codCateg" maxlength="3" value="{{original.evento_json|readjson:'evtTreiCap.ideVinculo.codCateg'}}" name="[evtTreiCap][ideVinculo][codCateg]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="treiCap__div">
    <div class="col-md-12">
        <h4>Treinamentos, Capacitações e Exercícios Simulados Específicos para Trabalho.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="codTreiCap__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar o código do treinamento/capacitação<a data-toggle="tooltip" title="Informar o código do treinamento/capacitação/exercício simulado, conforme Tabela 29. Validação: Deve ser um código existente na Tabela 29 - Treinamentos, Capacitações, Exercícios Simulados e Outras Anotações."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTreiCap__treiCap__id__codTreiCap" maxlength="4" value="{{original.evento_json|readjson:'evtTreiCap.treiCap.codTreiCap'}}" name="[evtTreiCap][treiCap][codTreiCap]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="obsTreiCap__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Observação referente ao treinamento/capacitação/exercício simulado.<a data-toggle="tooltip" title="Observação referente ao treinamento/capacitação/exercício simulado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTreiCap__treiCap__id__obsTreiCap" maxlength="999" value="{{original.evento_json|readjson:'evtTreiCap.treiCap.obsTreiCap'}}" name="[evtTreiCap][treiCap][obsTreiCap]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="infoComplem__div">
    <div class="col-md-12">
        <h4>Informações complementares referentes ao treinamento/capacitação/exercício simulado.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="dtTreiCap__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar a data de início do treinamento/capacitação/autorização/exercício simulado ou a data de início da obrigatoriedade deste evento para o empregador no eSocial, a que for mais recente<a data-toggle="tooltip" title="Informar a data de início do treinamento/capacitação/autorização/exercício simulado ou a data de início da obrigatoriedade deste evento para o empregador no eSocial, a que for mais recente. Validação: Deve ser uma data válida, igual ou anterior à data atual e igual ou posterior à data de admissão do vínculo a que se refere. Não pode ser anterior à data de início da obrigatoriedade deste evento para o empregador no eSocial. Se {indTreinAnt} = [S], a data deve ser igual à data de admissão do vínculo."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTreiCap__treiCap__infoComplem__id__dtTreiCap" value="{{original.evento_json|readjson:'evtTreiCap.treiCap.infoComplem.dtTreiCap'}}" name="[evtTreiCap][treiCap][infoComplem][dtTreiCap]" onkeyup="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="durTreiCap__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar a duração do treinamento/capacitação, em horas.<a data-toggle="tooltip" title="Informar a duração do treinamento/capacitação/exercício simulado, em horas. Validação: O campo não deve ser preenchido se {codTreiCap} for igual a [1006, 1207, 3719]. O preenchimento é obrigatório nos demais casos."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTreiCap__treiCap__infoComplem__id__durTreiCap" maxlength="6" value="{{original.evento_json|readjson:'evtTreiCap.treiCap.infoComplem.durTreiCap'}}" name="[evtTreiCap][treiCap][infoComplem][durTreiCap]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="modTreiCap__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Modalidade do treinamento/capacitação<a data-toggle="tooltip" title="Modalidade do treinamento/capacitação/exercício simulado, conforme opções abaixo: 1 - Presencial; 2 - Educação a Distância (EaD); 3 - Semipresencial. Validação: O campo não deve ser preenchido se {codTreiCap} for igual a [1006, 1207, 3719]. O preenchimento é obrigatório nos demais casos. Valores Válidos: 1, 2, 3."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTreiCap__treiCap__infoComplem__id__modTreiCap" maxlength="1" value="{{original.evento_json|readjson:'evtTreiCap.treiCap.infoComplem.modTreiCap'}}" name="[evtTreiCap][treiCap][infoComplem][modTreiCap]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpTreiCap__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de treinamento/capacitação<a data-toggle="tooltip" title="Tipo de treinamento/capacitação/exercício simulado, conforme opções abaixo: 1 - Inicial; 2 - Periódico; 3 - Reciclagem; 4 - Eventual. 5 - Outros. Validação: O campo não deve ser preenchido se {codTreiCap} for igual a [1006, 1207, 3719]. O preenchimento é obrigatório nos demais casos. Valores Válidos: 1, 2, 3, 4, 5."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTreiCap__treiCap__infoComplem__id__tpTreiCap" name="[evtTreiCap][treiCap][infoComplem][tpTreiCap]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtTreiCap.treiCap.infoComplem.tpTreiCap' 1 %}selected{% endifequal %}>1 - Inicial</option><option value="2" {% ifequal original.evento_json|readjson:'evtTreiCap.treiCap.infoComplem.tpTreiCap' 2 %}selected{% endifequal %}>2 - Periódico</option><option value="3" {% ifequal original.evento_json|readjson:'evtTreiCap.treiCap.infoComplem.tpTreiCap' 3 %}selected{% endifequal %}>3 - Reciclagem</option><option value="4" {% ifequal original.evento_json|readjson:'evtTreiCap.treiCap.infoComplem.tpTreiCap' 4 %}selected{% endifequal %}>4 - Eventual. 5 - Outros. Validação</option>
            </select>
        </div>
    </div>
</div>

<div id="indTreinAnt__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Indicar se o treinamento ocorreu antes da admissão, em outro empregador<a data-toggle="tooltip" title="Indicar se o treinamento ocorreu em data anterior à admissão: S - Sim; N - Não. Valores Válidos: S, N."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTreiCap__treiCap__infoComplem__id__indTreinAnt" maxlength="1" value="{{original.evento_json|readjson:'evtTreiCap.treiCap.infoComplem.indTreinAnt'}}" name="[evtTreiCap][treiCap][infoComplem][indTreinAnt]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="ideProfResp__div">
    <div class="col-md-12">
        <h4>Informações relativas ao profissional responsável pelo treinamento/capacitação/exercício simulado.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="cpfProf__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o CPF do profissional responsável pelo treinamento/capacitação<a data-toggle="tooltip" title="Preencher com o CPF do profissional responsável pelo treinamento/capacitação/exercício simulado. Validação: Preenchimento obrigatório se {nacProf} = [1]. Se informado, deve ser um CPF válido e diferente do informado em {cpfTrab}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTreiCap__treiCap__infoComplem__ideProfResp__id__cpfProf" maxlength="11" value="{{original.evento_json|readjson:'evtTreiCap.treiCap.infoComplem.ideProfResp.cpfProf'}}" name="[evtTreiCap][treiCap][infoComplem][ideProfResp][cpfProf]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="nmProf__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Nome do profissional responsável pelo treinamento/capacitação.<a data-toggle="tooltip" title="Nome do profissional responsável pelo treinamento/capacitação/exercício simulado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTreiCap__treiCap__infoComplem__ideProfResp__id__nmProf" maxlength="70" value="{{original.evento_json|readjson:'evtTreiCap.treiCap.infoComplem.ideProfResp.nmProf'}}" name="[evtTreiCap][treiCap][infoComplem][ideProfResp][nmProf]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpProf__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>O treinamento/capacitação foi ministrado por<a data-toggle="tooltip" title="O treinamento/capacitação/exercício simulado foi ministrado por: 1 - Profissional empregado do declarante; 2 - Profissional sem vínculo de emprego/estatutário com o declarante. Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTreiCap__treiCap__infoComplem__ideProfResp__id__tpProf" name="[evtTreiCap][treiCap][infoComplem][ideProfResp][tpProf]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtTreiCap.treiCap.infoComplem.ideProfResp.tpProf' 1 %}selected{% endifequal %}>1 - Profissional empregado do declarante</option><option value="2" {% ifequal original.evento_json|readjson:'evtTreiCap.treiCap.infoComplem.ideProfResp.tpProf' 2 %}selected{% endifequal %}>2 - Profissional sem vínculo de emprego/estatutário com o declarante. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="formProf__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Formação do profissional responsável pelo treinamento/capacitação (seja acadêmica, prática ou outra forma).<a data-toggle="tooltip" title="Formação do profissional responsável pelo treinamento/capacitação/exercício simulado (seja acadêmica, prática ou outra forma)."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTreiCap__treiCap__infoComplem__ideProfResp__id__formProf" maxlength="255" value="{{original.evento_json|readjson:'evtTreiCap.treiCap.infoComplem.ideProfResp.formProf'}}" name="[evtTreiCap][treiCap][infoComplem][ideProfResp][formProf]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codCBO__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>CBO<a data-toggle="tooltip" title="Informar a Classificação Brasileira de Ocupação - CBO referente à formação do profissional responsável pelo treinamento/capacitação/exercício simulado. Validação: Deve ser um código existente na tabela de CBO, com 6 (seis) posições."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTreiCap__treiCap__infoComplem__ideProfResp__id__codCBO" maxlength="6" value="{{original.evento_json|readjson:'evtTreiCap.treiCap.infoComplem.ideProfResp.codCBO'}}" name="[evtTreiCap][treiCap][infoComplem][ideProfResp][codCBO]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="nacProf__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Indicativo da nacionalidade do profissional responsável pelo treinamento/capacitação/exercício simulado<a data-toggle="tooltip" title="Indicativo da nacionalidade do profissional responsável pelo treinamento/capacitação/exercício simulado: 1 - Brasileiro; 2 - Estrangeiro. Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTreiCap__treiCap__infoComplem__ideProfResp__id__nacProf" name="[evtTreiCap][treiCap][infoComplem][ideProfResp][nacProf]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtTreiCap.treiCap.infoComplem.ideProfResp.nacProf' 1 %}selected{% endifequal %}>1 - Brasileiro</option><option value="2" {% ifequal original.evento_json|readjson:'evtTreiCap.treiCap.infoComplem.ideProfResp.nacProf' 2 %}selected{% endifequal %}>2 - Estrangeiro. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

</div>

</form>
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON();
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
$("#id_nrinsc").keyup(function() {
    var origem = document.getElementById("id_nrinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
$("#id_tpinsc").on('change', function() {
    var origem = document.getElementById("id_tpinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_procemi").on('change', function() {
    var origem = document.getElementById("id_procemi");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__procEmi_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_tpamb").on('change', function() {
    var origem = document.getElementById("id_tpamb");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__tpAmb_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_verproc").keyup(function() {
    var origem = document.getElementById("id_verproc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
</script>
