
{% load esocial_custom_tags %}
<form id="form_json">

<div class="row">

<div id="evtConvInterm__div">
    <div class="col-md-12">
        <h4>Evento Convocação para Trabalho Intermitente. Regras de validação: REGRA_EVENTOS_EXTEMP REGRA_EXISTE_INFO_EMPREGADOR REGRA_EXISTE_VINCULO REGRA_EXTEMP_REINTEGRACAO REGRA_GERAL_VALIDA_DADOS_TABCONTRIB REGRA_RETIFICA_MESMO_VINCULO REGRA_VALIDA_TRABALHADOR_BASE_CNIS REGRA_VINCULO_ATIVO_NA_DTEVENTO</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de Identificação do Evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="indRetif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Identificador de retificação<a data-toggle="tooltip" title="Informe [1] para arquivo original ou [2] para arquivo de retificação. Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtConvInterm__ideEvento__id__indRetif" name="[evtConvInterm][ideEvento][indRetif]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option>
            </select>
        </div>
    </div>
</div>

<div id="nrRecibo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número do recibo<a data-toggle="tooltip" title="Preencher com o número do recibo do arquivo a ser retificado. Validação: O preenchimento é obrigatório se {indRetif} = [2]. Deve ser um recibo de entrega válido, correspondente ao arquivo que está sendo retificado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__ideEvento__id__nrRecibo" maxlength="40" value="{{original.evento_json|readjson:'evtConvInterm.ideEvento.nrRecibo'}}" name="[evtConvInterm][ideEvento][nrRecibo]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Identificação do ambiente</label>
            <select name="[evtConvInterm][ideEvento][tpAmb]" id="evtConvInterm__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtConvInterm][ideEvento][tpAmb]" id="evtConvInterm__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Processo de emissão do evento</label>
            <select name="[evtConvInterm][ideEvento][procEmi]" id="evtConvInterm__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtConvInterm][ideEvento][procEmi]" id="evtConvInterm__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Versão do processo</label>
            <input type="text" name="[evtConvInterm][ideEvento][verProc]" value="{{original.procemi}}" class="vTextField" maxlength="20" id="evtConvInterm__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtConvInterm][ideEvento][verProc]" id="evtConvInterm__ideEvento__id__verProc" value="{{original.procemi}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="ideEmpregador__div">
    <div class="col-md-12">
        <h4>Informações de identificação do empregador.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Tipo de inscrição</label>
            <select name="[evtConvInterm][ideEmpregador][tpInsc]" id="evtConvInterm__ideEmpregador__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtConvInterm][ideEmpregador][tpInsc]" id="evtConvInterm__ideEmpregador__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Número de inscrição (CPF/CNPJ)</label>
            <input type="text" id="evtConvInterm__ideEmpregador__id__nrInsc_disabled" name="[evtConvInterm][ideEmpregador][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtConvInterm][ideEmpregador][nrInsc]" id="evtConvInterm__ideEmpregador__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="ideVinculo__div">
    <div class="col-md-12">
        <h4>Informações de Identificação do Trabalhador e do Vínculo.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="cpfTrab__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>CPF<a data-toggle="tooltip" title="Preencher com o número do CPF do trabalhador. Validação: Deve ser um CPF válido."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__ideVinculo__id__cpfTrab" maxlength="11" value="{{original.evento_json|readjson:'evtConvInterm.ideVinculo.cpfTrab'}}" name="[evtConvInterm][ideVinculo][cpfTrab]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="nisTrab__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>NIS<a data-toggle="tooltip" title="Preencher com o Número de Identificação Social - NIS, o qual pode ser o PIS, PASEP ou NIT."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__ideVinculo__id__nisTrab" maxlength="11" value="{{original.evento_json|readjson:'evtConvInterm.ideVinculo.nisTrab'}}" name="[evtConvInterm][ideVinculo][nisTrab]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="matricula__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Matricula<a data-toggle="tooltip" title="Matrícula atribuída ao trabalhador pela empresa ou, no caso de servidor público, a matrícula constante no Sistema de Administração de Recursos Humanos do órgão. Validação: Deve corresponder à matrícula informada pelo empregador no evento S-2200 do respectivo vínculo trabalhista."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__ideVinculo__id__matricula" maxlength="30" value="{{original.evento_json|readjson:'evtConvInterm.ideVinculo.matricula'}}" name="[evtConvInterm][ideVinculo][matricula]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoConvInterm__div">
    <div class="col-md-12">
        <h4>Informações da convocação para trabalho intermitente.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="codConv__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o código atribuído pela empresa que identifica a convocação para trabalho intermitente<a data-toggle="tooltip" title="Preencher com o código atribuído pela empresa que identifica a convocação para trabalho intermitente. Regra de validação: REGRA_CARACTER_ESPECIAL"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__infoConvInterm__id__codConv" maxlength="30" value="{{original.evento_json|readjson:'evtConvInterm.infoConvInterm.codConv'}}" name="[evtConvInterm][infoConvInterm][codConv]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dtInicio__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data de início<a data-toggle="tooltip" title="Preencher com a data de início da prestação de trabalho intermitente. Se a data de início da prestação for anterior ao inicio da obrigatoriedade dos eventos não periódicos, informar a data de inicio da obrigatoriedade. Validação: Deve ser uma data válida, igual ou posterior a data de admissão do trabalhador (no caso de sucessão ou mudança de CPF, igual ou posterior à data da transferência ou à data de alteração do CPF, respectivamente) e igual ou posterior à data de início da obrigatoriedade dos eventos não periódicos para o empregador no eSocial."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__infoConvInterm__id__dtInicio" value="{{original.evento_json|readjson:'evtConvInterm.infoConvInterm.dtInicio'}}" name="[evtConvInterm][infoConvInterm][dtInicio]" onkeyup="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dtFim__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data de término da responsabilidade<a data-toggle="tooltip" title="Preencher com a data de término da prestação de trabalho intermitente. Validação: Deve ser uma data valida e igual ou posterior a {dtInicio}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__infoConvInterm__id__dtFim" value="{{original.evento_json|readjson:'evtConvInterm.infoConvInterm.dtFim'}}" name="[evtConvInterm][infoConvInterm][dtFim]" onkeyup="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dtPrevPgto__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a data prevista para o pagamento da remuneração<a data-toggle="tooltip" title="Preencher com a data prevista para o pagamento da remuneração. Caso a convocação compreenda mais de um período de apuração, preencher com a data prevista para o pagamento da remuneração do último mês. Validação: Deve ser uma data válida e igual ou posterior a data de admissão do trabalhador (no caso de sucessão ou mudança de CPF, igual ou posterior à data da transferência ou à data de alteração do CPF, respectivamente)."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__infoConvInterm__id__dtPrevPgto" value="{{original.evento_json|readjson:'evtConvInterm.infoConvInterm.dtPrevPgto'}}" name="[evtConvInterm][infoConvInterm][dtPrevPgto]" onkeyup="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="jornada__div">
    <div class="col-md-12">
        <h4>Informações da(s) jornada(s) diária(s) da prestação de trabalho intermitente.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="codHorContrat__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código do Horário Contratual<a data-toggle="tooltip" title="Preencher com o código atribuído pela empresa para o horário da prestação de trabalho intermitente, caso a jornada diária seja fixa durante o período da convocação e não haja prestação de serviços em dias alternados. Validação: O preenchimento é obrigatório se {dscJornada} não for preenchido. O valor informado deve existir na Tabela de Horários/Turnos de Trabalho - S-1050."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__infoConvInterm__jornada__id__codHorContrat" maxlength="30" value="{{original.evento_json|readjson:'evtConvInterm.infoConvInterm.jornada.codHorContrat'}}" name="[evtConvInterm][infoConvInterm][jornada][codHorContrat]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dscJornada__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Descrição das jornadas e dos dias da prestação de trabalho intermitente<a data-toggle="tooltip" title="Descrição das jornadas e dos dias da prestação de trabalho intermitente, caso a jornada diária seja variável durante o período da convocação ou haja prestação de serviços em dias alternados. Validação: O preenchimento é obrigatório se {codHorContrat} não for preenchido."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__infoConvInterm__jornada__id__dscJornada" maxlength="999" value="{{original.evento_json|readjson:'evtConvInterm.infoConvInterm.jornada.dscJornada'}}" name="[evtConvInterm][infoConvInterm][jornada][dscJornada]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="localTrab__div">
    <div class="col-md-12">
        <h4>Informações do local da prestação de trabalho intermitente.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="indLocal__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Indicativo do local da prestação de trabalho intermitente<a data-toggle="tooltip" title="Indicativo do local da prestação de trabalho intermitente: 0 - Prestação de serviços no estabelecimento informado no grupo {localTrabGeral} do S-2200 ou S-2206, quando for o caso; 1 - Prestação de serviços em apenas um local e fora do estabelecimento informado no grupo {localTrabGeral} do S-2200 ou S-2206, quando for o caso; 2 - Prestação de serviços de natureza externa ou em mais de um local. Valores Válidos: 0, 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtConvInterm__infoConvInterm__localTrab__id__indLocal" name="[evtConvInterm][infoConvInterm][localTrab][indLocal]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="0" {% ifequal original.evento_json|readjson:'evtConvInterm.infoConvInterm.localTrab.indLocal' 0 %}selected{% endifequal %}>0 - Prestação de serviços no estabelecimento informado no grupo {localTrabGeral} do S-2200 ou S-2206, quando for o caso</option><option value="1" {% ifequal original.evento_json|readjson:'evtConvInterm.infoConvInterm.localTrab.indLocal' 1 %}selected{% endifequal %}>1 - Prestação de serviços em apenas um local e fora do estabelecimento informado no grupo {localTrabGeral} do S-2200 ou S-2206, quando for o caso</option><option value="2" {% ifequal original.evento_json|readjson:'evtConvInterm.infoConvInterm.localTrab.indLocal' 2 %}selected{% endifequal %}>2 - Prestação de serviços de natureza externa ou em mais de um local. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="localTrabInterm__div">
    <div class="col-md-12">
        <h4>Informações do local de trabalho intermitente, quando prestado em apenas um local e fora do estabelecimento do empregador cadastrado no S-2200/S-2206.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpLograd__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de logradouro<a data-toggle="tooltip" title="Tipo de Logradouro, conforme tabela 20. Validação: Deve ser um código válido, existente na tabela 20."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__infoConvInterm__localTrab__localTrabInterm__id__tpLograd" maxlength="4" value="{{original.evento_json|readjson:'evtConvInterm.infoConvInterm.localTrab.localTrabInterm.tpLograd'}}" name="[evtConvInterm][infoConvInterm][localTrab][localTrabInterm][tpLograd]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dscLograd__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Logradouro<a data-toggle="tooltip" title="Descrição do logradouro."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__infoConvInterm__localTrab__localTrabInterm__id__dscLograd" maxlength="100" value="{{original.evento_json|readjson:'evtConvInterm.infoConvInterm.localTrab.localTrabInterm.dscLograd'}}" name="[evtConvInterm][infoConvInterm][localTrab][localTrabInterm][dscLograd]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="nrLograd__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número<a data-toggle="tooltip" title="Número do logradouro."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__infoConvInterm__localTrab__localTrabInterm__id__nrLograd" maxlength="10" value="{{original.evento_json|readjson:'evtConvInterm.infoConvInterm.localTrab.localTrabInterm.nrLograd'}}" name="[evtConvInterm][infoConvInterm][localTrab][localTrabInterm][nrLograd]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="complem__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Complemento<a data-toggle="tooltip" title="Complemento do logradouro."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__infoConvInterm__localTrab__localTrabInterm__id__complem" maxlength="30" value="{{original.evento_json|readjson:'evtConvInterm.infoConvInterm.localTrab.localTrabInterm.complem'}}" name="[evtConvInterm][infoConvInterm][localTrab][localTrabInterm][complem]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="bairro__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Bairro<a data-toggle="tooltip" title="Nome do bairro/distrito."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__infoConvInterm__localTrab__localTrabInterm__id__bairro" maxlength="90" value="{{original.evento_json|readjson:'evtConvInterm.infoConvInterm.localTrab.localTrabInterm.bairro'}}" name="[evtConvInterm][infoConvInterm][localTrab][localTrabInterm][bairro]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="cep__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>CEP<a data-toggle="tooltip" title="Código de Endereçamento Postal - CEP. Validação: Deve ser preenchido apenas com números. Deve ser um CEP válido."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__infoConvInterm__localTrab__localTrabInterm__id__cep" maxlength="8" value="{{original.evento_json|readjson:'evtConvInterm.infoConvInterm.localTrab.localTrabInterm.cep'}}" name="[evtConvInterm][infoConvInterm][localTrab][localTrabInterm][cep]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codMunic__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código do Município<a data-toggle="tooltip" title="Preencher com o código do município, conforme tabela do IBGE. Validação: Se informado, deve ser um código existente na tabela do IBGE."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtConvInterm__infoConvInterm__localTrab__localTrabInterm__id__codMunic" maxlength="7" value="{{original.evento_json|readjson:'evtConvInterm.infoConvInterm.localTrab.localTrabInterm.codMunic'}}" name="[evtConvInterm][infoConvInterm][localTrab][localTrabInterm][codMunic]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="uf__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>UF<a data-toggle="tooltip" title="Preencher com a sigla da Unidade da Federação. Validação: Deve ser uma UF válida."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtConvInterm__infoConvInterm__localTrab__localTrabInterm__id__uf" name="[evtConvInterm][infoConvInterm][localTrab][localTrabInterm][uf]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option>
            </select>
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

</div>

</form>
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON();
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
$("#id_nrinsc").keyup(function() {
    var origem = document.getElementById("id_nrinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
$("#id_tpinsc").on('change', function() {
    var origem = document.getElementById("id_tpinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_procemi").on('change', function() {
    var origem = document.getElementById("id_procemi");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__procEmi_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_tpamb").on('change', function() {
    var origem = document.getElementById("id_tpamb");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__tpAmb_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_verproc").keyup(function() {
    var origem = document.getElementById("id_verproc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
</script>
