
{% load esocial_custom_tags %}
{% with evtCdBenAlt=original.evento_json|readjson:'evtCdBenAlt' %}
<form id="form_json">

<div class="row">

<div id="evtCdBenAlt__div">
    <div class="col-md-12">
        <h4>Evento Cadastro de Benefício - Entes Públicos - Alteração.
Regras de validação:
REGRA_ALTERA_TIPO_BENEFICIO
REGRA_BENEFICIO_ATIVO_NA_DTEVENTO
REGRA_ENVIO_PROC_FECHAMENTO
REGRA_EVENTOS_EXTEMP
REGRA_EXISTE_INFO_EMPREGADOR
REGRA_EXTEMP_REATIVACAO
REGRA_RETIFICA_MESMO_BENEFICIO</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de identificação do evento.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="indRetif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informe [1] para arquivo original ou [2] para arquivo de retificação<a data-toggle="tooltip" title="Informe [1] para arquivo original ou [2] para arquivo de retificação.
Valores válidos:
1 - Original
2 - Retificação"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCdBenAlt__ideEvento__id__indRetif" name="[evtCdBenAlt][ideEvento][indRetif]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal evtCdBenAlt|readjson:'ideEvento.indRetif'|to_str '1' %}selected{% endifequal %}>1 - Original</option><option value='2' {% ifequal evtCdBenAlt|readjson:'ideEvento.indRetif'|to_str '2' %}selected{% endifequal %}>2 - Retificação</option>
            </select>
        </div>
    </div>
</div>

<div id="nrRecibo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o número do recibo do arquivo a ser retificado<a data-toggle="tooltip" title="Preencher com o número do recibo do arquivo a ser retificado.
Validação: O preenchimento é obrigatório se indRetif = [2].
Deve ser um recibo de entrega válido, correspondente ao arquivo que está sendo retificado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenAlt__ideEvento__id__nrRecibo" maxlength="23" value="{{evtCdBenAlt|readjson:'ideEvento.nrRecibo'}}" name="[evtCdBenAlt][ideEvento][nrRecibo]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Identificação do ambiente</label>
            <select name="[evtCdBenAlt][ideEvento][tpAmb]" id="evtCdBenAlt__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtCdBenAlt][ideEvento][tpAmb]" id="evtCdBenAlt__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Processo de emissão do evento</label>
            <select name="[evtCdBenAlt][ideEvento][procEmi]" id="evtCdBenAlt__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtCdBenAlt][ideEvento][procEmi]" id="evtCdBenAlt__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Versão do processo de emissão do evento</label>
            <input type="text" name="[evtCdBenAlt][ideEvento][verProc]" value="{{original.verproc}}" class="vTextField" maxlength="20" id="evtCdBenAlt__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtCdBenAlt][ideEvento][verProc]" id="evtCdBenAlt__ideEvento__id__verProc" value="{{original.verproc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
<div id="ideEmpregador__div">
    <div class="col-md-12">
        <h4>Informações de identificação do empregador.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Preencher com o código correspondente ao tipo de inscrição</label>
            <select name="[evtCdBenAlt][ideEmpregador][tpInsc]" id="evtCdBenAlt__ideEmpregador__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtCdBenAlt][ideEmpregador][tpInsc]" id="evtCdBenAlt__ideEmpregador__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo ideEmpregador/tpInsc e conforme informado em S-1000</label>
            <input type="text" id="evtCdBenAlt__ideEmpregador__id__nrInsc_disabled" name="[evtCdBenAlt][ideEmpregador][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtCdBenAlt][ideEmpregador][nrInsc]" id="evtCdBenAlt__ideEmpregador__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
<div id="ideBeneficio__div">
    <div class="col-md-12">
        <h4>Identificação do beneficiário e do benefício.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="cpfBenef__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número de inscrição no Cadastro de Pessoas Físicas - CPF do beneficiário do pagamento<a data-toggle="tooltip" title="Informar o CPF do beneficiário."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenAlt__ideBeneficio__id__cpfBenef" maxlength="11" value="{{evtCdBenAlt|readjson:'ideBeneficio.cpfBenef'}}" name="[evtCdBenAlt][ideBeneficio][cpfBenef]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="nrBeneficio__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número do benefício<a data-toggle="tooltip" title="Número do benefício."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenAlt__ideBeneficio__id__nrBeneficio" maxlength="20" value="{{evtCdBenAlt|readjson:'ideBeneficio.nrBeneficio'}}" name="[evtCdBenAlt][ideBeneficio][nrBeneficio]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
<div id="infoBenAlteracao__div">
    <div class="col-md-12">
        <h4>Informações do benefício - Alteração.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="dtAltBeneficio__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data de alteração das informações relativas ao benefício<a data-toggle="tooltip" title="Data de alteração das informações relativas ao benefício.
Validação: Deve ser igual ou anterior à data atual."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenAlt__infoBenAlteracao__id__dtAltBeneficio" value="{{evtCdBenAlt|readjson:'infoBenAlteracao.dtAltBeneficio'}}" name="[evtCdBenAlt][infoBenAlteracao][dtAltBeneficio]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dadosBeneficio__div">
    <div class="col-md-12">
        <h4>Dados relativos ao benefício.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="tpBeneficio__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de benefício<a data-toggle="tooltip" title="Tipo de benefício.
Validação: Deve ser um código válido e existente na Tabela 25. Se cadIni em S-2410 for igual a [N], não é permitido utilizar código do grupo [08] dessa tabela."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenAlt__infoBenAlteracao__dadosBeneficio__id__tpBeneficio" maxlength="4" value="{{evtCdBenAlt|readjson:'infoBenAlteracao.dadosBeneficio.tpBeneficio'}}" name="[evtCdBenAlt][infoBenAlteracao][dadosBeneficio][tpBeneficio]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpPlanRP__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de plano de segregação da massa<a data-toggle="tooltip" title="Tipo de plano de segregação da massa.
Valores válidos:
0 - Sem segregação da massa
1 - Fundo em capitalização
2 - Fundo em repartição
3 - Mantido pelo Tesouro"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCdBenAlt__infoBenAlteracao__dadosBeneficio__id__tpPlanRP" name="[evtCdBenAlt][infoBenAlteracao][dadosBeneficio][tpPlanRP]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='0' {% ifequal evtCdBenAlt|readjson:'infoBenAlteracao.dadosBeneficio.tpPlanRP'|to_str '0' %}selected{% endifequal %}>0 - Sem segregação da massa</option><option value='1' {% ifequal evtCdBenAlt|readjson:'infoBenAlteracao.dadosBeneficio.tpPlanRP'|to_str '1' %}selected{% endifequal %}>1 - Fundo em capitalização</option><option value='2' {% ifequal evtCdBenAlt|readjson:'infoBenAlteracao.dadosBeneficio.tpPlanRP'|to_str '2' %}selected{% endifequal %}>2 - Fundo em repartição</option><option value='3' {% ifequal evtCdBenAlt|readjson:'infoBenAlteracao.dadosBeneficio.tpPlanRP'|to_str '3' %}selected{% endifequal %}>3 - Mantido pelo Tesouro</option>
            </select>
        </div>
    </div>
</div>

<div id="dsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Descrição do instrumento ou situação que originou o pagamento das verbas relativas a períodos anteriores<a data-toggle="tooltip" title="Descrição do instrumento ou situação que originou o pagamento do benefício.
Validação: Preenchimento obrigatório se tpBeneficio = [0909, 1001, 1009]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenAlt__infoBenAlteracao__dadosBeneficio__id__dsc" maxlength="255" value="{{evtCdBenAlt|readjson:'infoBenAlteracao.dadosBeneficio.dsc'}}" name="[evtCdBenAlt][infoBenAlteracao][dadosBeneficio][dsc]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="indSuspensao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Indicativo de suspensão do benefício<a data-toggle="tooltip" title="Indicativo de suspensão do benefício.
Valores válidos:
S - Sim
N - Não"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCdBenAlt__infoBenAlteracao__dadosBeneficio__id__indSuspensao" name="[evtCdBenAlt][infoBenAlteracao][dadosBeneficio][indSuspensao]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='S' {% ifequal evtCdBenAlt|readjson:'infoBenAlteracao.dadosBeneficio.indSuspensao'|to_str 'S' %}selected{% endifequal %}>S - Sim</option><option value='N' {% ifequal evtCdBenAlt|readjson:'infoBenAlteracao.dadosBeneficio.indSuspensao'|to_str 'N' %}selected{% endifequal %}>N - Não</option>
            </select>
        </div>
    </div>
</div>

<div id="infoPenMorte__div">
    <div class="col-md-12">
        <h4>Informações relativas à pensão por morte.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="tpPenMorte__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de pensão por morte<a data-toggle="tooltip" title="Tipo de pensão por morte.
Valores válidos:
1 - Vitalícia
2 - Temporária"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCdBenAlt__infoBenAlteracao__dadosBeneficio__infoPenMorte__id__tpPenMorte" name="[evtCdBenAlt][infoBenAlteracao][dadosBeneficio][infoPenMorte][tpPenMorte]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal evtCdBenAlt|readjson:'infoBenAlteracao.dadosBeneficio.infoPenMorte.tpPenMorte'|to_str '1' %}selected{% endifequal %}>1 - Vitalícia</option><option value='2' {% ifequal evtCdBenAlt|readjson:'infoBenAlteracao.dadosBeneficio.infoPenMorte.tpPenMorte'|to_str '2' %}selected{% endifequal %}>2 - Temporária</option>
            </select>
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
<div id="suspensao__div">
    <div class="col-md-12">
        <h4>Informações referentes à suspensão do benefício.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="mtvSuspensao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Motivo da suspensão do benefício<a data-toggle="tooltip" title="Motivo da suspensão do benefício.
Valores válidos:
01 - Suspensão por não recadastramento
99 - Outros motivos de suspensão"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCdBenAlt__infoBenAlteracao__dadosBeneficio__suspensao__id__mtvSuspensao" name="[evtCdBenAlt][infoBenAlteracao][dadosBeneficio][suspensao][mtvSuspensao]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='01' {% ifequal evtCdBenAlt|readjson:'infoBenAlteracao.dadosBeneficio.suspensao.mtvSuspensao'|to_str '01' %}selected{% endifequal %}>01 - Suspensão por não recadastramento</option><option value='99' {% ifequal evtCdBenAlt|readjson:'infoBenAlteracao.dadosBeneficio.suspensao.mtvSuspensao'|to_str '99' %}selected{% endifequal %}>99 - Outros motivos de suspensão</option>
            </select>
        </div>
    </div>
</div>

<div id="dscSuspensao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Descrição do motivo da suspensão do benefício<a data-toggle="tooltip" title="Descrição do motivo da suspensão do benefício.
Validação: Preenchimento obrigatório e exclusivo se mtvSuspensao = [99]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenAlt__infoBenAlteracao__dadosBeneficio__suspensao__id__dscSuspensao" maxlength="255" value="{{evtCdBenAlt|readjson:'infoBenAlteracao.dadosBeneficio.suspensao.dscSuspensao'}}" name="[evtCdBenAlt][infoBenAlteracao][dadosBeneficio][suspensao][dscSuspensao]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
</div>

</form>
{% endwith %}
{% if original.is_aberto %}
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON({useIntKeysAsArrayIndex: true});
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
</script>
{% endif %}
