{% load i18n %}{% autoescape off %}

{% comment %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endcomment %}

Você está recebendo este email porque solicitou a redefinição da senha da sua conta no sistema "Nossa Defensoria".

Por favor, acesse a seguinte página e escolha uma nova senha:

https://nossa.defensoria.ce.def.br{% url 'password_reset_confirm' uidb64=uid token=token %}

Seu nome de usuário, caso tenha esquecido: {{ user.get_username }}

Obrigado por usar nosso site!

Equipe Nossa Defensoria

{% endautoescape %}
