{% extends "admin/base_site_login.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h4>{{ title }}</h4>{% endblock %}
{% block content %}

<p>Deseja gerar uma nova senha ou esqueceu a senha? Forneça o seu endereço de email abaixo e te enviaremos instruções para definir uma nova.</p>

<form method="post">{% csrf_token %}

{% comment %}
{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Email address:' %}</label>
        {{ form.email }}
    </div>
{% endcomment %}

<div class="form-group has-feedback">
{{ form.email.errors }}
<input type="email" name="email" maxlength="254" 
    required="" id="id_email" 
    placeholder="Endereço de email" class="form-control">
<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
</div>
<div class="row">
    <div class="col-xs-12">
        <input type="submit" value="{% trans 'Reset my password' %}" 
               class="btn btn-primary btn-block btn-flat">
    </div>
</div>

</form>

{% endblock %}
