
{% load esocial_custom_tags %}
<form id="form_json">

<div class="row">

<div id="evtInfoComplPer__div">
    <div class="col-md-12">
        <h4>S-1280 - Informações Complementares aos Eventos Periódicos</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de identificação do evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="indRetif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indRetif<a data-toggle="tooltip" title="Informe [1] para arquivo original ou [2] para arquivo de retificação.
Valores válidos:
1 - Original
2 - Retificação"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtInfoComplPer__ideEvento__id__indRetif" name="[evtInfoComplPer][ideEvento][indRetif]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal original.evento_json|readjson:'evtInfoComplPer.ideEvento.indRetif' '1' %}selected{% endifequal %}>1 - Original</option><option value='2' {% ifequal original.evento_json|readjson:'evtInfoComplPer.ideEvento.indRetif' '2' %}selected{% endifequal %}>2 - Retificação</option>
            </select>
        </div>
    </div>
</div>

<div id="nrRecibo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>nrRecibo<a data-toggle="tooltip" title="Preencher com o número do recibo do arquivo a ser retificado.
Validação: O preenchimento é obrigatório se indRetif = [2].
Deve ser um recibo de entrega válido, correspondente ao arquivo que está sendo retificado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtInfoComplPer__ideEvento__id__nrRecibo" maxlength="23" value="{{original.evento_json|readjson:'evtInfoComplPer.ideEvento.nrRecibo'}}" name="[evtInfoComplPer][ideEvento][nrRecibo]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="indApuracao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indApuracao<a data-toggle="tooltip" title="Indicativo de período de apuração.
Valores válidos:
1 - Mensal
2 - Anual (13° salário)"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtInfoComplPer__ideEvento__id__indApuracao" name="[evtInfoComplPer][ideEvento][indApuracao]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal original.evento_json|readjson:'evtInfoComplPer.ideEvento.indApuracao' '1' %}selected{% endifequal %}>1 - Mensal</option><option value='2' {% ifequal original.evento_json|readjson:'evtInfoComplPer.ideEvento.indApuracao' '2' %}selected{% endifequal %}>2 - Anual (13° salário)</option>
            </select>
        </div>
    </div>
</div>

<div id="perApur__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>perApur<a data-toggle="tooltip" title="Informar o mês/ano (formato AAAA-MM) de referência das informações, se indApuracao for igual a [1], ou apenas o ano (formato AAAA), se indApuracao for igual a [2].
Validação: Deve ser um mês/ano ou ano válido, igual ou posterior ao início da obrigatoriedade dos eventos periódicos para o empregador."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtInfoComplPer__ideEvento__id__perApur" maxlength="7" value="{{original.evento_json|readjson:'evtInfoComplPer.ideEvento.perApur'}}" name="[evtInfoComplPer][ideEvento][perApur]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="indGuia__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indGuia<a data-toggle="tooltip" title="Indicativo do tipo de guia.
Valores válidos:
1 - Documento de Arrecadação do eSocial - DAE"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtInfoComplPer__ideEvento__id__indGuia" name="[evtInfoComplPer][ideEvento][indGuia]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal original.evento_json|readjson:'evtInfoComplPer.ideEvento.indGuia' '1' %}selected{% endifequal %}>1 - Documento de Arrecadação do eSocial - DAE</option>
            </select>
        </div>
    </div>
</div>

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">tpAmb</label>
            <select name="[evtInfoComplPer][ideEvento][tpAmb]" id="evtInfoComplPer__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtInfoComplPer][ideEvento][tpAmb]" id="evtInfoComplPer__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">procEmi</label>
            <select name="[evtInfoComplPer][ideEvento][procEmi]" id="evtInfoComplPer__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtInfoComplPer][ideEvento][procEmi]" id="evtInfoComplPer__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">verProc</label>
            <input type="text" name="[evtInfoComplPer][ideEvento][verProc]" value="{{original.procemi}}" class="vTextField" maxlength="20" id="evtInfoComplPer__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtInfoComplPer][ideEvento][verProc]" id="evtInfoComplPer__ideEvento__id__verProc" value="{{original.procemi}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="ideEmpregador__div">
    <div class="col-md-12">
        <h4>Informações de identificação do empregador.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">tpInsc</label>
            <select name="[evtInfoComplPer][ideEmpregador][tpInsc]" id="evtInfoComplPer__ideEmpregador__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtInfoComplPer][ideEmpregador][tpInsc]" id="evtInfoComplPer__ideEmpregador__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">nrInsc</label>
            <input type="text" id="evtInfoComplPer__ideEmpregador__id__nrInsc_disabled" name="[evtInfoComplPer][ideEmpregador][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtInfoComplPer][ideEmpregador][nrInsc]" id="evtInfoComplPer__ideEmpregador__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="infoSubstPatr__div">
    <div class="col-md-12">
        <h4>Grupo preenchido exclusivamente por empresa enquadrada nos arts. 7º a 9º da Lei 12.546/2011, conforme classificação tributária indicada no evento S-1000.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="indSubstPatr__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>indSubstPatr<a data-toggle="tooltip" title="Indicativo de substituição da contribuição previdenciária patronal.
Valores válidos:
1 - Integralmente substituída
2 - Parcialmente substituída"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtInfoComplPer__infoSubstPatr__id__indSubstPatr" name="[evtInfoComplPer][infoSubstPatr][indSubstPatr]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal original.evento_json|readjson:'evtInfoComplPer.infoSubstPatr.indSubstPatr' '1' %}selected{% endifequal %}>1 - Integralmente substituída</option><option value='2' {% ifequal original.evento_json|readjson:'evtInfoComplPer.infoSubstPatr.indSubstPatr' '2' %}selected{% endifequal %}>2 - Parcialmente substituída</option>
            </select>
        </div>
    </div>
</div>

<div id="percRedContrib__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>percRedContrib<a data-toggle="tooltip" title="Percentual não substituído pela contribuição prevista na Lei 12.546/2011.
Informar 0 (zero) se indSubstPatr = [1]. Caso contrário, preencher com o percentual correspondente à razão entre a receita de atividades não relacionadas nos arts. 7º e 8º da Lei 12.546/2011 e a receita bruta total.
Validação: Se indSubstPatr = [1], informar 0 (zero)."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtInfoComplPer__infoSubstPatr__id__percRedContrib" maxlength="5" value="{{original.evento_json|readjson:'evtInfoComplPer.infoSubstPatr.percRedContrib'}}" name="[evtInfoComplPer][infoSubstPatr][percRedContrib]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoSubstPatrOpPort__div">
    <div class="col-md-12">
        <h4>Grupo preenchido exclusivamente pelo Órgão Gestor de Mão de Obra - OGMO (classTrib em S-1000 = [09]), listando apenas seus códigos de lotação com operadores portuários enquadrados nos arts. 7º a 9º da Lei 12.546/2011.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="codLotacao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>codLotacao<a data-toggle="tooltip" title="Informar o código atribuído pelo empregador para a lotação tributária.
Validação: Deve ser um código válido e existente na Tabela de Lotações Tributárias (S-1020), com tpLotacao = [08]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtInfoComplPer__infoSubstPatrOpPort__id__codLotacao" maxlength="30" value="{{original.evento_json|readjson:'evtInfoComplPer.infoSubstPatrOpPort.codLotacao'}}" name="[evtInfoComplPer][infoSubstPatrOpPort][codLotacao]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoAtivConcom__div">
    <div class="col-md-12">
        <h4>Grupo preenchido por empresa enquadrada no regime de tributação Simples Nacional com tributação previdenciária substituída e não substituída.</h4>
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="fatorMes__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>fatorMes<a data-toggle="tooltip" title="Informe o fator a ser utilizado para cálculo da contribuição patronal do mês dos trabalhadores envolvidos na execução das atividades enquadradas no Anexo IV em conjunto com as dos Anexos I a III e V da Lei Complementar 123/2006."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtInfoComplPer__infoAtivConcom__id__fatorMes" maxlength="5" value="{{original.evento_json|readjson:'evtInfoComplPer.infoAtivConcom.fatorMes'}}" name="[evtInfoComplPer][infoAtivConcom][fatorMes]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="fator13__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>fator13<a data-toggle="tooltip" title="Informe o fator a ser utilizado para cálculo da contribuição patronal do décimo terceiro dos trabalhadores envolvidos na execução das atividades enquadradas no Anexo IV em conjunto com as dos Anexos I a III e V da Lei Complementar 123/2006."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtInfoComplPer__infoAtivConcom__id__fator13" maxlength="5" value="{{original.evento_json|readjson:'evtInfoComplPer.infoAtivConcom.fator13'}}" name="[evtInfoComplPer][infoAtivConcom][fator13]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

</div>

</form>
{% if original.is_aberto %}
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON();
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
</script>
{% endif %}
