
{% load esocial_custom_tags %}
{% with evtCessao=original.evento_json|readjson:'evtCessao' %}
<form id="form_json">

<div class="row">

<div id="evtCessao__div">
    <div class="col-md-12">
        <h4>Evento Cessão/Exercício em Outro Órgão.
Regras de validação:
REGRA_ENVIO_PROC_FECHAMENTO
REGRA_EVENTOS_EXTEMP
REGRA_EVENTO_EXT_SEM_IMPACTO_FOPAG
REGRA_EVENTO_IMPACTO_FOPAG
REGRA_EXCLUI_EVENTO_CESSAO
REGRA_EXISTE_INFO_EMPREGADOR
REGRA_EXTEMP_REINTEGRACAO
REGRA_MESMO_PROCEMI
REGRA_RETIFICA_MESMO_VINCULO
REGRA_VINCULO_ATIVO_NA_DTEVENTO</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de identificação do evento.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="indRetif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informe [1] para arquivo original ou [2] para arquivo de retificação<a data-toggle="tooltip" title="Informe [1] para arquivo original ou [2] para arquivo de retificação.
Valores válidos:
1 - Original
2 - Retificação"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCessao__ideEvento__id__indRetif" name="[evtCessao][ideEvento][indRetif]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal evtCessao|readjson:'ideEvento.indRetif'|to_str '1' %}selected{% endifequal %}>1 - Original</option><option value='2' {% ifequal evtCessao|readjson:'ideEvento.indRetif'|to_str '2' %}selected{% endifequal %}>2 - Retificação</option>
            </select>
        </div>
    </div>
</div>

<div id="nrRecibo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o número do recibo do arquivo a ser retificado<a data-toggle="tooltip" title="Preencher com o número do recibo do arquivo a ser retificado.
Validação: O preenchimento é obrigatório se indRetif = [2].
Deve ser um recibo de entrega válido, correspondente ao arquivo que está sendo retificado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCessao__ideEvento__id__nrRecibo" maxlength="23" value="{{evtCessao|readjson:'ideEvento.nrRecibo'}}" name="[evtCessao][ideEvento][nrRecibo]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Identificação do ambiente</label>
            <select name="[evtCessao][ideEvento][tpAmb]" id="evtCessao__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtCessao][ideEvento][tpAmb]" id="evtCessao__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Processo de emissão do evento</label>
            <select name="[evtCessao][ideEvento][procEmi]" id="evtCessao__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtCessao][ideEvento][procEmi]" id="evtCessao__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Versão do processo de emissão do evento</label>
            <input type="text" name="[evtCessao][ideEvento][verProc]" value="{{original.verproc}}" class="vTextField" maxlength="20" id="evtCessao__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtCessao][ideEvento][verProc]" id="evtCessao__ideEvento__id__verProc" value="{{original.verproc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
<div id="ideEmpregador__div">
    <div class="col-md-12">
        <h4>Informações de identificação do empregador.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Preencher com o código correspondente ao tipo de inscrição</label>
            <select name="[evtCessao][ideEmpregador][tpInsc]" id="evtCessao__ideEmpregador__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtCessao][ideEmpregador][tpInsc]" id="evtCessao__ideEmpregador__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo ideEmpregador/tpInsc e conforme informado em S-1000</label>
            <input type="text" id="evtCessao__ideEmpregador__id__nrInsc_disabled" name="[evtCessao][ideEmpregador][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtCessao][ideEmpregador][nrInsc]" id="evtCessao__ideEmpregador__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
<div id="ideVinculo__div">
    <div class="col-md-12">
        <h4>Informações de identificação do trabalhador e do vínculo.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="cpfTrab__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o número do CPF do trabalhador<a data-toggle="tooltip" title="Preencher com o número do CPF do trabalhador."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCessao__ideVinculo__id__cpfTrab" maxlength="11" value="{{evtCessao|readjson:'ideVinculo.cpfTrab'}}" name="[evtCessao][ideVinculo][cpfTrab]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="matricula__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Matrícula atribuída ao trabalhador pela empresa ou<a data-toggle="tooltip" title="Matrícula atribuída ao trabalhador pela empresa ou, no caso de servidor público, a matrícula constante no Sistema de Administração de Recursos Humanos do órgão.
Validação: Deve corresponder à matrícula informada pelo empregador no evento S-2200 do respectivo vínculo trabalhista."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCessao__ideVinculo__id__matricula" maxlength="30" value="{{evtCessao|readjson:'ideVinculo.matricula'}}" name="[evtCessao][ideVinculo][matricula]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
<div id="infoCessao__div">
    <div class="col-md-12">
        <h4>Informações da cessão/exercício em outro órgão.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="iniCessao__div">
    <div class="col-md-12">
        <h4>Informações de início da cessão/exercício em outro órgão.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="dtIniCessao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data de início da cessão/exercício em outro órgão<a data-toggle="tooltip" title="Data de início da cessão/exercício em outro órgão.
Validação: Deve-se obedecer às seguintes regras:
a) Não pode ser posterior à data atual;
b) Não pode existir evento de cessão/exercício em outro órgão (ou evento de afastamento pelo código de motivo de afastamento [14]) com data anterior a dtIniCessao sem que tenha sido encerrado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCessao__infoCessao__iniCessao__id__dtIniCessao" value="{{evtCessao|readjson:'infoCessao.iniCessao.dtIniCessao'}}" name="[evtCessao][infoCessao][iniCessao][dtIniCessao]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="cnpjCess__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o CNPJ do empregador/órgão público cessionário/de destino<a data-toggle="tooltip" title="Preencher com o CNPJ do empregador/órgão público cessionário/de destino.
Validação: Deve ser um CNPJ diferente do CNPJ do empregador/órgão público e diferente dos estabelecimentos informados através do evento S-1005.
Regra de validação:
REGRA_VALIDA_CNPJ"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCessao__infoCessao__iniCessao__id__cnpjCess" maxlength="14" value="{{evtCessao|readjson:'infoCessao.iniCessao.cnpjCess'}}" name="[evtCessao][infoCessao][iniCessao][cnpjCess]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="respRemun__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar se o empregador/órgão público declarante continuará informando remunerações (S-1200/S-1202) do trabalhador cedido/em exercício em outro órgão<a data-toggle="tooltip" title="Informar se o empregador/órgão público declarante continuará informando remunerações (S-1200/S-1202) do trabalhador cedido/em exercício em outro órgão.
Valores válidos:
S - Sim
N - Não"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCessao__infoCessao__iniCessao__id__respRemun" name="[evtCessao][infoCessao][iniCessao][respRemun]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='S' {% ifequal evtCessao|readjson:'infoCessao.iniCessao.respRemun'|to_str 'S' %}selected{% endifequal %}>S - Sim</option><option value='N' {% ifequal evtCessao|readjson:'infoCessao.iniCessao.respRemun'|to_str 'N' %}selected{% endifequal %}>N - Não</option>
            </select>
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
<div id="fimCessao__div">
    <div class="col-md-12">
        <h4>Informação de término da cessão/exercício em outro órgão.
Regra de validação:
REGRA_EXISTE_EVENTO_CESSAO</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="dtTermCessao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a data de término da cessão/exercício em outro órgão<a data-toggle="tooltip" title="Preencher com a data de término da cessão/exercício em outro órgão.
Validação: Deve-se obedecer às seguintes regras:
a) Deve ser igual ou posterior à data de início da cessão/exercício em outro órgão;
b) Não pode ser posterior à data atual."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCessao__infoCessao__fimCessao__id__dtTermCessao" value="{{evtCessao|readjson:'infoCessao.fimCessao.dtTermCessao'}}" name="[evtCessao][infoCessao][fimCessao][dtTermCessao]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
</div>

</form>
{% endwith %}
{% if original.is_aberto %}
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON({useIntKeysAsArrayIndex: true});
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
</script>
{% endif %}
