
{% load esocial_custom_tags %}
<form id="form_json">

<div class="row">

<div id="evtAfastTemp__div">
    <div class="col-md-12">
        <h4>S-2230 - Afastamento Temporário</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de identificação do evento.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="indRetif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informe [1] para arquivo original ou [2] para arquivo de retificação<a data-toggle="tooltip" title="Informe [1] para arquivo original ou [2] para arquivo de retificação.
Valores válidos:
1 - Original
2 - Retificação"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAfastTemp__ideEvento__id__indRetif" name="[evtAfastTemp][ideEvento][indRetif]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal original.evento_json|readjson:'evtAfastTemp.ideEvento.indRetif' '1' %}selected{% endifequal %}>1 - Original</option><option value='2' {% ifequal original.evento_json|readjson:'evtAfastTemp.ideEvento.indRetif' '2' %}selected{% endifequal %}>2 - Retificação</option>
            </select>
        </div>
    </div>
</div>

<div id="nrRecibo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o número do recibo do arquivo a ser retificado<a data-toggle="tooltip" title="Preencher com o número do recibo do arquivo a ser retificado.
Validação: O preenchimento é obrigatório se indRetif = [2].
Deve ser um recibo de entrega válido, correspondente ao arquivo que está sendo retificado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__ideEvento__id__nrRecibo" maxlength="23" value="{{original.evento_json|readjson:'evtAfastTemp.ideEvento.nrRecibo'}}" name="[evtAfastTemp][ideEvento][nrRecibo]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Identificação do ambiente</label>
            <select name="[evtAfastTemp][ideEvento][tpAmb]" id="evtAfastTemp__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtAfastTemp][ideEvento][tpAmb]" id="evtAfastTemp__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Processo de emissão do evento</label>
            <select name="[evtAfastTemp][ideEvento][procEmi]" id="evtAfastTemp__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtAfastTemp][ideEvento][procEmi]" id="evtAfastTemp__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Versão do processo de emissão do evento</label>
            <input type="text" name="[evtAfastTemp][ideEvento][verProc]" value="{{original.verproc}}" class="vTextField" maxlength="20" id="evtAfastTemp__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtAfastTemp][ideEvento][verProc]" id="evtAfastTemp__ideEvento__id__verProc" value="{{original.verproc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
<div id="ideEmpregador__div">
    <div class="col-md-12">
        <h4>Informações de identificação do empregador.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Preencher com o código correspondente ao tipo de inscrição</label>
            <select name="[evtAfastTemp][ideEmpregador][tpInsc]" id="evtAfastTemp__ideEmpregador__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtAfastTemp][ideEmpregador][tpInsc]" id="evtAfastTemp__ideEmpregador__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo ideEmpregador/tpInsc e conforme informado em S-1000</label>
            <input type="text" id="evtAfastTemp__ideEmpregador__id__nrInsc_disabled" name="[evtAfastTemp][ideEmpregador][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtAfastTemp][ideEmpregador][nrInsc]" id="evtAfastTemp__ideEmpregador__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
<div id="ideVinculo__div">
    <div class="col-md-12">
        <h4>Informações de identificação do trabalhador e do vínculo.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="cpfTrab__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o número do CPF do trabalhador<a data-toggle="tooltip" title="Preencher com o número do CPF do trabalhador."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__ideVinculo__id__cpfTrab" maxlength="11" value="{{original.evento_json|readjson:'evtAfastTemp.ideVinculo.cpfTrab'}}" name="[evtAfastTemp][ideVinculo][cpfTrab]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="matricula__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Matrícula atribuída ao trabalhador pela empresa ou<a data-toggle="tooltip" title="Matrícula atribuída ao trabalhador pela empresa ou, no caso de servidor público, a matrícula constante no Sistema de Administração de Recursos Humanos do órgão.
Validação: Deve corresponder à matrícula informada pelo empregador no evento S-2200 ou S-2300 do respectivo contrato. Não preencher no caso de Trabalhador Sem Vínculo de Emprego/Estatutário - TSVE sem informação de matrícula no evento S-2300."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__ideVinculo__id__matricula" maxlength="30" value="{{original.evento_json|readjson:'evtAfastTemp.ideVinculo.matricula'}}" name="[evtAfastTemp][ideVinculo][matricula]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codCateg__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o código da categoria do trabalhador<a data-toggle="tooltip" title="Preencher com o código da categoria do trabalhador.
Informar somente no caso de TSVE sem informação de matrícula no evento S-2300.
Validação: Informação obrigatória e exclusiva se não houver preenchimento de matricula. Se informado, deve ser um código válido e existente na Tabela 01."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__ideVinculo__id__codCateg" maxlength="3" value="{{original.evento_json|readjson:'evtAfastTemp.ideVinculo.codCateg'}}" name="[evtAfastTemp][ideVinculo][codCateg]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
<div id="infoAfastamento__div">
    <div class="col-md-12">
        <h4>Informações do afastamento temporário.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="iniAfastamento__div">
    <div class="col-md-12">
        <h4>Informações de início do afastamento.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="dtIniAfast__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data de início do afastamento<a data-toggle="tooltip" title="Data de início do afastamento.
Validação: Deve-se obedecer às seguintes regras:
a) Não pode ser posterior à data atual, exceto se:
a1) codMotAfast = [15] (férias), situação em que pode ser até 60 dias posterior à data atual;
a2) codMotAfast = [18], situação em que pode ser até 120 dias posterior à data atual;
b) É necessário que o trabalhador esteja, antes da data de início do afastamento, em atividade, ou seja, não pode existir evento de afastamento anterior a dtIniAfast sem que este tenha sido encerrado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__id__dtIniAfast" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.dtIniAfast'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][dtIniAfast]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codMotAfast__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o código do motivo de afastamento temporário<a data-toggle="tooltip" title="Preencher com o código do motivo de afastamento temporário.
Validação: Deve ser um código válido e existente na Tabela 18, bem como compatível com o código de categoria do trabalhador, conforme Tabela 18. Se a natureza jurídica do declarante for Administração Pública (grupo [1]), não pode ser informado [14]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__id__codMotAfast" maxlength="2" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.codMotAfast'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][codMotAfast]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="infoMesmoMtv__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar se o afastamento decorre da mesma doença que gerou o afastamento anterior (codMotAfast = [01<a data-toggle="tooltip" title="Informar se o afastamento decorre da mesma doença que gerou o afastamento anterior (codMotAfast = [01, 03]), dentro de 60 dias.
Valores válidos:
S - Sim
N - Não"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAfastTemp__infoAfastamento__iniAfastamento__id__infoMesmoMtv" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoMesmoMtv]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='S' {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoMesmoMtv' 'S' %}selected{% endifequal %}>S - Sim</option><option value='N' {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoMesmoMtv' 'N' %}selected{% endifequal %}>N - Não</option>
            </select>
        </div>
    </div>
</div>

<div id="tpAcidTransito__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de acidente de trânsito<a data-toggle="tooltip" title="Tipo de acidente de trânsito.
Valores válidos:
1 - Atropelamento
2 - Colisão
3 - Outros
Validação: Somente pode ser preenchido se codMotAfast = [01, 03]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__id__tpAcidTransito" maxlength="1" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.tpAcidTransito'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][tpAcidTransito]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="observacao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Observação relevante sobre o desligamento do trabalhador<a data-toggle="tooltip" title="Detalhar as informações sobre o afastamento do trabalhador, de maneira a explicitar os motivos do mesmo.
Validação: O preenchimento é obrigatório se codMotAfast = [21]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__id__observacao" maxlength="255" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.observacao'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][observacao]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="perAquis__div">
    <div class="col-md-12">
        <h4>Informações referentes ao período aquisitivo de férias.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="dtInicio__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a data de início do cadastro do beneficiário<a data-toggle="tooltip" title="Data de início do período aquisitivo de férias.
Validação: Deve ser igual ou posterior à data de admissão."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__perAquis__id__dtInicio" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.perAquis.dtInicio'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][perAquis][dtInicio]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dtFim__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data de término do período aquisitivo de férias<a data-toggle="tooltip" title="Data de término do período aquisitivo de férias.
Informar o campo somente se o período aquisitivo for diferente de 1 ano.
Validação: Se informada, deve ser uma data posterior a dtInicio."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__perAquis__id__dtFim" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.perAquis.dtFim'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][perAquis][dtFim]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
<div id="infoCessao__div">
    <div class="col-md-12">
        <h4>Informações complementares - Cessão/Requisição de trabalhador.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="cnpjCess__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o CNPJ do empregador/órgão público cessionário/de destino<a data-toggle="tooltip" title="Preencher com o CNPJ do órgão/entidade para o qual o trabalhador foi cedido/requisitado.
Validação: Deve ser um CNPJ diferente do CNPJ do empregador e diferente dos estabelecimentos informados através do evento S-1005.
Regra de validação:
REGRA_VALIDA_CNPJ"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__infoCessao__id__cnpjCess" maxlength="14" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoCessao.cnpjCess'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoCessao][cnpjCess]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="infOnus__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Ônus da cessão/requisição<a data-toggle="tooltip" title="Ônus da cessão/requisição.
Valores válidos:
1 - Ônus do cedente
2 - Ônus do cessionário
3 - Ônus do cedente e cessionário"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAfastTemp__infoAfastamento__iniAfastamento__infoCessao__id__infOnus" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoCessao][infOnus]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoCessao.infOnus' '1' %}selected{% endifequal %}>1 - Ônus do cedente</option><option value='2' {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoCessao.infOnus' '2' %}selected{% endifequal %}>2 - Ônus do cessionário</option><option value='3' {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoCessao.infOnus' '3' %}selected{% endifequal %}>3 - Ônus do cedente e cessionário</option>
            </select>
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
<div id="infoMandSind__div">
    <div class="col-md-12">
        <h4>Informações complementares - Afastamento para exercício de mandato sindical.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="cnpjSind__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>CNPJ do sindicato no qual o trabalhador exercerá o mandato<a data-toggle="tooltip" title="CNPJ do sindicato no qual o trabalhador exercerá o mandato.
Validação: Deve ser um CNPJ diferente do CNPJ base do empregador e diferente dos informados na Tabela de Estabelecimentos (S-1005).
Regra de validação:
REGRA_VALIDA_CNPJ"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__infoMandSind__id__cnpjSind" maxlength="14" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoMandSind.cnpjSind'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoMandSind][cnpjSind]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="infOnusRemun__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Ônus da remuneração<a data-toggle="tooltip" title="Ônus da remuneração.
Valores válidos:
1 - Apenas do empregador
2 - Apenas do sindicato
3 - Parte do empregador, sendo a diferença e/ou complementação salarial paga pelo sindicato"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAfastTemp__infoAfastamento__iniAfastamento__infoMandSind__id__infOnusRemun" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoMandSind][infOnusRemun]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoMandSind.infOnusRemun' '1' %}selected{% endifequal %}>1 - Apenas do empregador</option><option value='2' {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoMandSind.infOnusRemun' '2' %}selected{% endifequal %}>2 - Apenas do sindicato</option><option value='3' {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoMandSind.infOnusRemun' '3' %}selected{% endifequal %}>3 - Parte do empregador, sendo a diferença e/ou complementação salarial paga pelo sindicato</option>
            </select>
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
<div id="infoMandElet__div">
    <div class="col-md-12">
        <h4>Informações complementares - Afastamento para exercício de mandato eletivo.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="cnpjMandElet__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>CNPJ do órgão no qual o trabalhador exercerá o mandato eletivo<a data-toggle="tooltip" title="CNPJ do órgão no qual o trabalhador exercerá o mandato eletivo.
Validação: Deve ser um CNPJ diferente do CNPJ base do empregador e diferente dos informados na Tabela de Estabelecimentos (S-1005).
Regra de validação:
REGRA_VALIDA_CNPJ"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__infoMandElet__id__cnpjMandElet" maxlength="14" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoMandElet.cnpjMandElet'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoMandElet][cnpjMandElet]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="indRemunCargo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Indicar se o servidor optou pela remuneração do cargo efetivo<a data-toggle="tooltip" title="Indicar se o servidor optou pela remuneração do cargo efetivo.
Valores válidos:
S - Sim
N - Não
Validação: Informação obrigatória e exclusiva se o código de categoria no Registro de Eventos Trabalhistas - RET for igual a [301]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAfastTemp__infoAfastamento__iniAfastamento__infoMandElet__id__indRemunCargo" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoMandElet][indRemunCargo]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='S' {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoMandElet.indRemunCargo' 'S' %}selected{% endifequal %}>S - Sim</option><option value='N' {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoMandElet.indRemunCargo' 'N' %}selected{% endifequal %}>N - Não</option>
            </select>
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
<div id="infoRetif__div">
    <div class="col-md-12">
        <h4>Informações de retificação do afastamento temporário.
Preenchimento obrigatório caso codMotAfast seja retificado de [01] para [03] ou de [03] para [01].</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="origRetif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Origem da retificação<a data-toggle="tooltip" title="Origem da retificação.
Valores válidos:
1 - Por iniciativa do empregador
2 - Revisão administrativa
3 - Determinação judicial"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAfastTemp__infoAfastamento__infoRetif__id__origRetif" name="[evtAfastTemp][infoAfastamento][infoRetif][origRetif]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.infoRetif.origRetif' '1' %}selected{% endifequal %}>1 - Por iniciativa do empregador</option><option value='2' {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.infoRetif.origRetif' '2' %}selected{% endifequal %}>2 - Revisão administrativa</option><option value='3' {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.infoRetif.origRetif' '3' %}selected{% endifequal %}>3 - Determinação judicial</option>
            </select>
        </div>
    </div>
</div>

<div id="tpProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o código correspondente ao tipo de processo<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de processo.
Valores válidos:
1 - Administrativo
2 - Judicial
3 - Número de Benefício - NB do INSS
Validação: O preenchimento é obrigatório se origRetif = [2, 3]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAfastTemp__infoAfastamento__infoRetif__id__tpProc" name="[evtAfastTemp][infoAfastamento][infoRetif][tpProc]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.infoRetif.tpProc' '1' %}selected{% endifequal %}>1 - Administrativo</option><option value='2' {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.infoRetif.tpProc' '2' %}selected{% endifequal %}>2 - Judicial</option><option value='3' {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.infoRetif.tpProc' '3' %}selected{% endifequal %}>3 - Número de Benefício - NB do INSS</option>
            </select>
        </div>
    </div>
</div>

<div id="nrProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar o número do processo<a data-toggle="tooltip" title="Informar o número do processo administrativo/judicial ou do benefício de acordo com o tipo informado em tpProc.
Validação: O preenchimento é obrigatório se origRetif = [2, 3]. Deve ser um número de processo/benefício válido e:
a) Se tpProc = [1], deve possuir 17 (dezessete) ou 21 (vinte e um) algarismos;
b) Se tpProc = [2], deve possuir 20 (vinte) algarismos;
c) Se tpProc = [3], deve possuir 10 (dez) algarismos."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__infoRetif__id__nrProc" maxlength="21" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.infoRetif.nrProc'}}" name="[evtAfastTemp][infoAfastamento][infoRetif][nrProc]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
<div id="fimAfastamento__div">
    <div class="col-md-12">
        <h4>Informação do término do afastamento.
Regra de validação:
REGRA_EXISTE_EVENTO_AFASTAMENTO</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="dtTermAfast__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a data do término do afastamento do trabalhador<a data-toggle="tooltip" title="Preencher com a data do término do afastamento do trabalhador.
Validação: Deve ser igual ou posterior à data de início do afastamento do trabalhador."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__fimAfastamento__id__dtTermAfast" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.fimAfastamento.dtTermAfast'}}" name="[evtAfastTemp][infoAfastamento][fimAfastamento][dtTermAfast]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
</div>

</form>
{% if original.is_aberto %}
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON({useIntKeysAsArrayIndex: true});
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
</script>
{% endif %}
