
{% load esocial_custom_tags %}
{% with evtCdBenefIn=original.evento_json|readjson:'evtCdBenefIn' %}
<form id="form_json">

<div class="row">

<div id="evtCdBenefIn__div">
    <div class="col-md-12">
        <h4>S-2400 - Cadastro de Beneficiário - Entes Públicos - Início</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de identificação do evento.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="indRetif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informe [1] para arquivo original ou [2] para arquivo de retificação<a data-toggle="tooltip" title="Informe [1] para arquivo original ou [2] para arquivo de retificação.
Valores válidos:
1 - Original
2 - Retificação"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCdBenefIn__ideEvento__id__indRetif" name="[evtCdBenefIn][ideEvento][indRetif]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal evtCdBenefIn|readjson:'ideEvento.indRetif' '1' %}selected{% endifequal %}>1 - Original</option><option value='2' {% ifequal evtCdBenefIn|readjson:'ideEvento.indRetif' '2' %}selected{% endifequal %}>2 - Retificação</option>
            </select>
        </div>
    </div>
</div>

<div id="nrRecibo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o número do recibo do arquivo a ser retificado<a data-toggle="tooltip" title="Preencher com o número do recibo do arquivo a ser retificado.
Validação: O preenchimento é obrigatório se indRetif = [2].
Deve ser um recibo de entrega válido, correspondente ao arquivo que está sendo retificado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__ideEvento__id__nrRecibo" maxlength="23" value="{{evtCdBenefIn|readjson:'ideEvento.nrRecibo'}}" name="[evtCdBenefIn][ideEvento][nrRecibo]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Identificação do ambiente</label>
            <select name="[evtCdBenefIn][ideEvento][tpAmb]" id="evtCdBenefIn__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtCdBenefIn][ideEvento][tpAmb]" id="evtCdBenefIn__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Processo de emissão do evento</label>
            <select name="[evtCdBenefIn][ideEvento][procEmi]" id="evtCdBenefIn__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtCdBenefIn][ideEvento][procEmi]" id="evtCdBenefIn__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Versão do processo de emissão do evento</label>
            <input type="text" name="[evtCdBenefIn][ideEvento][verProc]" value="{{original.verproc}}" class="vTextField" maxlength="20" id="evtCdBenefIn__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtCdBenefIn][ideEvento][verProc]" id="evtCdBenefIn__ideEvento__id__verProc" value="{{original.verproc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
<div id="ideEmpregador__div">
    <div class="col-md-12">
        <h4>Informações de identificação do empregador.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Preencher com o código correspondente ao tipo de inscrição</label>
            <select name="[evtCdBenefIn][ideEmpregador][tpInsc]" id="evtCdBenefIn__ideEmpregador__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtCdBenefIn][ideEmpregador][tpInsc]" id="evtCdBenefIn__ideEmpregador__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo ideEmpregador/tpInsc e conforme informado em S-1000</label>
            <input type="text" id="evtCdBenefIn__ideEmpregador__id__nrInsc_disabled" name="[evtCdBenefIn][ideEmpregador][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtCdBenefIn][ideEmpregador][nrInsc]" id="evtCdBenefIn__ideEmpregador__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
<div id="beneficiario__div">
    <div class="col-md-12">
        <h4>Grupo de informações do beneficiário.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="cpfBenef__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número de inscrição no Cadastro de Pessoas Físicas - CPF do beneficiário do pagamento<a data-toggle="tooltip" title="Informar o CPF do beneficiário.
Validação: Não é possível existir dois eventos originais do mesmo órgão público declarante para o mesmo CPF do beneficiário."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__id__cpfBenef" maxlength="11" value="{{evtCdBenefIn|readjson:'beneficiario.cpfBenef'}}" name="[evtCdBenefIn][beneficiario][cpfBenef]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="nmBenefic__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar o nome do beneficiário<a data-toggle="tooltip" title="Informar o nome do beneficiário."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__id__nmBenefic" maxlength="70" value="{{evtCdBenefIn|readjson:'beneficiario.nmBenefic'}}" name="[evtCdBenefIn][beneficiario][nmBenefic]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dtNascto__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a data de nascimento<a data-toggle="tooltip" title="Preencher com a data de nascimento."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__id__dtNascto" value="{{evtCdBenefIn|readjson:'beneficiario.dtNascto'}}" name="[evtCdBenefIn][beneficiario][dtNascto]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dtInicio__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a data de início do cadastro do beneficiário<a data-toggle="tooltip" title="Preencher com a data de início do cadastro do beneficiário. Informar a data de início da obrigatoriedade dos eventos não periódicos para o ente público no eSocial caso o beneficiário possua cadastro anterior a essa data.
Validação: Deve ser igual ou posterior à data de início da obrigatoriedade dos eventos não periódicos para o ente público no eSocial e igual ou anterior à data atual."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__id__dtInicio" value="{{evtCdBenefIn|readjson:'beneficiario.dtInicio'}}" name="[evtCdBenefIn][beneficiario][dtInicio]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="sexo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Sexo do beneficiário<a data-toggle="tooltip" title="Sexo do beneficiário.
Valores válidos:
M - Masculino
F - Feminino
Validação: Informação obrigatória se dtInicio for posterior ao início da obrigatoriedade dos eventos não periódicos para o ente público no eSocial."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCdBenefIn__beneficiario__id__sexo" name="[evtCdBenefIn][beneficiario][sexo]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='M' {% ifequal evtCdBenefIn|readjson:'beneficiario.sexo' 'M' %}selected{% endifequal %}>M - Masculino</option><option value='F' {% ifequal evtCdBenefIn|readjson:'beneficiario.sexo' 'F' %}selected{% endifequal %}>F - Feminino</option>
            </select>
        </div>
    </div>
</div>

<div id="racaCor__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Raça e cor do beneficiário<a data-toggle="tooltip" title="Raça e cor do beneficiário.
Valores válidos:
1 - Branca
2 - Preta
3 - Parda
4 - Amarela
5 - Indígena
6 - Não informado"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCdBenefIn__beneficiario__id__racaCor" name="[evtCdBenefIn][beneficiario][racaCor]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal evtCdBenefIn|readjson:'beneficiario.racaCor' '1' %}selected{% endifequal %}>1 - Branca</option><option value='2' {% ifequal evtCdBenefIn|readjson:'beneficiario.racaCor' '2' %}selected{% endifequal %}>2 - Preta</option><option value='3' {% ifequal evtCdBenefIn|readjson:'beneficiario.racaCor' '3' %}selected{% endifequal %}>3 - Parda</option><option value='4' {% ifequal evtCdBenefIn|readjson:'beneficiario.racaCor' '4' %}selected{% endifequal %}>4 - Amarela</option><option value='5' {% ifequal evtCdBenefIn|readjson:'beneficiario.racaCor' '5' %}selected{% endifequal %}>5 - Indígena</option><option value='6' {% ifequal evtCdBenefIn|readjson:'beneficiario.racaCor' '6' %}selected{% endifequal %}>6 - Não informado</option>
            </select>
        </div>
    </div>
</div>

<div id="estCiv__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Estado civil do beneficiário<a data-toggle="tooltip" title="Estado civil do beneficiário.
Valores válidos:
1 - Solteiro
2 - Casado
3 - Divorciado
4 - Separado
5 - Viúvo"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCdBenefIn__beneficiario__id__estCiv" name="[evtCdBenefIn][beneficiario][estCiv]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal evtCdBenefIn|readjson:'beneficiario.estCiv' '1' %}selected{% endifequal %}>1 - Solteiro</option><option value='2' {% ifequal evtCdBenefIn|readjson:'beneficiario.estCiv' '2' %}selected{% endifequal %}>2 - Casado</option><option value='3' {% ifequal evtCdBenefIn|readjson:'beneficiario.estCiv' '3' %}selected{% endifequal %}>3 - Divorciado</option><option value='4' {% ifequal evtCdBenefIn|readjson:'beneficiario.estCiv' '4' %}selected{% endifequal %}>4 - Separado</option><option value='5' {% ifequal evtCdBenefIn|readjson:'beneficiario.estCiv' '5' %}selected{% endifequal %}>5 - Viúvo</option>
            </select>
        </div>
    </div>
</div>

<div id="incFisMen__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar se o dependente é pessoa com doença incapacitante<a data-toggle="tooltip" title="Informar se o beneficiário é pessoa com doença incapacitante que isenta da contribuição previdenciária, total ou parcialmente, reconhecida administrativa ou judicialmente, na forma da lei.
Valores válidos:
S - Sim
N - Não"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCdBenefIn__beneficiario__id__incFisMen" name="[evtCdBenefIn][beneficiario][incFisMen]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='S' {% ifequal evtCdBenefIn|readjson:'beneficiario.incFisMen' 'S' %}selected{% endifequal %}>S - Sim</option><option value='N' {% ifequal evtCdBenefIn|readjson:'beneficiario.incFisMen' 'N' %}selected{% endifequal %}>N - Não</option>
            </select>
        </div>
    </div>
</div>

<div id="dtIncFisMen__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a data do reconhecimento da incapacidade<a data-toggle="tooltip" title="Preencher com a data do reconhecimento da incapacidade.
Validação: Informação obrigatória e exclusiva se incFisMen = [S]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__id__dtIncFisMen" value="{{evtCdBenefIn|readjson:'beneficiario.dtIncFisMen'}}" name="[evtCdBenefIn][beneficiario][dtIncFisMen]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="endereco__div">
    <div class="col-md-12">
        <h4>Grupo de informações do endereço do beneficiário.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="brasil__div">
    <div class="col-md-12">
        <h4>Endereço no Brasil.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="tpLograd__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de logradouro<a data-toggle="tooltip" title="Tipo de logradouro.
Validação: Se informado, deve ser um código válido e existente na Tabela 20."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__endereco__brasil__id__tpLograd" maxlength="4" value="{{evtCdBenefIn|readjson:'beneficiario.endereco.brasil.tpLograd'}}" name="[evtCdBenefIn][beneficiario][endereco][brasil][tpLograd]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dscLograd__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Descrição do logradouro<a data-toggle="tooltip" title="Descrição do logradouro."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__endereco__brasil__id__dscLograd" maxlength="100" value="{{evtCdBenefIn|readjson:'beneficiario.endereco.brasil.dscLograd'}}" name="[evtCdBenefIn][beneficiario][endereco][brasil][dscLograd]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="nrLograd__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número do logradouro<a data-toggle="tooltip" title="Número do logradouro.
Se não houver número a ser informado, preencher com "S/N"."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__endereco__brasil__id__nrLograd" maxlength="10" value="{{evtCdBenefIn|readjson:'beneficiario.endereco.brasil.nrLograd'}}" name="[evtCdBenefIn][beneficiario][endereco][brasil][nrLograd]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="complemento__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Complemento do logradouro<a data-toggle="tooltip" title="Complemento do logradouro."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__endereco__brasil__id__complemento" maxlength="30" value="{{evtCdBenefIn|readjson:'beneficiario.endereco.brasil.complemento'}}" name="[evtCdBenefIn][beneficiario][endereco][brasil][complemento]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="bairro__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Nome do bairro/distrito<a data-toggle="tooltip" title="Nome do bairro/distrito."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__endereco__brasil__id__bairro" maxlength="90" value="{{evtCdBenefIn|readjson:'beneficiario.endereco.brasil.bairro'}}" name="[evtCdBenefIn][beneficiario][endereco][brasil][bairro]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="cep__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código de Endereçamento Postal - CEP<a data-toggle="tooltip" title="Código de Endereçamento Postal - CEP.
Validação: Deve ser preenchido apenas com números, com 8 (oito) posições."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__endereco__brasil__id__cep" maxlength="8" value="{{evtCdBenefIn|readjson:'beneficiario.endereco.brasil.cep'}}" name="[evtCdBenefIn][beneficiario][endereco][brasil][cep]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codMunic__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o código do município<a data-toggle="tooltip" title="Preencher com o código do município, conforme tabela do IBGE.
Validação: Deve ser um código válido e existente na tabela do IBGE."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__endereco__brasil__id__codMunic" maxlength="7" value="{{evtCdBenefIn|readjson:'beneficiario.endereco.brasil.codMunic'}}" name="[evtCdBenefIn][beneficiario][endereco][brasil][codMunic]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="uf__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a sigla da Unidade da Federação - UF<a data-toggle="tooltip" title="Preencher com a sigla da Unidade da Federação - UF.
Valores válidos: AC, AL, AP, AM, BA, CE, DF, ES, GO, MA, MT, MS, MG, PA, PB, PR, PE, PI, RJ, RN, RS, RO, RR, SC, SP, SE, TO"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__endereco__brasil__id__uf" maxlength="2" value="{{evtCdBenefIn|readjson:'beneficiario.endereco.brasil.uf'}}" name="[evtCdBenefIn][beneficiario][endereco][brasil][uf]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
<div id="exterior__div">
    <div class="col-md-12">
        <h4>Endereço no exterior.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="paisResid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o código do país<a data-toggle="tooltip" title="Preencher com o código do país.
Validação: Deve ser um código válido e existente na Tabela 06."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__endereco__exterior__id__paisResid" maxlength="3" value="{{evtCdBenefIn|readjson:'beneficiario.endereco.exterior.paisResid'}}" name="[evtCdBenefIn][beneficiario][endereco][exterior][paisResid]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dscLograd__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Descrição do logradouro<a data-toggle="tooltip" title="Descrição do logradouro."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__endereco__exterior__id__dscLograd" maxlength="100" value="{{evtCdBenefIn|readjson:'beneficiario.endereco.exterior.dscLograd'}}" name="[evtCdBenefIn][beneficiario][endereco][exterior][dscLograd]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="nrLograd__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número do logradouro<a data-toggle="tooltip" title="Número do logradouro.
Se não houver número a ser informado, preencher com "S/N"."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__endereco__exterior__id__nrLograd" maxlength="10" value="{{evtCdBenefIn|readjson:'beneficiario.endereco.exterior.nrLograd'}}" name="[evtCdBenefIn][beneficiario][endereco][exterior][nrLograd]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="complemento__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Complemento do logradouro<a data-toggle="tooltip" title="Complemento do logradouro."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__endereco__exterior__id__complemento" maxlength="30" value="{{evtCdBenefIn|readjson:'beneficiario.endereco.exterior.complemento'}}" name="[evtCdBenefIn][beneficiario][endereco][exterior][complemento]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="bairro__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Nome do bairro/distrito<a data-toggle="tooltip" title="Nome do bairro/distrito."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__endereco__exterior__id__bairro" maxlength="90" value="{{evtCdBenefIn|readjson:'beneficiario.endereco.exterior.bairro'}}" name="[evtCdBenefIn][beneficiario][endereco][exterior][bairro]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="nmCid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Nome da cidade<a data-toggle="tooltip" title="Nome da cidade."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__endereco__exterior__id__nmCid" maxlength="50" value="{{evtCdBenefIn|readjson:'beneficiario.endereco.exterior.nmCid'}}" name="[evtCdBenefIn][beneficiario][endereco][exterior][nmCid]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codPostal__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código de Endereçamento Postal<a data-toggle="tooltip" title="Código de Endereçamento Postal."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__endereco__exterior__id__codPostal" maxlength="12" value="{{evtCdBenefIn|readjson:'beneficiario.endereco.exterior.codPostal'}}" name="[evtCdBenefIn][beneficiario][endereco][exterior][codPostal]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>{% for dependente in evtCdBenefIn|readjson:'beneficiario.dependente' %}
<div id="dependente__div">
    <div class="col-md-12">
        <h4>Informações dos dependentes.</h4>
        {% if True %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="tpDep__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de dependente<a data-toggle="tooltip" title="Tipo de dependente.
Validação: Deve ser um código válido e existente na Tabela 07."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__dependente__id__tpDep" maxlength="2" value="{{dependente|readjson:'tpDep'}}" name="[evtCdBenefIn][beneficiario][dependente][][tpDep]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="nmDep__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Nome do dependente<a data-toggle="tooltip" title="Nome do dependente."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__dependente__id__nmDep" maxlength="70" value="{{dependente|readjson:'nmDep'}}" name="[evtCdBenefIn][beneficiario][dependente][][nmDep]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dtNascto__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a data de nascimento<a data-toggle="tooltip" title="Preencher com a data de nascimento.
Validação: Deve ser maior ou igual que 01/01/1890 e menor ou igual à data atual."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__dependente__id__dtNascto" value="{{dependente|readjson:'dtNascto'}}" name="[evtCdBenefIn][beneficiario][dependente][][dtNascto]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="cpfDep__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número de inscrição no CPF<a data-toggle="tooltip" title="Número de inscrição no CPF.
Validação: Deve ser um número de CPF válido, observando o que segue:
a) O preenchimento é obrigatório se depIRRF = [S];
b) Não pode haver mais de um dependente com o mesmo número de CPF."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__dependente__id__cpfDep" maxlength="11" value="{{dependente|readjson:'cpfDep'}}" name="[evtCdBenefIn][beneficiario][dependente][][cpfDep]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="sexoDep__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Sexo do dependente<a data-toggle="tooltip" title="Sexo do dependente.
Valores válidos:
M - Masculino
F - Feminino
Validação: Informação obrigatória se dtInicio for posterior ao início da obrigatoriedade dos eventos não periódicos para o ente público no eSocial."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCdBenefIn__beneficiario__dependente__id__sexoDep" name="[evtCdBenefIn][beneficiario][dependente][][sexoDep]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='M' {% ifequal dependente|readjson:'sexoDep' 'M' %}selected{% endifequal %}>M - Masculino</option><option value='F' {% ifequal dependente|readjson:'sexoDep' 'F' %}selected{% endifequal %}>F - Feminino</option>
            </select>
        </div>
    </div>
</div>

<div id="depIRRF__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar se é dependente do beneficiário para fins de dedução de seu rendimento tributável pelo Imposto de Renda<a data-toggle="tooltip" title="Informar se é dependente do beneficiário para fins de dedução de seu rendimento tributável pelo Imposto de Renda.
Valores válidos:
S - Sim
N - Não"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCdBenefIn__beneficiario__dependente__id__depIRRF" name="[evtCdBenefIn][beneficiario][dependente][][depIRRF]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='S' {% ifequal dependente|readjson:'depIRRF' 'S' %}selected{% endifequal %}>S - Sim</option><option value='N' {% ifequal dependente|readjson:'depIRRF' 'N' %}selected{% endifequal %}>N - Não</option>
            </select>
        </div>
    </div>
</div>

<div id="incFisMen__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar se o dependente é pessoa com doença incapacitante<a data-toggle="tooltip" title="Informar se o dependente é pessoa com doença incapacitante, na forma da lei.
Valores válidos:
S - Sim
N - Não"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCdBenefIn__beneficiario__dependente__id__incFisMen" name="[evtCdBenefIn][beneficiario][dependente][][incFisMen]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='S' {% ifequal dependente|readjson:'incFisMen' 'S' %}selected{% endifequal %}>S - Sim</option><option value='N' {% ifequal dependente|readjson:'incFisMen' 'N' %}selected{% endifequal %}>N - Não</option>
            </select>
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>{% empty %}
<div id="dependente__div">
    <div class="col-md-12">
        <h4>Informações dos dependentes.</h4>
        {% if True %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="tpDep__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de dependente<a data-toggle="tooltip" title="Tipo de dependente.
Validação: Deve ser um código válido e existente na Tabela 07."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__dependente__id__tpDep" maxlength="2" value="{{dependente|readjson:'tpDep'}}" name="[evtCdBenefIn][beneficiario][dependente][][tpDep]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="nmDep__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Nome do dependente<a data-toggle="tooltip" title="Nome do dependente."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__dependente__id__nmDep" maxlength="70" value="{{dependente|readjson:'nmDep'}}" name="[evtCdBenefIn][beneficiario][dependente][][nmDep]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dtNascto__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a data de nascimento<a data-toggle="tooltip" title="Preencher com a data de nascimento.
Validação: Deve ser maior ou igual que 01/01/1890 e menor ou igual à data atual."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__dependente__id__dtNascto" value="{{dependente|readjson:'dtNascto'}}" name="[evtCdBenefIn][beneficiario][dependente][][dtNascto]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="cpfDep__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número de inscrição no CPF<a data-toggle="tooltip" title="Número de inscrição no CPF.
Validação: Deve ser um número de CPF válido, observando o que segue:
a) O preenchimento é obrigatório se depIRRF = [S];
b) Não pode haver mais de um dependente com o mesmo número de CPF."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtCdBenefIn__beneficiario__dependente__id__cpfDep" maxlength="11" value="{{dependente|readjson:'cpfDep'}}" name="[evtCdBenefIn][beneficiario][dependente][][cpfDep]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="sexoDep__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Sexo do dependente<a data-toggle="tooltip" title="Sexo do dependente.
Valores válidos:
M - Masculino
F - Feminino
Validação: Informação obrigatória se dtInicio for posterior ao início da obrigatoriedade dos eventos não periódicos para o ente público no eSocial."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCdBenefIn__beneficiario__dependente__id__sexoDep" name="[evtCdBenefIn][beneficiario][dependente][][sexoDep]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='M' {% ifequal dependente|readjson:'sexoDep' 'M' %}selected{% endifequal %}>M - Masculino</option><option value='F' {% ifequal dependente|readjson:'sexoDep' 'F' %}selected{% endifequal %}>F - Feminino</option>
            </select>
        </div>
    </div>
</div>

<div id="depIRRF__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar se é dependente do beneficiário para fins de dedução de seu rendimento tributável pelo Imposto de Renda<a data-toggle="tooltip" title="Informar se é dependente do beneficiário para fins de dedução de seu rendimento tributável pelo Imposto de Renda.
Valores válidos:
S - Sim
N - Não"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCdBenefIn__beneficiario__dependente__id__depIRRF" name="[evtCdBenefIn][beneficiario][dependente][][depIRRF]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='S' {% ifequal dependente|readjson:'depIRRF' 'S' %}selected{% endifequal %}>S - Sim</option><option value='N' {% ifequal dependente|readjson:'depIRRF' 'N' %}selected{% endifequal %}>N - Não</option>
            </select>
        </div>
    </div>
</div>

<div id="incFisMen__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar se o dependente é pessoa com doença incapacitante<a data-toggle="tooltip" title="Informar se o dependente é pessoa com doença incapacitante, na forma da lei.
Valores válidos:
S - Sim
N - Não"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtCdBenefIn__beneficiario__dependente__id__incFisMen" name="[evtCdBenefIn][beneficiario][dependente][][incFisMen]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='S' {% ifequal dependente|readjson:'incFisMen' 'S' %}selected{% endifequal %}>S - Sim</option><option value='N' {% ifequal dependente|readjson:'incFisMen' 'N' %}selected{% endifequal %}>N - Não</option>
            </select>
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>{% endfor %}
            </div>
        </blockquote>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
</div>

</form>
{% endwith %}
{% if original.is_aberto %}
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON({useIntKeysAsArrayIndex: true});
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
</script>
{% endif %}
