
{% load esocial_custom_tags %}
<form id="form_json">

<div class="row">

<div id="evtTabCargo__div">
    <div class="col-md-12">
        <h4>Evento utilizado para inclusão, alteração e exclusão de registros na tabela de cargos. Regras de validação: REGRA_EXISTE_INFO_EMPREGADOR REGRA_TABGERAL_ALTERACAO_PERIODO_CONFLITANTE REGRA_TABGERAL_EXISTE_REGISTRO_ALTERADO REGRA_TABGERAL_EXISTE_REGISTRO_EXCLUIDO REGRA_TABGERAL_INCLUSAO_PERIODO_CONFLITANTE REGRA_TAB_PERMITE_EXCLUSAO REGRA_VALIDA_DT_FUTURA</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de Identificação do Evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Identificação do ambiente</label>
            <select name="[evtTabCargo][ideEvento][tpAmb]" id="evtTabCargo__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtTabCargo][ideEvento][tpAmb]" id="evtTabCargo__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Processo de emissão do evento</label>
            <select name="[evtTabCargo][ideEvento][procEmi]" id="evtTabCargo__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtTabCargo][ideEvento][procEmi]" id="evtTabCargo__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Versão do processo</label>
            <input type="text" name="[evtTabCargo][ideEvento][verProc]" value="{{original.procemi}}" class="vTextField" maxlength="20" id="evtTabCargo__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtTabCargo][ideEvento][verProc]" id="evtTabCargo__ideEvento__id__verProc" value="{{original.procemi}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="ideEmpregador__div">
    <div class="col-md-12">
        <h4>Informações de identificação do empregador.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Tipo de inscrição</label>
            <select name="[evtTabCargo][ideEmpregador][tpInsc]" id="evtTabCargo__ideEmpregador__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtTabCargo][ideEmpregador][tpInsc]" id="evtTabCargo__ideEmpregador__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Número de inscrição (CPF/CNPJ)</label>
            <input type="text" id="evtTabCargo__ideEmpregador__id__nrInsc_disabled" name="[evtTabCargo][ideEmpregador][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtTabCargo][ideEmpregador][nrInsc]" id="evtTabCargo__ideEmpregador__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="infoCargo__div">
    <div class="col-md-12">
        <h4>Identificação da operação (inclusão, alteração ou exclusão) e das informações do cargo.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="inclusao__div">
    <div class="col-md-12">
        <h4>Inclusão de novas informações.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideCargo__div">
    <div class="col-md-12">
        <h4>Informações de identificação do cargo e validade das informações que estão sendo incluídas.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="codCargo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código do Cargo<a data-toggle="tooltip" title="Preencher com o código do cargo. Validação: O código atribuído não pode conter a expressão "eSocial" nas 7 (sete) primeiras posições. Regra de validação: REGRA_CARACTER_ESPECIAL"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__inclusao__ideCargo__id__codCargo" maxlength="30" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.ideCargo.codCargo'}}" name="[evtTabCargo][infoCargo][inclusao][ideCargo][codCargo]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="iniValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Início da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM. Validação: Deve ser uma data válida, igual ou posterior à data de início de obrigatoriedade deste evento para o empregador no eSocial, no formato AAAA-MM."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__inclusao__ideCargo__id__iniValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.ideCargo.iniValid'}}" name="[evtTabCargo][infoCargo][inclusao][ideCargo][iniValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="fimValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Fim da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de término da validade das informações, se houver. Validação: Se informado, deve estar no formato AAAA-MM e ser um período igual ou posterior a {iniValid}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__inclusao__ideCargo__id__fimValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.ideCargo.fimValid'}}" name="[evtTabCargo][infoCargo][inclusao][ideCargo][fimValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="dadosCargo__div">
    <div class="col-md-12">
        <h4>Detalhamento das informações do cargo que está sendo incluído.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="nmCargo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Nome<a data-toggle="tooltip" title="Preencher com o nome do cargo."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__inclusao__dadosCargo__id__nmCargo" maxlength="100" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.nmCargo'}}" name="[evtTabCargo][infoCargo][inclusao][dadosCargo][nmCargo]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codCBO__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>CBO<a data-toggle="tooltip" title="Classificação Brasileira de Ocupação - CBO. Validação: Deve ser um código existente na tabela de CBO, com 6 (seis) posições."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__inclusao__dadosCargo__id__codCBO" maxlength="6" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.codCBO'}}" name="[evtTabCargo][infoCargo][inclusao][dadosCargo][codCBO]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="cargoPublico__div">
    <div class="col-md-12">
        <h4>Detalhamento de informações exclusivas para Cargos e Empregos Públicos.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="acumCargo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Possibilidade de Acumulação<a data-toggle="tooltip" title="Preencher com o código correspondente à possibilidade de acumulação de cargos: 1 - Não acumulável; 2 - Profissional de Saúde; 3 - Professor; 4 - Técnico/Científico. Valores Válidos: 1, 2, 3, 4."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTabCargo__infoCargo__inclusao__dadosCargo__cargoPublico__id__acumCargo" name="[evtTabCargo][infoCargo][inclusao][dadosCargo][cargoPublico][acumCargo]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.cargoPublico.acumCargo' 1 %}selected{% endifequal %}>1 - Não acumulável</option><option value="2" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.cargoPublico.acumCargo' 2 %}selected{% endifequal %}>2 - Profissional de Saúde</option><option value="3" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.cargoPublico.acumCargo' 3 %}selected{% endifequal %}>3 - Professor</option><option value="4" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.cargoPublico.acumCargo' 4 %}selected{% endifequal %}>4 - Técnico/Científico. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="contagemEsp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Contagem de tempo especial<a data-toggle="tooltip" title="Preencher com o código correspondente a possibilidade de contagem de tempo especial: 1 - Não; 2 - Professor (Infantil, Fundamental e Médio); 3 - Professor de Ensino Superior, Magistrado, Membro de Ministério Público, Membro do Tribunal de Contas (com ingresso anterior a 16/12/1998 EC nr. 20/98); 4 - Atividade de risco. Valores Válidos: 1, 2, 3, 4."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTabCargo__infoCargo__inclusao__dadosCargo__cargoPublico__id__contagemEsp" name="[evtTabCargo][infoCargo][inclusao][dadosCargo][cargoPublico][contagemEsp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.cargoPublico.contagemEsp' 1 %}selected{% endifequal %}>1 - Não</option><option value="2" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.cargoPublico.contagemEsp' 2 %}selected{% endifequal %}>2 - Professor (Infantil, Fundamental e Médio)</option><option value="3" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.cargoPublico.contagemEsp' 3 %}selected{% endifequal %}>3 - Professor de Ensino Superior, Magistrado, Membro de Ministério Público, Membro do Tribunal de Contas (com ingresso anterior a 16/12/1998 EC nr. 20/98)</option><option value="4" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.cargoPublico.contagemEsp' 4 %}selected{% endifequal %}>4 - Atividade de risco. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="dedicExcl__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Dedicação Exclusiva<a data-toggle="tooltip" title="Indicar se é cargo de dedicação exclusiva: S - Sim; N - Não. Valores Válidos: S, N."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTabCargo__infoCargo__inclusao__dadosCargo__cargoPublico__id__dedicExcl" name="[evtTabCargo][infoCargo][inclusao][dadosCargo][cargoPublico][dedicExcl]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="S" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.cargoPublico.dedicExcl' S %}selected{% endifequal %}>S - Sim</option><option value="N" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.cargoPublico.dedicExcl' N %}selected{% endifequal %}>N - Não. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="leiCargo__div">
    <div class="col-md-12">
        <h4>Lei que criou/extinguiu/reestruturou o cargo.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="nrLei__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número da lei<a data-toggle="tooltip" title="Número da Lei."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__inclusao__dadosCargo__cargoPublico__leiCargo__id__nrLei" maxlength="12" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.cargoPublico.leiCargo.nrLei'}}" name="[evtTabCargo][infoCargo][inclusao][dadosCargo][cargoPublico][leiCargo][nrLei]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dtLei__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data da lei<a data-toggle="tooltip" title="Data da Lei."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__inclusao__dadosCargo__cargoPublico__leiCargo__id__dtLei" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.cargoPublico.leiCargo.dtLei'}}" name="[evtTabCargo][infoCargo][inclusao][dadosCargo][cargoPublico][leiCargo][dtLei]" onkeyup="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="sitCargo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Situação gerada pela lei<a data-toggle="tooltip" title="Situação gerada pela Lei. Preencher com uma das opções: 1 - Criação; 2 - Extinção; 3 - Reestruturação. Valores Válidos: 1, 2, 3."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTabCargo__infoCargo__inclusao__dadosCargo__cargoPublico__leiCargo__id__sitCargo" name="[evtTabCargo][infoCargo][inclusao][dadosCargo][cargoPublico][leiCargo][sitCargo]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.cargoPublico.leiCargo.sitCargo' 1 %}selected{% endifequal %}>1 - Criação</option><option value="2" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.cargoPublico.leiCargo.sitCargo' 2 %}selected{% endifequal %}>2 - Extinção</option><option value="3" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.inclusao.dadosCargo.cargoPublico.leiCargo.sitCargo' 3 %}selected{% endifequal %}>3 - Reestruturação. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="alteracao__div">
    <div class="col-md-12">
        <h4>Alteração de informações já existentes.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideCargo__div">
    <div class="col-md-12">
        <h4>Grupo de informações de identificação do cargo, apresentando código e período de validade do cargo cujas informações serão alteradas pelos dados constantes neste evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="codCargo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código do Cargo<a data-toggle="tooltip" title="Preencher com o código do cargo. Validação: O código atribuído não pode conter a expressão "eSocial" nas 7 (sete) primeiras posições."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__alteracao__ideCargo__id__codCargo" maxlength="30" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.ideCargo.codCargo'}}" name="[evtTabCargo][infoCargo][alteracao][ideCargo][codCargo]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="iniValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Início da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM. Validação: Deve ser uma data válida, igual ou posterior à data de início de obrigatoriedade deste evento para o empregador no eSocial, no formato AAAA-MM."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__alteracao__ideCargo__id__iniValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.ideCargo.iniValid'}}" name="[evtTabCargo][infoCargo][alteracao][ideCargo][iniValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="fimValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Fim da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de término da validade das informações, se houver. Validação: Se informado, deve estar no formato AAAA-MM e ser um período igual ou posterior a {iniValid}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__alteracao__ideCargo__id__fimValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.ideCargo.fimValid'}}" name="[evtTabCargo][infoCargo][alteracao][ideCargo][fimValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="dadosCargo__div">
    <div class="col-md-12">
        <h4>Informações do cargo.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="nmCargo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Nome<a data-toggle="tooltip" title="Preencher com o nome do cargo."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__alteracao__dadosCargo__id__nmCargo" maxlength="100" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.nmCargo'}}" name="[evtTabCargo][infoCargo][alteracao][dadosCargo][nmCargo]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codCBO__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>CBO<a data-toggle="tooltip" title="Classificação Brasileira de Ocupação - CBO. Validação: Deve ser um código existente na tabela de CBO, com 6 (seis) posições."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__alteracao__dadosCargo__id__codCBO" maxlength="6" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.codCBO'}}" name="[evtTabCargo][infoCargo][alteracao][dadosCargo][codCBO]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="cargoPublico__div">
    <div class="col-md-12">
        <h4>Detalhamento de informações exclusivas para Cargos e Empregos Públicos.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="acumCargo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Possibilidade de Acumulação<a data-toggle="tooltip" title="Preencher com o código correspondente à possibilidade de acumulação de cargos: 1 - Não acumulável; 2 - Profissional de Saúde; 3 - Professor; 4 - Técnico/Científico. Valores Válidos: 1, 2, 3, 4."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTabCargo__infoCargo__alteracao__dadosCargo__cargoPublico__id__acumCargo" name="[evtTabCargo][infoCargo][alteracao][dadosCargo][cargoPublico][acumCargo]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.cargoPublico.acumCargo' 1 %}selected{% endifequal %}>1 - Não acumulável</option><option value="2" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.cargoPublico.acumCargo' 2 %}selected{% endifequal %}>2 - Profissional de Saúde</option><option value="3" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.cargoPublico.acumCargo' 3 %}selected{% endifequal %}>3 - Professor</option><option value="4" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.cargoPublico.acumCargo' 4 %}selected{% endifequal %}>4 - Técnico/Científico. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="contagemEsp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Contagem de tempo especial<a data-toggle="tooltip" title="Preencher com o código correspondente a possibilidade de contagem de tempo especial: 1 - Não; 2 - Professor (Infantil, Fundamental e Médio); 3 - Professor de Ensino Superior, Magistrado, Membro de Ministério Público, Membro do Tribunal de Contas (com ingresso anterior a 16/12/1998 EC nr. 20/98); 4 - Atividade de risco. Valores Válidos: 1, 2, 3, 4."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTabCargo__infoCargo__alteracao__dadosCargo__cargoPublico__id__contagemEsp" name="[evtTabCargo][infoCargo][alteracao][dadosCargo][cargoPublico][contagemEsp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.cargoPublico.contagemEsp' 1 %}selected{% endifequal %}>1 - Não</option><option value="2" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.cargoPublico.contagemEsp' 2 %}selected{% endifequal %}>2 - Professor (Infantil, Fundamental e Médio)</option><option value="3" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.cargoPublico.contagemEsp' 3 %}selected{% endifequal %}>3 - Professor de Ensino Superior, Magistrado, Membro de Ministério Público, Membro do Tribunal de Contas (com ingresso anterior a 16/12/1998 EC nr. 20/98)</option><option value="4" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.cargoPublico.contagemEsp' 4 %}selected{% endifequal %}>4 - Atividade de risco. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="dedicExcl__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Dedicação Exclusiva<a data-toggle="tooltip" title="Indicar se é cargo de dedicação exclusiva: S - Sim; N - Não. Valores Válidos: S, N."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTabCargo__infoCargo__alteracao__dadosCargo__cargoPublico__id__dedicExcl" name="[evtTabCargo][infoCargo][alteracao][dadosCargo][cargoPublico][dedicExcl]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="S" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.cargoPublico.dedicExcl' S %}selected{% endifequal %}>S - Sim</option><option value="N" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.cargoPublico.dedicExcl' N %}selected{% endifequal %}>N - Não. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="leiCargo__div">
    <div class="col-md-12">
        <h4>Lei que criou/extinguiu/reestruturou o cargo.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="nrLei__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número da lei<a data-toggle="tooltip" title="Número da Lei."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__alteracao__dadosCargo__cargoPublico__leiCargo__id__nrLei" maxlength="12" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.cargoPublico.leiCargo.nrLei'}}" name="[evtTabCargo][infoCargo][alteracao][dadosCargo][cargoPublico][leiCargo][nrLei]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dtLei__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data da lei<a data-toggle="tooltip" title="Data da Lei."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__alteracao__dadosCargo__cargoPublico__leiCargo__id__dtLei" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.cargoPublico.leiCargo.dtLei'}}" name="[evtTabCargo][infoCargo][alteracao][dadosCargo][cargoPublico][leiCargo][dtLei]" onkeyup="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="sitCargo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Situação gerada pela lei<a data-toggle="tooltip" title="Situação gerada pela Lei. Preencher com uma das opções: 1 - Criação; 2 - Extinção; 3 - Reestruturação. Valores Válidos: 1, 2, 3."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTabCargo__infoCargo__alteracao__dadosCargo__cargoPublico__leiCargo__id__sitCargo" name="[evtTabCargo][infoCargo][alteracao][dadosCargo][cargoPublico][leiCargo][sitCargo]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.cargoPublico.leiCargo.sitCargo' 1 %}selected{% endifequal %}>1 - Criação</option><option value="2" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.cargoPublico.leiCargo.sitCargo' 2 %}selected{% endifequal %}>2 - Extinção</option><option value="3" {% ifequal original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.dadosCargo.cargoPublico.leiCargo.sitCargo' 3 %}selected{% endifequal %}>3 - Reestruturação. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="novaValidade__div">
    <div class="col-md-12">
        <h4>Informação preenchida exclusivamente em caso de alteração do período de validade das informações do cargo identificado em {ideCargo}, apresentando o novo período de validade.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="iniValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Início da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM. Validação: Deve ser uma data válida, igual ou posterior à data de início de obrigatoriedade deste evento para o empregador no eSocial, no formato AAAA-MM."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__alteracao__novaValidade__id__iniValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.novaValidade.iniValid'}}" name="[evtTabCargo][infoCargo][alteracao][novaValidade][iniValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="fimValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Fim da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de término da validade das informações, se houver. Validação: Se informado, deve estar no formato AAAA-MM e ser um período igual ou posterior a {iniValid}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__alteracao__novaValidade__id__fimValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.alteracao.novaValidade.fimValid'}}" name="[evtTabCargo][infoCargo][alteracao][novaValidade][fimValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="exclusao__div">
    <div class="col-md-12">
        <h4>Exclusão de informações.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideCargo__div">
    <div class="col-md-12">
        <h4>Identificação do registro que será excluído.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="codCargo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código do Cargo<a data-toggle="tooltip" title="Preencher com o código do cargo. Validação: O código atribuído não pode conter a expressão "eSocial" nas 7 (sete) primeiras posições."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__exclusao__ideCargo__id__codCargo" maxlength="30" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.exclusao.ideCargo.codCargo'}}" name="[evtTabCargo][infoCargo][exclusao][ideCargo][codCargo]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="iniValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Início da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM. Validação: Deve ser uma data válida, igual ou posterior à data de início de obrigatoriedade deste evento para o empregador no eSocial, no formato AAAA-MM."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__exclusao__ideCargo__id__iniValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.exclusao.ideCargo.iniValid'}}" name="[evtTabCargo][infoCargo][exclusao][ideCargo][iniValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="fimValid__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Fim da Validade<a data-toggle="tooltip" title="Preencher com o mês e ano de término da validade das informações, se houver. Validação: Se informado, deve estar no formato AAAA-MM e ser um período igual ou posterior a {iniValid}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTabCargo__infoCargo__exclusao__ideCargo__id__fimValid" maxlength="7" value="{{original.evento_json|readjson:'evtTabCargo.infoCargo.exclusao.ideCargo.fimValid'}}" name="[evtTabCargo][infoCargo][exclusao][ideCargo][fimValid]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

</div>

</form>
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON();
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
$("#id_nrinsc").keyup(function() {
    var origem = document.getElementById("id_nrinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
$("#id_tpinsc").on('change', function() {
    var origem = document.getElementById("id_tpinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_procemi").on('change', function() {
    var origem = document.getElementById("id_procemi");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__procEmi_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_tpamb").on('change', function() {
    var origem = document.getElementById("id_tpamb");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__tpAmb_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_verproc").keyup(function() {
    var origem = document.getElementById("id_verproc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
</script>
