
{% load esocial_custom_tags %}
<form id="form_json">

<div class="row">

<div id="evtAfastTemp__div">
    <div class="col-md-12">
        <h4>Evento Afastamento Temporário. Regras de validação: REGRA_AFASTAMENTO REGRA_EVENTOS_EXTEMP REGRA_EVENTO_EXT_SEM_IMPACTO_FOPAG REGRA_EXCLUI_EVENTO_AFASTAMENTO REGRA_EXISTE_INFO_EMPREGADOR REGRA_EXTEMP_REINTEGRACAO REGRA_GERAL_VALIDA_DADOS_TABCONTRIB REGRA_RETIFICA_MESMO_VINCULO REGRA_VALIDA_TRABALHADOR_BASE_CNIS</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de Identificação do Evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="indRetif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Identificador de retificação<a data-toggle="tooltip" title="Informe [1] para arquivo original ou [2] para arquivo de retificação. Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAfastTemp__ideEvento__id__indRetif" name="[evtAfastTemp][ideEvento][indRetif]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option>
            </select>
        </div>
    </div>
</div>

<div id="nrRecibo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número do recibo<a data-toggle="tooltip" title="Preencher com o número do recibo do arquivo a ser retificado. Validação: O preenchimento é obrigatório se {indRetif} = [2]. Deve ser um recibo de entrega válido, correspondente ao arquivo que está sendo retificado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__ideEvento__id__nrRecibo" maxlength="40" value="{{original.evento_json|readjson:'evtAfastTemp.ideEvento.nrRecibo'}}" name="[evtAfastTemp][ideEvento][nrRecibo]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Identificação do ambiente</label>
            <select name="[evtAfastTemp][ideEvento][tpAmb]" id="evtAfastTemp__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtAfastTemp][ideEvento][tpAmb]" id="evtAfastTemp__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Processo de emissão do evento</label>
            <select name="[evtAfastTemp][ideEvento][procEmi]" id="evtAfastTemp__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtAfastTemp][ideEvento][procEmi]" id="evtAfastTemp__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Versão do processo</label>
            <input type="text" name="[evtAfastTemp][ideEvento][verProc]" value="{{original.procemi}}" class="vTextField" maxlength="20" id="evtAfastTemp__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtAfastTemp][ideEvento][verProc]" id="evtAfastTemp__ideEvento__id__verProc" value="{{original.procemi}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="ideEmpregador__div">
    <div class="col-md-12">
        <h4>Informações de identificação do empregador.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Tipo de inscrição</label>
            <select name="[evtAfastTemp][ideEmpregador][tpInsc]" id="evtAfastTemp__ideEmpregador__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtAfastTemp][ideEmpregador][tpInsc]" id="evtAfastTemp__ideEmpregador__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Número de inscrição (CPF/CNPJ)</label>
            <input type="text" id="evtAfastTemp__ideEmpregador__id__nrInsc_disabled" name="[evtAfastTemp][ideEmpregador][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtAfastTemp][ideEmpregador][nrInsc]" id="evtAfastTemp__ideEmpregador__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="ideVinculo__div">
    <div class="col-md-12">
        <h4>Informações de Identificação do Trabalhador e do Vínculo. Regras de validação: REGRA_TSV_ATIVO_NA_DTEVENTO REGRA_VINCULO_ATIVO_NA_DTEVENTO</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="cpfTrab__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>CPF<a data-toggle="tooltip" title="Preencher com o número do CPF do trabalhador. Validação: Deve ser um CPF válido."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__ideVinculo__id__cpfTrab" maxlength="11" value="{{original.evento_json|readjson:'evtAfastTemp.ideVinculo.cpfTrab'}}" name="[evtAfastTemp][ideVinculo][cpfTrab]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="nisTrab__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>NIS<a data-toggle="tooltip" title="Preencher com o Número de Identificação Social - NIS, o qual pode ser o PIS, PASEP ou NIT. Validação: O preenchimento é obrigatório, exceto se o código de categoria do trabalhador for igual a [901, 903, 904]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__ideVinculo__id__nisTrab" maxlength="11" value="{{original.evento_json|readjson:'evtAfastTemp.ideVinculo.nisTrab'}}" name="[evtAfastTemp][ideVinculo][nisTrab]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="matricula__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Matricula<a data-toggle="tooltip" title="Matrícula atribuída ao trabalhador pela empresa ou, no caso de servidor público, a matrícula constante no Sistema de Administração de Recursos Humanos do órgão. Validação: A matrícula deve corresponder à informada pelo empregador no evento S-2200 do respectivo vínculo trabalhista. Se o trabalhador não está sujeito a esse evento (S-2200), a matrícula não deve ser informada, porém, o trabalhador deve ter sido registrado como TSVE - Trabalhador Sem Vínculo de Emprego/Estatutário, através do evento S-2300."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__ideVinculo__id__matricula" maxlength="30" value="{{original.evento_json|readjson:'evtAfastTemp.ideVinculo.matricula'}}" name="[evtAfastTemp][ideVinculo][matricula]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codCateg__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código da Categoria<a data-toggle="tooltip" title="Preencher com o código da categoria do trabalhador, conforme Tabela 1. Validação: Só informar se o trabalhador tiver sido registrado como TSVE - Trabalhador Sem Vínculo de Emprego/Estatutário, através do evento S-2300. Não informar nos demais casos. Se informado, deve existir na Tabela de Categorias de Trabalhadores (Tabela 01)."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__ideVinculo__id__codCateg" maxlength="3" value="{{original.evento_json|readjson:'evtAfastTemp.ideVinculo.codCateg'}}" name="[evtAfastTemp][ideVinculo][codCateg]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoAfastamento__div">
    <div class="col-md-12">
        <h4>Informações do Evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="iniAfastamento__div">
    <div class="col-md-12">
        <h4>Informações do Afastamento Temporário - Início.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="dtIniAfast__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data de início do afastamento<a data-toggle="tooltip" title="Data de início do afastamento. Validação: Deve-se obedecer às seguintes regras: a) A data deve ser igual ou posterior a data de admissão do vínculo ao qual se refere o evento (no caso de sucessão ou mudança de CPF, igual ou posterior à data da transferência ou à data de alteração do CPF, respectivamente); b) Não pode ser superior à data atual exceto se {codMotAfast} = [15] (férias), situação em que pode ser até 60 dias superior à data atual; c) É necessário que o trabalhador esteja, antes da data de início do afastamento, em atividade, ou seja, não pode existir evento de afastamento anterior a {dtIniAfast} sem que este tenha sido encerrado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__id__dtIniAfast" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.dtIniAfast'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][dtIniAfast]" onkeyup="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codMotAfast__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Afastamento<a data-toggle="tooltip" title="Preencher com o código do motivo de afastamento temporário, conforme tabela 18. Validação: Deve ser um código existente na tabela 18."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__id__codMotAfast" maxlength="2" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.codMotAfast'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][codMotAfast]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="infoMesmoMtv__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Mesmo motivo do afastamento anterior<a data-toggle="tooltip" title="Informar se o afastamento decorre da mesma doença que gerou o afastamento anterior ({codMotAfast} = [01, 03]) dentro de 60 dias: N - Não; S - Sim. Valores Válidos: S, N."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAfastTemp__infoAfastamento__iniAfastamento__id__infoMesmoMtv" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoMesmoMtv]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="N" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoMesmoMtv' N %}selected{% endifequal %}>N - Não</option><option value="S" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoMesmoMtv' S %}selected{% endifequal %}>S - Sim. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="tpAcidTransito__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de acidente de trânsito<a data-toggle="tooltip" title="Tipo de Acidente de Trânsito: 1 - Atropelamento; 2 - Colisão; 3 - Outros. Validação: Somente pode ser preenchido se {codMotAfast} = [01,03]. Valores Válidos: 1, 2, 3."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__id__tpAcidTransito" maxlength="1" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.tpAcidTransito'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][tpAcidTransito]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="observacao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Observações<a data-toggle="tooltip" title="Detalhar as informações sobre o afastamento do trabalhador, de maneira a explicitar os motivos do mesmo. Validação: O preenchimento é obrigatório se {codMotAfast} = [21]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__id__observacao" maxlength="255" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.observacao'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][observacao]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="infoAtestado__div">
    <div class="col-md-12">
        <h4>Informações complementares relativas ao atestado médico.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="codCID__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>CID<a data-toggle="tooltip" title="Informar o código na tabela de Classificação Internacional de Doenças - CID. Validação: O preenchimento deste campo é facultativo. Se informado, deve ser preenchido com caracteres alfanuméricos conforme opções constantes na tabela CID."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__infoAtestado__id__codCID" maxlength="4" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoAtestado.codCID'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoAtestado][codCID]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="qtdDiasAfast__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Quant. de dias afastados<a data-toggle="tooltip" title="Quantidade de dias de afastamento concedidos pelo médico. O preenchimento deste campo é facultativo."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__infoAtestado__id__qtdDiasAfast" maxlength="3" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoAtestado.qtdDiasAfast'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoAtestado][qtdDiasAfast]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="emitente__div">
    <div class="col-md-12">
        <h4>Médico/Dentista que emitiu o atestado.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="nmEmit__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Nome<a data-toggle="tooltip" title="Nome do médico/dentista que emitiu o atestado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__infoAtestado__emitente__id__nmEmit" maxlength="70" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoAtestado.emitente.nmEmit'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoAtestado][emitente][nmEmit]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="ideOC__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Órgão de Classe (OC)<a data-toggle="tooltip" title="Órgão de classe: 1 - Conselho Regional de Medicina (CRM); 2 - Conselho Regional de Odontologia (CRO); 3 - Registro do Ministério da Saúde (RMS). Valores Válidos: 1, 2, 3."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAfastTemp__infoAfastamento__iniAfastamento__infoAtestado__emitente__id__ideOC" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoAtestado][emitente][ideOC]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoAtestado.emitente.ideOC' 1 %}selected{% endifequal %}>1 - Conselho Regional de Medicina (CRM)</option><option value="2" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoAtestado.emitente.ideOC' 2 %}selected{% endifequal %}>2 - Conselho Regional de Odontologia (CRO)</option><option value="3" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoAtestado.emitente.ideOC' 3 %}selected{% endifequal %}>3 - Registro do Ministério da Saúde (RMS). Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="nrOc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número do OC<a data-toggle="tooltip" title="Número de inscrição no órgão de classe."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__infoAtestado__emitente__id__nrOc" maxlength="14" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoAtestado.emitente.nrOc'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoAtestado][emitente][nrOc]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="ufOC__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>UF do OC<a data-toggle="tooltip" title="Sigla da UF do órgão de classe."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__infoAtestado__emitente__id__ufOC" maxlength="2" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoAtestado.emitente.ufOC'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoAtestado][emitente][ufOC]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoCessao__div">
    <div class="col-md-12">
        <h4>Registro preenchido nos casos de afastamento por cessão ou requisição do trabalhador.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="cnpjCess__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>CNPJ do Cessionário<a data-toggle="tooltip" title="Preencher com o CNPJ do órgão/entidade para o qual o trabalhador foi cedido/requisitado. Validação: Deve ser um CNPJ diferente do CNPJ do empregador e diferente dos estabelecimentos informados através do evento S-1005. Regra de validação: REGRA_VALIDA_CNPJ"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__infoCessao__id__cnpjCess" maxlength="14" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoCessao.cnpjCess'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoCessao][cnpjCess]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="infOnus__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Onus da cessão/requisição<a data-toggle="tooltip" title="Ônus da cessão/requisição: 1 - Ônus do Cedente; 2 - Ônus do Cessionário; 3 - Ônus do Cedente e Cessionário. Valores Válidos: 1, 2, 3."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAfastTemp__infoAfastamento__iniAfastamento__infoCessao__id__infOnus" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoCessao][infOnus]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoCessao.infOnus' 1 %}selected{% endifequal %}>1 - Ônus do Cedente</option><option value="2" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoCessao.infOnus' 2 %}selected{% endifequal %}>2 - Ônus do Cessionário</option><option value="3" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoCessao.infOnus' 3 %}selected{% endifequal %}>3 - Ônus do Cedente e Cessionário. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoMandSind__div">
    <div class="col-md-12">
        <h4>Informações Complementares - afastamento para exercício de mandato sindical.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="cnpjSind__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>CNPJ do Sindicato<a data-toggle="tooltip" title="CNPJ do Sindicato no qual o trabalhador exercerá o mandato. Validação: Deve ser um CNPJ diferente do CNPJ base do empregador e diferente dos informados na tabela de estabelecimentos (S-1005). Regra de validação: REGRA_VALIDA_CNPJ"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__iniAfastamento__infoMandSind__id__cnpjSind" maxlength="14" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoMandSind.cnpjSind'}}" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoMandSind][cnpjSind]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="infOnusRemun__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Ônus da remuneração<a data-toggle="tooltip" title="Ônus da Remuneração: 1 - Apenas do Empregador; 2 - Apenas do Sindicato; 3 - Parte do Empregador, sendo a diferença e/ou complementação salarial paga pelo Sindicato. Valores Válidos: 1, 2, 3."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAfastTemp__infoAfastamento__iniAfastamento__infoMandSind__id__infOnusRemun" name="[evtAfastTemp][infoAfastamento][iniAfastamento][infoMandSind][infOnusRemun]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoMandSind.infOnusRemun' 1 %}selected{% endifequal %}>1 - Apenas do Empregador</option><option value="2" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoMandSind.infOnusRemun' 2 %}selected{% endifequal %}>2 - Apenas do Sindicato</option><option value="3" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.iniAfastamento.infoMandSind.infOnusRemun' 3 %}selected{% endifequal %}>3 - Parte do Empregador, sendo a diferença e/ou complementação salarial paga pelo Sindicato. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoRetif__div">
    <div class="col-md-12">
        <h4>Informações de retificação do Afastamento Temporário. Preenchimento obrigatório caso {codMotAfast} seja retificado de [01] para [03] ou de [03] para [01].</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="origRetif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Origem da retificação<a data-toggle="tooltip" title="Origem da retificação, conforme opções: 1 - Por iniciativa do empregador; 2 - Revisão Administrativa; 3 - Determinação Judicial. Valores Válidos: 1, 2, 3."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAfastTemp__infoAfastamento__infoRetif__id__origRetif" name="[evtAfastTemp][infoAfastamento][infoRetif][origRetif]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.infoRetif.origRetif' 1 %}selected{% endifequal %}>1 - Por iniciativa do empregador</option><option value="2" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.infoRetif.origRetif' 2 %}selected{% endifequal %}>2 - Revisão Administrativa</option><option value="3" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.infoRetif.origRetif' 3 %}selected{% endifequal %}>3 - Determinação Judicial. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="tpProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Processo RAT<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de processo: 1 - Administrativo; 2 - Judicial; 3 - Número de Benefício (NB) do INSS. Validação: O preenchimento é obrigatório se {origRetif} = [2, 3]. Valores Válidos: 1, 2, 3."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAfastTemp__infoAfastamento__infoRetif__id__tpProc" name="[evtAfastTemp][infoAfastamento][infoRetif][tpProc]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.infoRetif.tpProc' 1 %}selected{% endifequal %}>1 - Administrativo</option><option value="2" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.infoRetif.tpProc' 2 %}selected{% endifequal %}>2 - Judicial</option><option value="3" {% ifequal original.evento_json|readjson:'evtAfastTemp.infoAfastamento.infoRetif.tpProc' 3 %}selected{% endifequal %}>3 - Número de Benefício (NB) do INSS. Validação</option>
            </select>
        </div>
    </div>
</div>

<div id="nrProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número do Processo<a data-toggle="tooltip" title="Informar o número do processo administrativo/judicial ou do benefício de acordo com o tipo informado em {tpProc}. Validação: O preenchimento é obrigatório se {origRetif} = [2, 3]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__infoRetif__id__nrProc" maxlength="21" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.infoRetif.nrProc'}}" name="[evtAfastTemp][infoAfastamento][infoRetif][nrProc]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="fimAfastamento__div">
    <div class="col-md-12">
        <h4>Informações do Término do Afastamento. Regra de validação: REGRA_EXISTE_EVENTO_AFASTAMENTO</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="dtTermAfast__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data de término no afastamento<a data-toggle="tooltip" title="Preencher com a data do término do afastamento do trabalhador. Validação: Deve ser igual ou posterior à data de início do afastamento do trabalhador."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAfastTemp__infoAfastamento__fimAfastamento__id__dtTermAfast" value="{{original.evento_json|readjson:'evtAfastTemp.infoAfastamento.fimAfastamento.dtTermAfast'}}" name="[evtAfastTemp][infoAfastamento][fimAfastamento][dtTermAfast]" onkeyup="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

</div>

</form>
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON();
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
$("#id_nrinsc").keyup(function() {
    var origem = document.getElementById("id_nrinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
$("#id_tpinsc").on('change', function() {
    var origem = document.getElementById("id_tpinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_procemi").on('change', function() {
    var origem = document.getElementById("id_procemi");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__procEmi_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_tpamb").on('change', function() {
    var origem = document.getElementById("id_tpamb");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__tpAmb_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_verproc").keyup(function() {
    var origem = document.getElementById("id_verproc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
</script>
