beautifulsoup4
coreapi
cryptography==43.0.3
dicttoxml
django-adminlte-ui==2.1.1
django-allauth
django-constance==4.1.2
django-cors-headers
django-currentuser
django-environ
django-filter
django-localflavor
django-multiselectfield==0.1.13
django-picklefield
django-rest-passwordreset
django-reversion
django-timezone-field
django-wkhtmltopdf
Django==4.2.16
djangorestframework>=3.15.2
djangorestframework-simplejwt
dotmap
json2xml
jsonfield
libesocial @ https://github.com/qualitaocupacional/libesocial/archive/main.zip#sha256=fafd215f0367ec774052dd168520a3bd45db56ddf1010f96b80ad3cbe579ae6f
lxml
pandas
psycopg2-binary
pyOpenSSL==24.2.1
pypdf>=3.9.0
python-dateutil
python-slugify
reportlab
requests
setuptools==70.0.0
signxml
untangle
whitenoise
xlwt==1.3.0
xmlschema
xmltodict

pip-audit==2.7.3  # DEV
django-debug-toolbar  # DEV
flake8  # DEV
mypy  # DEV
types-beautifulsoup4
lxml-stubs
djangorestframework-stubs
types-python-dateutil
types-xmltodict
