Django==4.2.18
django-currentuser
django-environ
django-adminlte-ui==2.1.1
django-multiselectfield==0.1.13
cryptography==43.0.3
pyOpenSSL==24.2.1
django-localflavor
django-picklefield
django-reversion==5.1.0
django-timezone-field
django-wkhtmltopdf
djangorestframework
jsonfield
psycopg2-binary
python-slugify
signxml
xmlschema
xmltodict
json2xml
beautifulsoup4
pandas
lxml
coreapi
django-filter
djangorestframework-simplejwt
django-rest-passwordreset
django-cors-headers
reportlab
django-allauth
whitenoise
requests
python-dateutil
dicttoxml
untangle
xlwt==1.3.0
dotmap
pdfkit
gunicorn
git+https://github.com/marcelomdevasconcellos/libesocial.git@master#egg=libesocial
