wheel==0.38.1
Django==3.2.25  # https://www.djangoproject.com/download/
django-celery-beat==1.5.0
django-constance==2.8.0
django-cron
django-currentuser
idna==3.7
django-environ==0.4.5
django-localflavor
django-picklefield
django-reversion
django-timezone-field
django-wkhtmltopdf==3.3.0
djangorestframework
jsonfield==3.1.0
psycopg2-binary==2.9.9
pyOpenSSL==17.5.0
python-slugify==4.0.1
signxml
Unidecode==1.1.1
untangle==1.2.1
xhtml2pdf==0.2.2
xmlschema==1.0.13
xmltodict
json2xml>=3.14.0 # https://json2xml.readthedocs.io/en/latest/
git+https://github.com/marcelomdevasconcellos/django-adminlte-ui.git#egg=django-adminlte-ui #original: django-adminlte-ui==1.5.1
git+https://github.com/marcelomdevasconcellos/libesocial.git#egg=libesocial #original: libesocial
beautifulsoup4==4.9.3
pandas==1.5.3
lxml==4.9.1
coreapi
django-filter
djangorestframework-simplejwt==5.3.1
django-rest-passwordreset==1.1.0
django-cors-headers==3.7.0
reportlab
django-allauth==0.41.0
whitenoise==5.2.0
requests==2.32.0
django-treebeard~=4.3
python-dateutil==2.8.1
dicttoxml==1.7.16
urllib3==1.26.19
setuptools==70.0.0
future==0.18.3
cryptography==43.0.1
certifi==2024.7.4



pip-audit  # DEV
django-debug-toolbar  # DEV
flake8  # DEV
mypy  # DEV