wheel==0.36.2
Django==3.2.4  # https://www.djangoproject.com/download/
django-celery-beat==1.5.0
django-constance==2.8.0
django-cron==0.5.1
django-currentuser==0.5.3
django-environ==0.4.5
django-filter==2.0.0
# django-localflavor-br==1.0
django-localflavor==2.2
django-picklefield==2.0
django-reversion==3.0.4
django-timezone-field==3.0
django-wkhtmltopdf==3.3.0
djangorestframework==3.12.4
googletrans==2.4.0
goslate==1.5.1
jsonfield==3.1.0
markdown==2.6
psycopg2-binary==2.8.3
psycopg2==2.8.3
pyOpenSSL==17.5.0
python-slugify==4.0.1
signxml==2.5.2
Unidecode==1.1.1
untangle==1.1.1
xhtml2pdf==0.2.2
xmlschema==1.0.13
xmltodict==0.11.0
json2xml==3.5.0  # https://json2xml.readthedocs.io/en/latest/
git+git://github.com/marcelomdevasconcellos/django-adminlte-ui.git#egg=django-adminlte-ui #original: django-adminlte-ui==1.5.1
git+git://github.com/marcelomdevasconcellos/libesocial.git#egg=libesocial #original: libesocial
beautifulsoup4==4.9.3
pandas==1.2.4
lxml
coreapi
django-filter
djangorestframework-simplejwt==4.7.1
django-rest-passwordreset==1.1.0
django-cors-headers==3.7.0
reportlab
django-allauth==0.41.0
