{% load templatetags %}{% load static %}



<!-- inicio__s2205_evtaltcadastral__evtaltcadastral -->
<div class="col-md-12" id="s2205_evtaltcadastral__evtaltcadastral__div">
  <h4>Evento Alteração Cadastral do Trabalhador</h4>
</div>
<!-- fim__s2205_evtaltcadastral__evtaltcadastral -->
<!-- inicio__s2205_evtaltcadastral__identidade -->
<div class="col-md-6" id="s2205_evtaltcadastral__identidade__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__identidade__label">Identidade do Registro</label>
      {% if s2205_evtaltcadastral_form.identidade.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2205_evtaltcadastral_form.identidade.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2205_evtaltcadastral_form.identidade|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__identidade -->
<!-- inicio__s2205_evtaltcadastral__ideevento -->
<div class="col-md-12" id="s2205_evtaltcadastral__ideevento__div">
  <h4>Informações de Identificação do Evento</h4>
</div>
<!-- fim__s2205_evtaltcadastral__ideevento -->
<!-- inicio__s2205_evtaltcadastral__indretif -->
<div class="col-md-6" id="s2205_evtaltcadastral__indretif__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__indretif__label">Identificador de retificação*</label>
    {% if s2205_evtaltcadastral_form.indretif.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2205_evtaltcadastral_form.indretif.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2205_evtaltcadastral_form.indretif.field.widget.attrs.readonly %}
        {% if s2205_evtaltcadastral_form.indretif.field.widget.attrs.disabled %}
          {{ s2205_evtaltcadastral_form.indretif|addcss:'form-control' }}
          <input id="id_indretif" name="indretif" type="hidden" value="{% if s2205_evtaltcadastral_form.indretif.value or s2205_evtaltcadastral_form.indretif.value == 0 %}{{ s2205_evtaltcadastral_form.indretif.value|valor }}{% endif %}">
        {% else %}
          {{ s2205_evtaltcadastral_form.indretif|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2205_evtaltcadastral_form.indretif|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__indretif -->
<!-- inicio__s2205_evtaltcadastral__nrrecibo -->
<div class="col-md-6" id="s2205_evtaltcadastral__nrrecibo__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__nrrecibo__label">Número do recibo</label>
      {% if s2205_evtaltcadastral_form.nrrecibo.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2205_evtaltcadastral_form.nrrecibo.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2205_evtaltcadastral_form.nrrecibo|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__nrrecibo -->
<!-- inicio__s2205_evtaltcadastral__tpamb -->
<div class="col-md-6" id="s2205_evtaltcadastral__tpamb__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__tpamb__label">Identificação do ambiente*</label>
    {% if s2205_evtaltcadastral_form.tpamb.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2205_evtaltcadastral_form.tpamb.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2205_evtaltcadastral_form.tpamb.field.widget.attrs.readonly %}
        {% if s2205_evtaltcadastral_form.tpamb.field.widget.attrs.disabled %}
          {{ s2205_evtaltcadastral_form.tpamb|addcss:'form-control' }}
          <input id="id_tpamb" name="tpamb" type="hidden" value="{% if s2205_evtaltcadastral_form.tpamb.value or s2205_evtaltcadastral_form.tpamb.value == 0 %}{{ s2205_evtaltcadastral_form.tpamb.value|valor }}{% endif %}">
        {% else %}
          {{ s2205_evtaltcadastral_form.tpamb|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2205_evtaltcadastral_form.tpamb|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__tpamb -->
<!-- inicio__s2205_evtaltcadastral__procemi -->
<div class="col-md-6" id="s2205_evtaltcadastral__procemi__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__procemi__label">Processo de emissão do evento*</label>
    {% if s2205_evtaltcadastral_form.procemi.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2205_evtaltcadastral_form.procemi.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2205_evtaltcadastral_form.procemi.field.widget.attrs.readonly %}
        {% if s2205_evtaltcadastral_form.procemi.field.widget.attrs.disabled %}
          {{ s2205_evtaltcadastral_form.procemi|addcss:'form-control' }}
          <input id="id_procemi" name="procemi" type="hidden" value="{% if s2205_evtaltcadastral_form.procemi.value or s2205_evtaltcadastral_form.procemi.value == 0 %}{{ s2205_evtaltcadastral_form.procemi.value|valor }}{% endif %}">
        {% else %}
          {{ s2205_evtaltcadastral_form.procemi|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2205_evtaltcadastral_form.procemi|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__procemi -->
<!-- inicio__s2205_evtaltcadastral__verproc -->
<div class="col-md-6" id="s2205_evtaltcadastral__verproc__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__verproc__label">Versão do processo*</label>
      {% if s2205_evtaltcadastral_form.verproc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2205_evtaltcadastral_form.verproc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2205_evtaltcadastral_form.verproc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__verproc -->
<!-- inicio__s2205_evtaltcadastral__ideempregador -->
<div class="col-md-12" id="s2205_evtaltcadastral__ideempregador__div">
  <h4>Informações de identificação do empregador</h4>
</div>
<!-- fim__s2205_evtaltcadastral__ideempregador -->
<!-- inicio__s2205_evtaltcadastral__tpinsc -->
<div class="col-md-6" id="s2205_evtaltcadastral__tpinsc__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__tpinsc__label">Tipo de inscrição*</label>
    {% if s2205_evtaltcadastral_form.tpinsc.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2205_evtaltcadastral_form.tpinsc.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2205_evtaltcadastral_form.tpinsc.field.widget.attrs.readonly %}
        {% if s2205_evtaltcadastral_form.tpinsc.field.widget.attrs.disabled %}
          {{ s2205_evtaltcadastral_form.tpinsc|addcss:'form-control' }}
          <input id="id_tpinsc" name="tpinsc" type="hidden" value="{% if s2205_evtaltcadastral_form.tpinsc.value or s2205_evtaltcadastral_form.tpinsc.value == 0 %}{{ s2205_evtaltcadastral_form.tpinsc.value|valor }}{% endif %}">
        {% else %}
          {{ s2205_evtaltcadastral_form.tpinsc|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2205_evtaltcadastral_form.tpinsc|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__tpinsc -->
<!-- inicio__s2205_evtaltcadastral__nrinsc -->
<div class="col-md-6" id="s2205_evtaltcadastral__nrinsc__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__nrinsc__label">Número de inscrição (CPF/CNPJ)*</label>
      {% if s2205_evtaltcadastral_form.nrinsc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2205_evtaltcadastral_form.nrinsc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2205_evtaltcadastral_form.nrinsc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__nrinsc -->
<!-- inicio__s2205_evtaltcadastral__idetrabalhador -->
<div class="col-md-12" id="s2205_evtaltcadastral__idetrabalhador__div">
  <h4>Registro que apresenta a identificação básica do trabalhador ao qual se refere o evento de remuneração.</h4>
</div>
<!-- fim__s2205_evtaltcadastral__idetrabalhador -->
<!-- inicio__s2205_evtaltcadastral__cpftrab -->
<div class="col-md-6" id="s2205_evtaltcadastral__cpftrab__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__cpftrab__label">CPF*</label>
      {% if s2205_evtaltcadastral_form.cpftrab.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2205_evtaltcadastral_form.cpftrab.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2205_evtaltcadastral_form.cpftrab|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__cpftrab -->
<!-- inicio__s2205_evtaltcadastral__alteracao -->
<div class="col-md-12" id="s2205_evtaltcadastral__alteracao__div">
  <h4>Alteração das informações</h4>
</div>
<!-- fim__s2205_evtaltcadastral__alteracao -->
<!-- inicio__s2205_evtaltcadastral__dtalteracao -->
<div class="col-md-6" id="s2205_evtaltcadastral__dtalteracao__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__dtalteracao__label">Data de alteração*</label>
        {% if s2205_evtaltcadastral_form.dtalteracao.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s2205_evtaltcadastral_form.dtalteracao.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2205_evtaltcadastral_form.dtalteracao|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__dtalteracao -->
<!-- inicio__s2205_evtaltcadastral__dadostrabalhador -->
<div class="col-md-12" id="s2205_evtaltcadastral__dadostrabalhador__div">
  <h4>Informações Pessoais do Trabalhador</h4>
</div>
<!-- fim__s2205_evtaltcadastral__dadostrabalhador -->
<!-- inicio__s2205_evtaltcadastral__nistrab -->
<div class="col-md-6" id="s2205_evtaltcadastral__nistrab__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__nistrab__label">NIS</label>
      {% if s2205_evtaltcadastral_form.nistrab.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2205_evtaltcadastral_form.nistrab.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2205_evtaltcadastral_form.nistrab|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__nistrab -->
<!-- inicio__s2205_evtaltcadastral__nmtrab -->
<div class="col-md-6" id="s2205_evtaltcadastral__nmtrab__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__nmtrab__label">Nome*</label>
      {% if s2205_evtaltcadastral_form.nmtrab.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2205_evtaltcadastral_form.nmtrab.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2205_evtaltcadastral_form.nmtrab|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__nmtrab -->
<!-- inicio__s2205_evtaltcadastral__sexo -->
<div class="col-md-6" id="s2205_evtaltcadastral__sexo__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__sexo__label">Sexo*</label>
    {% if s2205_evtaltcadastral_form.sexo.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2205_evtaltcadastral_form.sexo.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2205_evtaltcadastral_form.sexo.field.widget.attrs.readonly %}
        {% if s2205_evtaltcadastral_form.sexo.field.widget.attrs.disabled %}
          {{ s2205_evtaltcadastral_form.sexo|addcss:'form-control' }}
          <input id="id_sexo" name="sexo" type="hidden" value="{% if s2205_evtaltcadastral_form.sexo.value or s2205_evtaltcadastral_form.sexo.value == 0 %}{{ s2205_evtaltcadastral_form.sexo.value }}{% endif %}">
        {% else %}
          {{ s2205_evtaltcadastral_form.sexo|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2205_evtaltcadastral_form.sexo|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__sexo -->
<!-- inicio__s2205_evtaltcadastral__racacor -->
<div class="col-md-6" id="s2205_evtaltcadastral__racacor__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__racacor__label">Raça/Cor*</label>
    {% if s2205_evtaltcadastral_form.racacor.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2205_evtaltcadastral_form.racacor.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2205_evtaltcadastral_form.racacor.field.widget.attrs.readonly %}
        {% if s2205_evtaltcadastral_form.racacor.field.widget.attrs.disabled %}
          {{ s2205_evtaltcadastral_form.racacor|addcss:'form-control' }}
          <input id="id_racacor" name="racacor" type="hidden" value="{% if s2205_evtaltcadastral_form.racacor.value or s2205_evtaltcadastral_form.racacor.value == 0 %}{{ s2205_evtaltcadastral_form.racacor.value|valor }}{% endif %}">
        {% else %}
          {{ s2205_evtaltcadastral_form.racacor|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2205_evtaltcadastral_form.racacor|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__racacor -->
<!-- inicio__s2205_evtaltcadastral__estciv -->
<div class="col-md-6" id="s2205_evtaltcadastral__estciv__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__estciv__label">Estado Civil</label>
    {% if s2205_evtaltcadastral_form.estciv.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2205_evtaltcadastral_form.estciv.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2205_evtaltcadastral_form.estciv.field.widget.attrs.readonly %}
        {% if s2205_evtaltcadastral_form.estciv.field.widget.attrs.disabled %}
          {{ s2205_evtaltcadastral_form.estciv|addcss:'form-control' }}
          <input id="id_estciv" name="estciv" type="hidden" value="{% if s2205_evtaltcadastral_form.estciv.value or s2205_evtaltcadastral_form.estciv.value == 0 %}{{ s2205_evtaltcadastral_form.estciv.value|valor }}{% endif %}">
        {% else %}
          {{ s2205_evtaltcadastral_form.estciv|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2205_evtaltcadastral_form.estciv|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__estciv -->
<!-- inicio__s2205_evtaltcadastral__grauinstr -->
<div class="col-md-6" id="s2205_evtaltcadastral__grauinstr__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__grauinstr__label">Grau de Instrução*</label>
    {% if s2205_evtaltcadastral_form.grauinstr.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2205_evtaltcadastral_form.grauinstr.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2205_evtaltcadastral_form.grauinstr.field.widget.attrs.readonly %}
        {% if s2205_evtaltcadastral_form.grauinstr.field.widget.attrs.disabled %}
          {{ s2205_evtaltcadastral_form.grauinstr|addcss:'form-control' }}
          <input id="id_grauinstr" name="grauinstr" type="hidden" value="{% if s2205_evtaltcadastral_form.grauinstr.value or s2205_evtaltcadastral_form.grauinstr.value == 0 %}{{ s2205_evtaltcadastral_form.grauinstr.value }}{% endif %}">
        {% else %}
          {{ s2205_evtaltcadastral_form.grauinstr|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2205_evtaltcadastral_form.grauinstr|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__grauinstr -->
<!-- inicio__s2205_evtaltcadastral__nmsoc -->
<div class="col-md-6" id="s2205_evtaltcadastral__nmsoc__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__nmsoc__label">Nome Social</label>
      {% if s2205_evtaltcadastral_form.nmsoc.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2205_evtaltcadastral_form.nmsoc.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2205_evtaltcadastral_form.nmsoc|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__nmsoc -->
<!-- inicio__s2205_evtaltcadastral__nascimento -->
<div class="col-md-12" id="s2205_evtaltcadastral__nascimento__div">
  <h4>Grupo de informações do nascimento do trabalhador</h4>
</div>
<!-- fim__s2205_evtaltcadastral__nascimento -->
<!-- inicio__s2205_evtaltcadastral__dtnascto -->
<div class="col-md-6" id="s2205_evtaltcadastral__dtnascto__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__dtnascto__label">Data de nascimento*</label>
        {% if s2205_evtaltcadastral_form.dtnascto.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
              {{ s2205_evtaltcadastral_form.dtnascto.errors }}
          </div>
        {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2205_evtaltcadastral_form.dtnascto|addcss:'form-control automate-date' }}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__dtnascto -->
<!-- inicio__s2205_evtaltcadastral__codmunic -->
{% if permissao.permite_editar or permissao.permite_cadastrar %}
  <div class="col-md-12" id="s2205_evtaltcadastral__codmunic__div">
    <div class="form-group">
      <label id="s2205_evtaltcadastral__codmunic__label">Código do Município</label>
        {% if s2205_evtaltcadastral_form.codmunic.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s2205_evtaltcadastral_form.codmunic.errors }}
          </div>
        {% endif %}
        <input type="text" id="txt_codmunic" name="txt_codmunic" class="form-control" value="{% if s2205_evtaltcadastral.codmunic %}{{ s2205_evtaltcadastral.codmunic }}{% endif %}" 
        {% if s2205_evtaltcadastral_form.codmunic.field.widget.attrs.readonly %} readonly="readonly"{% endif %}{% if s2205_evtaltcadastral_form.codmunic.field.widget.attrs.required %} required="required"{% endif %}{% if s2205_evtaltcadastral_form.codmunic.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden" id="id_codmunic" name="codmunic" value="{% if s2205_evtaltcadastral.codmunic %}{{ s2205_evtaltcadastral_form.codmunic.value|valor }}{% endif %}">
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_codmunic').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/municipios/json-search/" + request.term + "/", function (data) {
          response($.map(data.municipios, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_codmunic').val(ui.item.value);
        return false;
      }});
    {% if s2205_evtaltcadastral_form.codmunic.field.widget.attrs.required %}
    $("#id_form_s2205_evtaltcadastral").submit(function(e) {
      $('#txt_codmunic').disabled = true;
        if ($('#id_codmunic').val() == "") {
          $('#txt_codmunic').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo Código do Município!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-12" id="s2205_evtaltcadastral__codmunic__div">
    <div class="form-group">
      <label id="s2205_evtaltcadastral__codmunic__label">Código do Município</label>
        {% if not for_print %}{% if s2205_evtaltcadastral_form.codmunic.value %}
            <a id="s2205_evtaltcadastral__codmunic__div_acessar" href="{% url 'municipios_salvar' hash='{}'|json_id:s2205_evtaltcadastral_form.codmunic.value|json_print:0|base64_encode_me %}">
                [Acessar]
            </a>
        {% endif %} {% endif %}
        <input type="text" id="txt_codmunic" name="txt_codmunic" class="form-control" value="{% if s2205_evtaltcadastral.codmunic %}{{ s2205_evtaltcadastral.codmunic }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s2205_evtaltcadastral__codmunic -->
<!-- inicio__s2205_evtaltcadastral__uf -->
<div class="col-md-6" id="s2205_evtaltcadastral__uf__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__uf__label">UF</label>
    {% if s2205_evtaltcadastral_form.uf.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2205_evtaltcadastral_form.uf.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2205_evtaltcadastral_form.uf.field.widget.attrs.readonly %}
        {% if s2205_evtaltcadastral_form.uf.field.widget.attrs.disabled %}
          {{ s2205_evtaltcadastral_form.uf|addcss:'form-control' }}
          <input id="id_uf" name="uf" type="hidden" value="{% if s2205_evtaltcadastral_form.uf.value or s2205_evtaltcadastral_form.uf.value == 0 %}{{ s2205_evtaltcadastral_form.uf.value }}{% endif %}">
        {% else %}
          {{ s2205_evtaltcadastral_form.uf|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2205_evtaltcadastral_form.uf|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__uf -->
<!-- inicio__s2205_evtaltcadastral__paisnascto -->
{% if permissao.permite_editar or permissao.permite_cadastrar %}
  <div class="col-md-12" id="s2205_evtaltcadastral__paisnascto__div">
    <div class="form-group">
      <label id="s2205_evtaltcadastral__paisnascto__label">País de nascimento*</label>
        {% if s2205_evtaltcadastral_form.paisnascto.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s2205_evtaltcadastral_form.paisnascto.errors }}
          </div>
        {% endif %}
        <input type="text" id="txt_paisnascto" name="txt_paisnascto" class="form-control" value="{% if s2205_evtaltcadastral.paisnascto %}{{ s2205_evtaltcadastral.paisnascto }}{% endif %}" 
        {% if s2205_evtaltcadastral_form.paisnascto.field.widget.attrs.readonly %} readonly="readonly"{% endif %}{% if s2205_evtaltcadastral_form.paisnascto.field.widget.attrs.required %} required="required"{% endif %}{% if s2205_evtaltcadastral_form.paisnascto.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden" id="id_paisnascto" name="paisnascto" value="{% if s2205_evtaltcadastral.paisnascto %}{{ s2205_evtaltcadastral_form.paisnascto.value|valor }}{% endif %}">
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_paisnascto').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/esocial-paises/json-search/" + request.term + "/", function (data) {
          response($.map(data.esocial_paises, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_paisnascto').val(ui.item.value);
        return false;
      }});
    {% if s2205_evtaltcadastral_form.paisnascto.field.widget.attrs.required %}
    $("#id_form_s2205_evtaltcadastral").submit(function(e) {
      $('#txt_paisnascto').disabled = true;
        if ($('#id_paisnascto').val() == "") {
          $('#txt_paisnascto').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo País de nascimento!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-12" id="s2205_evtaltcadastral__paisnascto__div">
    <div class="form-group">
      <label id="s2205_evtaltcadastral__paisnascto__label">País de nascimento*</label>
        {% if not for_print %}{% if s2205_evtaltcadastral_form.paisnascto.value %}
            <a id="s2205_evtaltcadastral__paisnascto__div_acessar" href="{% url 'esocial-paises_salvar' hash='{}'|json_id:s2205_evtaltcadastral_form.paisnascto.value|json_print:0|base64_encode_me %}">
                [Acessar]
            </a>
        {% endif %} {% endif %}
        <input type="text" id="txt_paisnascto" name="txt_paisnascto" class="form-control" value="{% if s2205_evtaltcadastral.paisnascto %}{{ s2205_evtaltcadastral.paisnascto }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s2205_evtaltcadastral__paisnascto -->
<!-- inicio__s2205_evtaltcadastral__paisnac -->
{% if permissao.permite_editar or permissao.permite_cadastrar %}
  <div class="col-md-12" id="s2205_evtaltcadastral__paisnac__div">
    <div class="form-group">
      <label id="s2205_evtaltcadastral__paisnac__label">País de nacionalidade*</label>
        {% if s2205_evtaltcadastral_form.paisnac.errors %}
          <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
            {{ s2205_evtaltcadastral_form.paisnac.errors }}
          </div>
        {% endif %}
        <input type="text" id="txt_paisnac" name="txt_paisnac" class="form-control" value="{% if s2205_evtaltcadastral.paisnac %}{{ s2205_evtaltcadastral.paisnac }}{% endif %}" 
        {% if s2205_evtaltcadastral_form.paisnac.field.widget.attrs.readonly %} readonly="readonly"{% endif %}{% if s2205_evtaltcadastral_form.paisnac.field.widget.attrs.required %} required="required"{% endif %}{% if s2205_evtaltcadastral_form.paisnac.field.widget.attrs.disabled %} disabled="disabled"{% endif %} >
        <input type="hidden" id="id_paisnac" name="paisnac" value="{% if s2205_evtaltcadastral.paisnac %}{{ s2205_evtaltcadastral_form.paisnac.value|valor }}{% endif %}">
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(e){
    $('#txt_paisnac').autocomplete({
      source: function (request, response) {
        $.getJSON("{{ LINK_WEBSITE }}tabelas/esocial-paises/json-search/" + request.term + "/", function (data) {
          response($.map(data.esocial_paises, function (value, key) {
            return {
              label: value.value,
              value: value.key
            };
          }));
        });
      },
      minLength: 3,
      select: function( e, ui ) {
        e.preventDefault(e);
        $(this).val(ui.item.label);
        $('#id_paisnac').val(ui.item.value);
        return false;
      }});
    {% if s2205_evtaltcadastral_form.paisnac.field.widget.attrs.required %}
    $("#id_form_s2205_evtaltcadastral").submit(function(e) {
      $('#txt_paisnac').disabled = true;
        if ($('#id_paisnac').val() == "") {
          $('#txt_paisnac').val("");
          alert('Formulário não pode ser salvo sem selecionar o(a) campo País de nacionalidade!');
          e.preventDefault(e);
      };
    });
    {% endif %}
  });
  </script>
  {% else %}
  <div class="col-md-12" id="s2205_evtaltcadastral__paisnac__div">
    <div class="form-group">
      <label id="s2205_evtaltcadastral__paisnac__label">País de nacionalidade*</label>
        {% if not for_print %}{% if s2205_evtaltcadastral_form.paisnac.value %}
            <a id="s2205_evtaltcadastral__paisnac__div_acessar" href="{% url 'esocial-paises_salvar' hash='{}'|json_id:s2205_evtaltcadastral_form.paisnac.value|json_print:0|base64_encode_me %}">
                [Acessar]
            </a>
        {% endif %} {% endif %}
        <input type="text" id="txt_paisnac" name="txt_paisnac" class="form-control" value="{% if s2205_evtaltcadastral.paisnac %}{{ s2205_evtaltcadastral.paisnac }}{% endif %}" disabled="disabled">
    </div>
  </div>
{% endif %}
<!-- fim__s2205_evtaltcadastral__paisnac -->
<!-- inicio__s2205_evtaltcadastral__nmmae -->
<div class="col-md-6" id="s2205_evtaltcadastral__nmmae__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__nmmae__label">Nome da Mãe</label>
      {% if s2205_evtaltcadastral_form.nmmae.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2205_evtaltcadastral_form.nmmae.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2205_evtaltcadastral_form.nmmae|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__nmmae -->
<!-- inicio__s2205_evtaltcadastral__nmpai -->
<div class="col-md-6" id="s2205_evtaltcadastral__nmpai__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__nmpai__label">Nome do Pai</label>
      {% if s2205_evtaltcadastral_form.nmpai.errors %}
        <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
          {{ s2205_evtaltcadastral_form.nmpai.errors }}
        </div>
      {% endif %}
    <div class="input-group" style="width: 100%;">
      {{ s2205_evtaltcadastral_form.nmpai|addcss:'form-control' }}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__nmpai -->
<!-- inicio__s2205_evtaltcadastral__endereco -->
<div class="col-md-12" id="s2205_evtaltcadastral__endereco__div">
  <h4>Grupo de informações do endereço do Trabalhador</h4>
</div>
<!-- fim__s2205_evtaltcadastral__endereco -->
<!-- inicio__s2205_evtaltcadastral__versao -->
<div class="col-md-3" id="s2205_evtaltcadastral__versao__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__versao__label">Versão</label>
    {% if s2205_evtaltcadastral_form.versao.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2205_evtaltcadastral_form.versao.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2205_evtaltcadastral_form.versao.field.widget.attrs.readonly %}
        {% if s2205_evtaltcadastral_form.versao.field.widget.attrs.disabled %}
          {{ s2205_evtaltcadastral_form.versao|addcss:'form-control' }}
          <input id="id_versao" name="versao" type="hidden" value="{% if s2205_evtaltcadastral_form.versao.value or s2205_evtaltcadastral_form.versao.value == 0 %}{{ s2205_evtaltcadastral_form.versao.value }}{% endif %}">
        {% else %}
          {{ s2205_evtaltcadastral_form.versao|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2205_evtaltcadastral_form.versao|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__versao -->
<!-- inicio__s2205_evtaltcadastral__transmissor_lote_esocial -->
<script type="text/javascript">$(document).ready(function(){$('#id_transmissor_lote_esocial').change(function(){document.getElementById("s2205_evtaltcadastral__transmissor_lote_esocial__div_acessar").style.display = 'none';});});</script>
<div class="col-md-3" id="s2205_evtaltcadastral__transmissor_lote_esocial__div">
<div class="form-group">
  <label id="s2205_evtaltcadastral__transmissor_lote_esocial__label">Transmissor</label>
  {% if not for_print %}
    {% if s2205_evtaltcadastral_form.transmissor_lote_esocial.value %}
    <a id="s2205_evtaltcadastral__transmissor_lote_esocial__div_acessar" href="{% url 'transmissor_lote_esocial_salvar' hash='{}'|json_id:s2205_evtaltcadastral_form.transmissor_lote_esocial.value|json_print:0|base64_encode_me %}">
     [Acessar]
    </a>
    {% endif %} 
  {% endif %}
  {% if s2205_evtaltcadastral_form.transmissor_lote_esocial.errors %}
    <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
      {{ s2205_evtaltcadastral_form.transmissor_lote_esocial.errors }}
    </div>
  {% endif %}
  {% if s2205_evtaltcadastral_form.transmissor_lote_esocial.field.widget.attrs.readonly %}
    {% if s2205_evtaltcadastral_form.transmissor_lote_esocial.field.widget.attrs.disabled %}
      {{ s2205_evtaltcadastral_form.transmissor_lote_esocial|addcss:'form-control' }}
      <input id="id_transmissor_lote_esocial" name="transmissor_lote_esocial" type="hidden" value="{% if s2205_evtaltcadastral_form.transmissor_lote_esocial.value or s2205_evtaltcadastral_form.transmissor_lote_esocial.value == 0 %}{{ s2205_evtaltcadastral_form.transmissor_lote_esocial.value|valor }}
    {% endif %}">
   {% else %}
     {{ s2205_evtaltcadastral_form.transmissor_lote_esocial|addcss:'form-control' }}
   {% endif %}
  {% else %}
  {{ s2205_evtaltcadastral_form.transmissor_lote_esocial|addcss_select2:'form-control automate-select' }}
  {% endif %}
</div>
</div>
<!-- fim__s2205_evtaltcadastral__transmissor_lote_esocial -->
<!-- inicio__s2205_evtaltcadastral__status -->
<div class="col-md-3" id="s2205_evtaltcadastral__status__div">
  <div class="form-group">
    <label id="s2205_evtaltcadastral__status__label">Status</label>
    {% if s2205_evtaltcadastral_form.status.errors %}
      <div class="alert alert-error" style="margin-bottom: 0!important;width:100%">
        {{ s2205_evtaltcadastral_form.status.errors }}
      </div>
    {% endif %}
    <div class="input-group" style="width: 100%;">
      {% if s2205_evtaltcadastral_form.status.field.widget.attrs.readonly %}
        {% if s2205_evtaltcadastral_form.status.field.widget.attrs.disabled %}
          {{ s2205_evtaltcadastral_form.status|addcss:'form-control' }}
          <input id="id_status" name="status" type="hidden" value="{% if s2205_evtaltcadastral_form.status.value or s2205_evtaltcadastral_form.status.value == 0 %}{{ s2205_evtaltcadastral_form.status.value|valor }}{% endif %}">
        {% else %}
          {{ s2205_evtaltcadastral_form.status|addcss:'form-control' }}
        {% endif %}
      {% else %}
        {{ s2205_evtaltcadastral_form.status|addcss_select2:'form-control automate-select' }}
      {% endif %}
    </div>
  </div>
</div>
<!-- fim__s2205_evtaltcadastral__status -->