{% load templatetags %}
<div class="row">
    <h3>Mapa de processamento</h3>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th style="display:none;"></th>
            <th width="30px">Evento</th>
            <th>Identidade</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td style="display:none;"></td>
                <td>{{ a.evento }}</td>
                <td>{{ a.identidade }}</td>
                <td>{{ a.get_status_display }}</td>
            </tr>
        </tbody>
    </table>
</div>
