
        <div class="row">
{#            <div class="col-lg-3 col-xs-6">#}
{#                <div class="small-box bg-aqua">#}
{#                    <div class="inner"><h3 id="reinf_quant_cadastrados">0</h3>#}
{#                        <p><strong>Eventos cadastrados</strong><br>#}
{#                            Aguardando validação</p>#}
{#                    </div>#}
{#                    <div class="icon"><i class="fa fa-edit"></i></div>#}
{#                    <a href="#"#}
{#                       class="small-box-footer">Visualizar<i class="fa fa-eye"></i>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
            <div class="col-lg-4 col-xs-6">
                <div class="small-box bg-primary">
                    <div class="inner"><h3 id="reinf_quant_importados">0</h3>
                        <p><strong>Eventos importados</strong>
                            <br>Aguardando validação</p>
                    </div>
                    <div class="icon"><i class="fa fa-cloud-download"></i></div>
                    <a href="#"
                       class="small-box-footer">Visualizar<i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6">
                <div class="small-box {% if reinf_quant_erros_validacao %}bg-red{% else %}bg-green{% endif %}">
                    <div class="inner"><h3 id="reinf_quant_erros_validacao">0</h3>
                        <p><strong>Erros de validação</strong>
                            <br>Aguardando correção
                        </p>
                    </div>
                    <div class="icon"><i class="fa {% if reinf_quant_erros_validacao %}fa-close{% else %}fa-check{% endif %}"></i></div>
                    <a href="#"
                       class="small-box-footer">Visualizar<i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6">
                <div class="small-box bg-primary">
                    <div class="inner"><h3 id="reinf_quant_validados">0</h3>
                        <p><strong>Eventos validados</strong>
                            <br>Aguardando envio</p>
                    </div>
                    <div class="icon"><i class="fa fa-cloud-upload"></i></div>
                    <a href="#"
                       class="small-box-footer">Visualizar<i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6">
                <div class="small-box {% if reinf_quant_erros_envio %}bg-red{% else %}bg-green{% endif %}">
                    <div class="inner"><h3 id="reinf_quant_erros_envio">0</h3>
                        <p><strong>Erros de envio</strong>
                            <br>Aguardando correção
                        </p>
                    </div>
                    <div class="icon"><i class="fa {% if reinf_quant_erros_validacao %}fa-close{% else %}fa-check{% endif %}"></i></div>
                    <a href="#"
                       class="small-box-footer">Visualizar<i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6">
                <div class="small-box bg-orange">
                    <div class="inner"><h3 id="reinf_quant_enviados">0</h3>
                        <p><strong>Eventos enviados</strong>
                            <br>Aguardando consulta</p>
                    </div>
                    <div class="icon"><i class="fa fa-clock-o"></i></div>
                    <a href="#"
                       class="small-box-footer">Visualizar<i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6">
                <div class="small-box bg-primary">
                    <div class="inner"><h3 id="reinf_quant_processados">0</h3>
                        <p><strong>Eventos processados</strong><br>Imprima o recibo</p></div>
                    <div class="icon"><i class="fa fa-check"></i></div>
                    <a href="#"
                       class="small-box-footer">Visualizar<i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <span class="btn btn-primary btn-block btn-lg">
                        <i class="fa fa-gear"></i>&nbsp;
                        Validar
                    </span>
                </a>&nbsp;
            </div>
            <div class="col-md-3">
                <a href="#">
                    <span class="btn btn-primary btn-block btn-lg">
                        <i class="fa fa-gear"></i>&nbsp;
                        Enviar
                    </span>
                </a>&nbsp;
            </div>
            <div class="col-md-3">
                <a href="#">
                    <span class="btn btn-primary btn-block btn-lg">
                        <i class="fa fa-gear"></i>&nbsp;
                        Consultar
                    </span>
                </a>&nbsp;
            </div>
            <div class="col-md-3">
                <div class="btn-group btn-block">
                    <button type="button"
                            class="btn btn-primary dropdown-toggle btn-block btn-lg"
                            data-toggle="dropdown"
                            aria-expanded="false">
                        <i class="fa fa-print"></i>&nbsp;Imprimir
                        <span class="caret"></span>
                        <span class="sr-only">Imprimir</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="text-left">
                            <a href="#" target="_blank">
                                <i class="fa fa-file-code-o"></i>&nbsp;HTML
                            </a>
                        </li>
                        <li class="text-left">
                            <a href="#" target="_blank">
                                <i class="fa fa-file-pdf-o"></i>&nbsp;PDF
                            </a>
                        </li>
                        <li class="text-left">
                            <a href="#" target="_blank">
                                <i class="fa fa-file-excel-o"></i>&nbsp;XLS
                            </a>
                        </li>
{#                        <li class="text-left">#}
{#                            <a href="#" target="_blank">#}
{#                                <i class="fa fa-file-text-o"></i>&nbsp;CSV#}
{#                            </a>#}
{#                        </li>#}
                    </ul>
                </div>&nbsp;
            </div>
        </div>

<script>
$.getJSON("{% url 'reinf:dashboard_json' %}", function(data) {
    $("#reinf_quant_cadastrados").html(data.reinf_quant_cadastrados);
    $("#reinf_quant_importados").html(data.reinf_quant_importados);
    $("#reinf_quant_erros_validacao").html(data.reinf_quant_erros_validacao);
    $("#reinf_quant_validados").html(data.reinf_quant_validados);
    $("#reinf_quant_erros_envio").html(data.reinf_quant_erros_envio);
    $("#reinf_quant_enviados").html(data.reinf_quant_enviados);
    $("#reinf_quant_processados").html(data.reinf_quant_processados);
});
setInterval(function(){ 
    $.getJSON("{% url 'reinf:dashboard_json' %}", function(data) {
        $("#reinf_quant_cadastrados").html(data.reinf_quant_cadastrados);
        $("#reinf_quant_importados").html(data.reinf_quant_importados);
        $("#reinf_quant_erros_validacao").html(data.reinf_quant_erros_validacao);
        $("#reinf_quant_validados").html(data.reinf_quant_validados);
        $("#reinf_quant_erros_envio").html(data.reinf_quant_erros_envio);
        $("#reinf_quant_enviados").html(data.reinf_quant_enviados);
        $("#reinf_quant_processados").html(data.reinf_quant_processados);
    }); 
}, 5000);

</script>