{% load templatetags_fieldset %}
<span id="{{ html_id }}_wrapper">
    <div class="input-group input-group-sm">
        <input type="text" 
               name="{{name}}_text" 
               class="vTextField" 
               id="{{html_id|to_str}}_text" 
               value="{{current_repr}}" 
               width="100%"
               autocomplete="off" 
               {{ extra_attrs }} />
        <span class="input-group-btn">
            <div id="{{html_id|to_str}}_on_deck" 
                class="btn btn-warning results_on_deck"
                style="height: 34px;">
            </div> 
        </span>
        {% if 'assistidosprocessos_assistidos' in name and current_id %}
        <span class="input-group-btn">
            <a href="/admin/atendimento/processos/{{current_id}}/change/?_popup=1" 
               class="btn btn-info btn-flat"
               id="edit_processo_{{current_id}}" 
               style="height: 34px;"
               onclick="return showAddAnotherPopup(this);">
               <i class="fa fa-edit" ></i>
            </a> 
        </span>
        {% endif %}
        {% if add_link %}
        <span class="input-group-btn">
            <a href="{{ add_link }}" 
               class="btn btn-info btn-flat" 
               id="add_{{ html_id }}" 
               style="height: 34px;"
               onclick="return showAddAnotherPopup(this);"> Novo</a>
        </span>
        {% endif %}
    </div>
    <input type="hidden" 
           name="{{name}}" 
           id="{{html_id|to_str}}" 
           value="{{current_id|to_str}}" 
           data-ajax-select="autocompleteselect" 
           data-plugin-options="{{ data_plugin_options }}" />
    
    {% block extra_script %}
    {% endblock %}
    {% block help %}
        {% if help_text %}
        <p class="help">
        {{help_text}}
        </p>
        {% endif %}
    {% endblock %}
</span>
