{% load esocial_custom_tags %}
{% if original.evento %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <div id="content-main">
                    <div class="row">
                        <div class="col-md-12">
                            {% if original|is_form_exists %}
                                {% include original|get_event_form %}
                            {% else %}
                                Não é possível a edição deste evento com o EmensageriaOpenSource
                            {% endif %}
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <br class="clear" />
    </div>
</div>
{% endif %}
