
{% if perms.esocial.view_eventos %}
   <li class="treeview{% if 'esocial' in request.get_full_path %} active{% endif %}">
      <a href="javascript:void(0)">
      <i class="fa fa-file-o fa-flip-horizontal" style="margin-left: -8px; margin-right: 8px;"></i>
      <span style="overflow: hidden; display: inline-block; vertical-align:top;">eSocial</span>
      <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
      </span>
      </a>
      <ul class="treeview-menu">
         {% if perms.esocial.view_eventos %}
         <li><a href="/esocial/eventos/"><i class="fa fa-circle-o"></i>Eventos</a></li>
         {% endif %}
         {% if perms.esocial.view_arquivos %}
         <li><a href="/esocial/arquivos/"><i class="fa fa-circle-o"></i>Arquivos</a></li>
         {% endif %}
         {% if perms.esocial.view_certificados %}
         <li><a href="/esocial/certificados/"><i class="fa fa-circle-o"></i>Certificados</a></li>
         {% endif %}
         {% if perms.esocial.view_relatorios %}
         <li><a href="/esocial/relatorios/"><i class="fa fa-circle-o"></i>Relatórios</a></li>
         {% endif %}
         {% if perms.esocial.view_transmissor %}
         <li><a href="/esocial/transmissor/"><i class="fa fa-circle-o"></i>Transmissor</a></li>
         {% endif %}
         {% if perms.esocial.view_transmissoreventos %}
         <li><a href="/esocial/transmissoreventos/"><i class="fa fa-circle-o"></i>Transmissor do eSocial</a></li>
         {% endif %}
      </ul>
   </li>
{% endif %}
{% comment %}{% if perms.reinf.view_eventos %}
   <li class="treeview{% if 'reinf' in request.get_full_path %} active{% endif %}">
      <a href="javascript:void(0)">
      <i class="fa fa-database"></i>
      <span style="overflow: hidden; display: inline-block; vertical-align:top;">Reinf</span>
      <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
      </span>
      </a>
      <ul class="treeview-menu">
         {% if perms.reinf.view_eventos %}
         <li><a href="/reinf/eventos/"><i class="fa fa-circle-o"></i>Eventos</a></li>
         {% endif %}
         {% if perms.reinf.view_arquivos %}
         <li><a href="/reinf/arquivos/"><i class="fa fa-circle-o"></i>Arquivos</a></li>
         {% endif %}
         {% if perms.reinf.view_certificados %}
         <li><a href="/reinf/certificados/"><i class="fa fa-circle-o"></i>Certificados</a></li>
         {% endif %}
         {% if perms.reinf.view_importacaoarquivoseventos %}
         <li><a href="/reinf/importacaoarquivoseventos/"><i class="fa fa-circle-o"></i>Eventos de Arquivos Importados</a></li>
         {% endif %}
         {% if perms.reinf.view_importacaoarquivos %}
         <li><a href="/reinf/importacaoarquivos/"><i class="fa fa-circle-o"></i>Importação de Arquivos</a></li>
         {% endif %}
         {% if perms.reinf.view_relatorios %}
         <li><a href="/reinf/relatorios/"><i class="fa fa-circle-o"></i>Relatórios</a></li>
         {% endif %}
         {% if perms.reinf.view_transmissor %}
         <li><a href="/reinf/transmissor/"><i class="fa fa-circle-o"></i>Transmissor</a></li>
         {% endif %}
         {% if perms.reinf.view_transmissoreventos %}
         <li><a href="/reinf/transmissoreventos/"><i class="fa fa-circle-o"></i>Transmissor do Reinf</a></li>
         {% endif %}
      </ul>
   </li>
{% endif %}{% endcomment %}
{% if perms.constance.view_config %}
   <li class="treeview{% if 'constance' in request.get_full_path or 'django_admin_settings' in request.get_full_path %} active{% endif %}">
      <a href="javascript:void(0)">
      <i class="fa fa-gears"></i>
      <span style="overflow: hidden; display: inline-block; vertical-align:top;">Configurações</span>
      <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
      </span>
      </a>
      <ul class="treeview-menu">
         {% if '/django_admin_settings/options/general_option/' in request.get_full_path %}
         <li><a href="/django_admin_settings/options/general_option/"><i class="fa fa-circle-o"></i>Opções Gerais</a></li>
         {% endif %}
         {% if perms.django_admin_settings.view_options %}
         <li><a href="/django_admin_settings/options/"><i class="fa fa-circle-o"></i>Opções</a></li>
         {% endif %}
         {% if perms.constance.view_config %}
         <li><a href="/constance/config/"><i class="fa fa-circle-o"></i>Configurações</a></li>
         {% endif %}
      </ul>
   </li>
{% endif %}
{% if perms.auth.view_user %}
   <li class="treeview{% if 'auth' in request.get_full_path %} active{% endif %}">
      <a href="javascript:void(0)">
      <i class="fa fa-users"></i>
      <span style="overflow: hidden; display: inline-block; vertical-align:top;">Controle de acesso</span>
      <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
      </span>
      </a>
      <ul class="treeview-menu">
         {% if perms.auth.view_group %}
         <li><a href="/auth/group/"><i class="fa fa-circle-o"></i>Grupos</a></li>
         {% endif %}
         {% if perms.authtoken.view_token %}
         <li><a href="/authtoken/token/"><i class="fa fa-circle-o"></i>Tokens</a></li>
         {% endif %}
         {% if perms.auth.view_user %}
         <li><a href="/auth/user/"><i class="fa fa-circle-o"></i>Usuários</a></li>
         {% endif %}
      </ul>
   </li>
{% endif %}
   <li>
      <a href="{% url 'admin:logout' %}">
      <i class="fa  fa-sign-out "></i>
      <span style="overflow: hidden; display: inline-block; vertical-align:top;">Sair do sistema</span>
      </a>
   </li>
