
{% load esocial_custom_tags %}
<form id="form_json">

<div class="row">

<div id="evtServTom__div">
    <div class="col-md-12">
        <h4>Evento Serviços Tomados - Cessão de Mão de Obra ou Empreitada. Regras de validação: REGRA_EVE_IND_RETIFICACAO REGRA_EVE_VALIDO_PREST REGRA_EXISTE_INFO_CONTRIBUINTE REGRA_VALIDA_ID_EVENTO</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de Identificação do Evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="indRetif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informe [1] para arquivo original ou [2] para arquivo de retificação<a data-toggle="tooltip" title="Informe [1] para arquivo original ou [2] para arquivo de retificação. Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtServTom__ideEvento__id__indRetif" name="[evtServTom][ideEvento][indRetif]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option>
            </select>
        </div>
    </div>
</div>

<div id="nrRecibo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o número do recibo do arquivo a ser retificado<a data-toggle="tooltip" title="Preencher com o número do recibo do arquivo a ser retificado. Validação: O preenchimento é obrigatório se {indRetif} = [2]. Deve ser um recibo de entrega válido, correspondente ao arquivo objeto da retificação."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__ideEvento__id__nrRecibo" maxlength="52" value="{{original.evento_json|readjson:'evtServTom.ideEvento.nrRecibo'}}" name="[evtServTom][ideEvento][nrRecibo]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="perApur__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar o ano/mês de referência das informações no formato AAAA-MM<a data-toggle="tooltip" title="Informar o ano/mês de referência das informações no formato AAAA-MM. Validação: Deve ser um ano/mês válido para o qual haja informações do contribuinte informadas através do evento R-1000. Não pode ser maior que o ano/mês corrente."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__ideEvento__id__perApur" maxlength="10" value="{{original.evento_json|readjson:'evtServTom.ideEvento.perApur'}}" name="[evtServTom][ideEvento][perApur]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Identificação do ambiente</label>
            <select name="[evtServTom][ideEvento][tpAmb]" id="evtServTom__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtServTom][ideEvento][tpAmb]" id="evtServTom__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Processo de emissão do evento</label>
            <select name="[evtServTom][ideEvento][procEmi]" id="evtServTom__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtServTom][ideEvento][procEmi]" id="evtServTom__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Versão do processo de emissão do evento</label>
            <input type="text" name="[evtServTom][ideEvento][verProc]" value="{{original.procemi}}" class="vTextField" maxlength="20" id="evtServTom__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtServTom][ideEvento][verProc]" id="evtServTom__ideEvento__id__verProc" value="{{original.procemi}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="ideContri__div">
    <div class="col-md-12">
        <h4>Informações de identificação do contribuinte.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Preencher com o código correspondente ao tipo de inscrição</label>
            <select name="[evtServTom][ideContri][tpInsc]" id="evtServTom__ideContri__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtServTom][ideContri][tpInsc]" id="evtServTom__ideContri__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}</label>
            <input type="text" id="evtServTom__ideContri__id__nrInsc_disabled" name="[evtServTom][ideContri][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtServTom][ideContri][nrInsc]" id="evtServTom__ideContri__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="infoServTom__div">
    <div class="col-md-12">
        <h4>Serviços Tomados - Cessão de Mão de Obra ou Empreitada.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideEstabObra__div">
    <div class="col-md-12">
        <h4>Identificação do Estabelecimento/obra contratante dos Serviços.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInscEstab__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o código correspondente ao tipo de inscrição<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de inscrição. Validação: Deve ser igual a [1] (CNPJ) ou [4] CNO."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtServTom__infoServTom__ideEstabObra__id__tpInscEstab" name="[evtServTom][infoServTom][ideEstabObra][tpInscEstab]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option>
            </select>
        </div>
    </div>
</div>

<div id="nrInscEstab__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar o número de inscrição do estabelecimento de acordo com o tipo de inscrição indicado no campo {tpInscEstab}.<a data-toggle="tooltip" title="Informar o número de inscrição do estabelecimento de acordo com o tipo de inscrição indicado no campo {tpInscEstab}. Se {indObra} = [0] preencher com CNPJ do contribuinte declarante. Se {indObra} = [1] informar um número de CNO de propriedade do {cnpjPrestador}. Se {indObra} = [2] informar um número de CNO de propriedade do contribuinte declarante. Validação: A inscrição informada deve ser compatível com o {tpInscEstab}. Se {indObra} = [0], o número informado deve ser um CNPJ. Se {indObra} for igual a [1,2] o número informado deve ser um CNO."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__id__nrInscEstab" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.nrInscEstab'}}" name="[evtServTom][infoServTom][ideEstabObra][nrInscEstab]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="indObra__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Indicativo de Prestação de Serviços em Obra de Construção Civil<a data-toggle="tooltip" title="Indicativo de Prestação de Serviços em Obra de Construção Civil: 0 - Não é obra de construção civil ou não está sujeita a matrícula de obra; 1 - Obra de Construção Civil - Empreitada Total; 2 - Obra de Construção Civil - Empreitada Parcial. Validação: Em arquivo gerado por Pessoa Física, deve ser igual a [1,2]. Valores Válidos: 0, 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtServTom__infoServTom__ideEstabObra__id__indObra" name="[evtServTom][infoServTom][ideEstabObra][indObra]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="0" {% ifequal original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.indObra' 0 %}selected{% endifequal %}>0 - Não é obra de construção civil ou não está sujeita a matrícula de obra</option><option value="1" {% ifequal original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.indObra' 1 %}selected{% endifequal %}>1 - Obra de Construção Civil - Empreitada Total</option><option value="2" {% ifequal original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.indObra' 2 %}selected{% endifequal %}>2 - Obra de Construção Civil - Empreitada Parcial. Validação</option>
            </select>
        </div>
    </div>
</div>

<div id="idePrestServ__div">
    <div class="col-md-12">
        <h4>Identificação do prestador de serviços mediante cessão de mão de obra ou empreitada.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="cnpjPrestador__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o CNPJ do Prestador de Serviços<a data-toggle="tooltip" title="Preencher com o CNPJ do Prestador de Serviços. Validação: Deve ser um CNPJ válido. Não pode pertencer ao declarante. Se {indObra} for igual a 1 (Empreitada Total) o cnpj do prestador terá que ser o proprietário do CNO do campo {nrInscEstab}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__id__cnpjPrestador" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.cnpjPrestador'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][cnpjPrestador]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrTotalBruto__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o valor bruto da(s) nota(s) fiscal(is) <a data-toggle="tooltip" title="Preencher com o valor bruto da(s) nota(s) fiscal(is). Validação: Deve corresponder a soma do campo {vlrBruto} dos registros vinculados."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__id__vlrTotalBruto" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.vlrTotalBruto'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][vlrTotalBruto]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrTotalBaseRet__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a soma da base de cálculo da retenção da contribuição previdenciária das notas fiscais emitidas para o contratante<a data-toggle="tooltip" title="Preencher com a soma da base de cálculo da retenção da contribuição previdenciária das notas fiscais emitidas para o contratante. Validação: Deve corresponder a soma do campo {vlrBaseRet} dos registros vinculados."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__id__vlrTotalBaseRet" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.vlrTotalBaseRet'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][vlrTotalBaseRet]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrTotalRetPrinc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Soma do valor da retenção das notas fiscais de serviço emitidas para o contratante<a data-toggle="tooltip" title="Soma do valor da retenção das notas fiscais de serviço emitidas para o contratante. Validação: Deve corresponder a soma do campo {vlrRetencao}, subtraído da soma do campo {vlrRetSub} dos registros vinculados."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__id__vlrTotalRetPrinc" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.vlrTotalRetPrinc'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][vlrTotalRetPrinc]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrTotalRetAdic__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Soma do valor do adicional de retenção das notas fiscais<a data-toggle="tooltip" title="Soma do valor do adicional de retenção das notas fiscais. Validação: Deve corresponder a soma do campo {vlrAdicional} dos registros vinculados."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__id__vlrTotalRetAdic" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.vlrTotalRetAdic'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][vlrTotalRetAdic]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrTotalNRetPrinc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da retenção principal que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial<a data-toggle="tooltip" title="Valor da retenção principal que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial. Validação: Deve corresponder a soma do campo {vlrNRetPrinc} dos registros vinculados."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__id__vlrTotalNRetPrinc" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.vlrTotalNRetPrinc'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][vlrTotalNRetPrinc]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrTotalNRetAdic__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da retenção adicional que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial<a data-toggle="tooltip" title="Valor da retenção adicional que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial. Validação: Deve corresponder a soma do campo {vlrNRetAdic} dos registros vinculados."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__id__vlrTotalNRetAdic" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.vlrTotalNRetAdic'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][vlrTotalNRetAdic]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="indCPRB__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Indicativo se o Prestador é contribuinte da Contribuição Previdenciária sobre a Receita Bruta (CPRB), a qual reduz a alíquota de 11% para 3,5% na retenção contribuição previdenciária<a data-toggle="tooltip" title="Indicativo se o Prestador é contribuinte da Contribuição Previdenciária sobre a Receita Bruta (CPRB), a qual reduz a alíquota de 11% para 3,5% na retenção contribuição previdenciária: 0 - Não é contribuinte da Contribuição Previdenciária sobre a Receita Bruta (CPRB) - Retenção 11%; 1 - Contribuinte da Contribuição Previdenciária sobre a Receita Bruta (CPRB) - Retenção 3,5%. Valores Válidos: 0, 1."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtServTom__infoServTom__ideEstabObra__idePrestServ__id__indCPRB" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][indCPRB]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="0" {% ifequal original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.indCPRB' 0 %}selected{% endifequal %}>0 - Não é contribuinte da Contribuição Previdenciária sobre a Receita Bruta (CPRB) - Retenção 11&#37;</option><option value="1" {% ifequal original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.indCPRB' 1 %}selected{% endifequal %}>1 - Contribuinte da Contribuição Previdenciária sobre a Receita Bruta (CPRB) - Retenção 3,5&#37;. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="nfs__div">
    <div class="col-md-12">
        <h4>Detalhamento das notas fiscais de serviços prestados pela empresa identificada no registro superior.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="serie__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar o número de série da nota fiscal/fatura ou do Recibo Provisório de Serviço - RPS<a data-toggle="tooltip" title="Informar o número de série da nota fiscal/fatura ou do Recibo Provisório de Serviço - RPS ou de outro documento fiscal válido. Preencher com 0 (zero) caso não exista número de série."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__nfs__id__serie" maxlength="5" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.nfs.serie'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][nfs][serie]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="numDocto__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número da Nota Fiscal/Fatura ou do Recibo Provisório de Serviço - RPS.<a data-toggle="tooltip" title="Número da Nota Fiscal/Fatura ou outros documentos fiscais válidos, como Recibo Provisório de Serviço - RPS, CT-e OS, entre outros."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__nfs__id__numDocto" maxlength="15" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.nfs.numDocto'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][nfs][numDocto]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dtEmissaoNF__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data de Emissão da Nota Fiscal/Fatura ou do Recibo Provisório de Serviço - RPS<a data-toggle="tooltip" title="Data de Emissão da Nota Fiscal/Fatura ou do Recibo Provisório de Serviço - RPS ou de outro documento fiscal válido. Validação: O mês/ano informado deve ser igual ao mês/ano indicado no registro de abertura do arquivo."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__nfs__id__dtEmissaoNF" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.nfs.dtEmissaoNF'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][nfs][dtEmissaoNF]" onkeyup="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrBruto__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o valor bruto da nota fiscal ou do Recibo Provisório de Serviço - RPS<a data-toggle="tooltip" title="Preencher com o valor bruto da nota fiscal ou do Recibo Provisório de Serviço - RPS ou de outro documento fiscal válido. Validação: Deve ser maior que 0."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__nfs__id__vlrBruto" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.nfs.vlrBruto'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][nfs][vlrBruto]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="obs__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Observações<a data-toggle="tooltip" title="Observações."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__nfs__id__obs" maxlength="250" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.nfs.obs'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][nfs][obs]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="infoTpServ__div">
    <div class="col-md-12">
        <h4>Informações sobre os tipos de Serviços constantes da Nota Fiscal.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpServico__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar o tipo de serviço, conforme tabela 6<a data-toggle="tooltip" title="Informar o tipo de serviço, conforme tabela 6. Validação: O código informado deve existir na tabela 6."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__nfs__infoTpServ__id__tpServico" maxlength="9" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.nfs.infoTpServ.tpServico'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][nfs][infoTpServ][tpServico]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrBaseRet__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da Base de cálculo da retenção da contribuição previdenciária.<a data-toggle="tooltip" title="Valor da Base de cálculo da retenção da contribuição previdenciária."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__nfs__infoTpServ__id__vlrBaseRet" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.nfs.infoTpServ.vlrBaseRet'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][nfs][infoTpServ][vlrBaseRet]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrRetencao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o valor da retenção apurada de acordo com o que determina a legislação vigente relativa aos serviços contidos na nota fiscal/fatura<a data-toggle="tooltip" title="Preencher com o valor da retenção apurada de acordo com o que determina a legislação vigente relativa aos serviços contidos na nota fiscal/fatura. Se {indCPRB}= [0] preencher com valor correspondente a 11% de {vlrBaseRet} . Se {indCPRB}= [1] preencher com valor correspondente a 3,5% de {vlrBaseRet}. Validação: Não pode ser maior que 11% de {vlrBaseRet}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__nfs__infoTpServ__id__vlrRetencao" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.nfs.infoTpServ.vlrRetencao'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][nfs][infoTpServ][vlrRetencao]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrRetSub__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar o valor da retenção destacada na nota fiscal relativo aos serviços subcontratados, se houver, desde que todos os documentos envolvidos se refiram à mesma competência e ao mesmo serviço, conforme disciplina a legislação<a data-toggle="tooltip" title="Informar o valor da retenção destacada na nota fiscal relativo aos serviços subcontratados, se houver, desde que todos os documentos envolvidos se refiram à mesma competência e ao mesmo serviço, conforme disciplina a legislação. Validação: Não pode ser superior ao {vlrRetencao}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__nfs__infoTpServ__id__vlrRetSub" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.nfs.infoTpServ.vlrRetSub'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][nfs][infoTpServ][vlrRetSub]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrNRetPrinc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da retenção principal que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência de decisão judicial/administrativa<a data-toggle="tooltip" title="Valor da retenção principal que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência de decisão judicial/administrativa. Validação: Não pode ser superior a ((11% de {vlrBaseRet} se {indCPRB} = [0] ou a 3,5% de {vlrBaseRet} se {indCPRB} = [1]) - {vlrRetSub})."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__nfs__infoTpServ__id__vlrNRetPrinc" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.nfs.infoTpServ.vlrNRetPrinc'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][nfs][infoTpServ][vlrNRetPrinc]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrServicos15__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor dos Serviços prestados por segurados em condições especiais, cuja atividade permita concessão de aposentadoria especial após 15 anos de contribuição<a data-toggle="tooltip" title="Valor dos Serviços prestados por segurados em condições especiais, cuja atividade permita concessão de aposentadoria especial após 15 anos de contribuição. Validação: O somatório dos campos {vlrServicos15}, {vlrServicos20} e {vlrServicos25} não pode ser superior ao {vlrBaseRet} indicado na nota fiscal."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__nfs__infoTpServ__id__vlrServicos15" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.nfs.infoTpServ.vlrServicos15'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][nfs][infoTpServ][vlrServicos15]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrServicos20__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor dos Serviços prestados por segurados em condições especiais, cuja atividade permita concessão de aposentadoria especial após 20 anos de contribuição<a data-toggle="tooltip" title="Valor dos Serviços prestados por segurados em condições especiais, cuja atividade permita concessão de aposentadoria especial após 20 anos de contribuição. Validação: O somatório dos campos {vlrServicos15}, {vlrServicos20} e {vlrServicos25} não pode ser superior ao {vlrBaseRet} indicado na nota fiscal ."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__nfs__infoTpServ__id__vlrServicos20" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.nfs.infoTpServ.vlrServicos20'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][nfs][infoTpServ][vlrServicos20]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrServicos25__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor dos Serviços prestados por segurados em condições especiais, cuja atividade permita concessão de aposentadoria especial após 25 anos de contribuição<a data-toggle="tooltip" title="Valor dos Serviços prestados por segurados em condições especiais, cuja atividade permita concessão de aposentadoria especial após 25 anos de contribuição. Validação: O somatório dos campos {vlrServicos15}, {vlrServicos20} e {vlrServicos25} não pode ser superior ao {vlrBaseRet} indicado na nota fiscal ."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__nfs__infoTpServ__id__vlrServicos25" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.nfs.infoTpServ.vlrServicos25'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][nfs][infoTpServ][vlrServicos25]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrAdicional__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Adicional apurado de retenção da nota fiscal<a data-toggle="tooltip" title="Adicional apurado de retenção da nota fiscal, caso os serviços tenham sido prestados sob condições especiais que ensejem aposentadoria especial aos trabalhadores após 15, 20, ou 25 anos de contribuição. Preencher com o valor correspondente ao somatório de 4% sobre o {vlrServicos15} mais 3% sobre {vlrServicos20} mais 2% sobre {vlrServicos25}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__nfs__infoTpServ__id__vlrAdicional" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.nfs.infoTpServ.vlrAdicional'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][nfs][infoTpServ][vlrAdicional]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrNRetAdic__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da retenção adicional que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência de decisão judicial/administrativa<a data-toggle="tooltip" title="Valor da retenção adicional que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência de decisão judicial/administrativa. Validação: Não pode ser superior a (4% sobre {vlrServicos15} + 3% sobre {vlrServicos20} + 2% sobre {vlrServicos25})."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__nfs__infoTpServ__id__vlrNRetAdic" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.nfs.infoTpServ.vlrNRetAdic'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][nfs][infoTpServ][vlrNRetAdic]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoProcRetPr__div">
    <div class="col-md-12">
        <h4>Informações de processos relacionados a não retenção de contribuição previdenciária. Validação: A soma dos valores informados no campo {valorPrinc} deste grupo, com exceção dos valores informados para {indSusp} = [92], deve ser igual a {vlrTotalNRetPrinc}.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpProcRetPrinc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o código correspondente ao tipo de processo<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de processo: 1 - Administrativo; 2 - Judicial. Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtServTom__infoServTom__ideEstabObra__idePrestServ__infoProcRetPr__id__tpProcRetPrinc" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][infoProcRetPr][tpProcRetPrinc]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.infoProcRetPr.tpProcRetPrinc' 1 %}selected{% endifequal %}>1 - Administrativo</option><option value="2" {% ifequal original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.infoProcRetPr.tpProcRetPrinc' 2 %}selected{% endifequal %}>2 - Judicial. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="nrProcRetPrinc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar o número do processo administrativo/judicial<a data-toggle="tooltip" title="Informar o número do processo administrativo/judicial. Validação: O processo deve existir na tabela de processos (R-1070)."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__infoProcRetPr__id__nrProcRetPrinc" maxlength="21" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.infoProcRetPr.nrProcRetPrinc'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][infoProcRetPr][nrProcRetPrinc]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codSuspPrinc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código do Indicativo da Suspensão, atribuído pelo contribuinte<a data-toggle="tooltip" title="Código do Indicativo da Suspensão, atribuído pelo contribuinte. Este campo deve ser utilizado se, num mesmo processo, houver mais de uma matéria tributária objeto de contestação e as decisões forem diferentes para cada uma. Validação: Preenchimento obrigatório se houver mais de uma informação de Indicativo de Suspensão para um mesmo processo. Se informado, deve constar na tabela de processos (R-1070 - campo {codSusp}), vinculado ao número do processo informado em {nrProcRetPrinc}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__infoProcRetPr__id__codSuspPrinc" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.infoProcRetPr.codSuspPrinc'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][infoProcRetPr][codSuspPrinc]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="valorPrinc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da retenção de contribuição previdenciária principal que deixou de ser efetuada em função de processo administrativo ou judicial.<a data-toggle="tooltip" title="Valor da retenção de contribuição previdenciária principal que deixou de ser efetuada em função de processo administrativo ou judicial."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__infoProcRetPr__id__valorPrinc" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.infoProcRetPr.valorPrinc'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][infoProcRetPr][valorPrinc]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoProcRetAd__div">
    <div class="col-md-12">
        <h4>Informações de processos relacionados a não retenção de contribuição previdenciária adicional. Validação: A soma dos valores informados no campo {valorAdic} deste grupo, com exceção dos valores informados para {indSusp} = [92], deve ser igual a {vlrTotalNRetAdic}.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpProcRetAdic__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o código correspondente ao tipo de processo<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de processo: 1 - Administrativo; 2 - Judicial. Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtServTom__infoServTom__ideEstabObra__idePrestServ__infoProcRetAd__id__tpProcRetAdic" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][infoProcRetAd][tpProcRetAdic]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.infoProcRetAd.tpProcRetAdic' 1 %}selected{% endifequal %}>1 - Administrativo</option><option value="2" {% ifequal original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.infoProcRetAd.tpProcRetAdic' 2 %}selected{% endifequal %}>2 - Judicial. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="nrProcRetAdic__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar o número do processo administrativo/judicial<a data-toggle="tooltip" title="Informar o número do processo administrativo/judicial. Validação: O processo deve existir na tabela de processos (R-1070)."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__infoProcRetAd__id__nrProcRetAdic" maxlength="21" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.infoProcRetAd.nrProcRetAdic'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][infoProcRetAd][nrProcRetAdic]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codSuspAdic__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código do Indicativo da Suspensão, atribuído pelo contribuinte<a data-toggle="tooltip" title="Código do Indicativo da Suspensão, atribuído pelo contribuinte. Este campo deve ser utilizado se, num mesmo processo, houver mais de uma matéria tributária objeto de contestação e as decisões forem diferentes para cada uma. Validação: Preenchimento obrigatório se houver mais de uma informação de Indicativo de Suspensão para um mesmo processo. Se informado, deve constar na tabela de processos (R-1070 - campo {codSusp}), vinculado ao número do processo informado em {nrProcRetAdic}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__infoProcRetAd__id__codSuspAdic" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.infoProcRetAd.codSuspAdic'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][infoProcRetAd][codSuspAdic]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="valorAdic__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da retenção de contribuição previdenciária adicional que deixou de ser efetuada em função de processo administrativo ou judicial.<a data-toggle="tooltip" title="Valor da retenção de contribuição previdenciária adicional que deixou de ser efetuada em função de processo administrativo ou judicial."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtServTom__infoServTom__ideEstabObra__idePrestServ__infoProcRetAd__id__valorAdic" maxlength="14" value="{{original.evento_json|readjson:'evtServTom.infoServTom.ideEstabObra.idePrestServ.infoProcRetAd.valorAdic'}}" name="[evtServTom][infoServTom][ideEstabObra][idePrestServ][infoProcRetAd][valorAdic]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

</div>

</form>
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON();
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
$("#id_nrinsc").keyup(function() {
    var origem = document.getElementById("id_nrinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
$("#id_tpinsc").on('change', function() {
    var origem = document.getElementById("id_tpinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_procemi").on('change', function() {
    var origem = document.getElementById("id_procemi");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__procEmi_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_tpamb").on('change', function() {
    var origem = document.getElementById("id_tpamb");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__tpAmb_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_verproc").keyup(function() {
    var origem = document.getElementById("id_verproc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
</script>
