
{% load esocial_custom_tags %}
<form id="form_json">

<div class="row">

<div id="evtAssocDespRep__div">
    <div class="col-md-12">
        <h4>Evento Recursos Repassados para Associação Desportiva de mantenha equipe de futebol profissional. Regras de validação: REGRA_EVE_ ASSOCDESP_PER REGRA_EVE_IND_RETIFICACAO REGRA_EVE_VALIDO_ESTAB REGRA_EXISTE_INFO_CONTRIBUINTE REGRA_VALIDA_ID_EVENTO</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de Identificação do Evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="indRetif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informe [1] para arquivo original ou [2] para arquivo de retificação<a data-toggle="tooltip" title="Informe [1] para arquivo original ou [2] para arquivo de retificação. Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAssocDespRep__ideEvento__id__indRetif" name="[evtAssocDespRep][ideEvento][indRetif]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option>
            </select>
        </div>
    </div>
</div>

<div id="nrRecibo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o número do recibo do arquivo a ser retificado<a data-toggle="tooltip" title="Preencher com o número do recibo do arquivo a ser retificado. Validação: O preenchimento é obrigatório se {indRetif} = [2]. Deve ser um recibo de entrega válido, correspondente ao arquivo objeto da retificação."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAssocDespRep__ideEvento__id__nrRecibo" maxlength="52" value="{{original.evento_json|readjson:'evtAssocDespRep.ideEvento.nrRecibo'}}" name="[evtAssocDespRep][ideEvento][nrRecibo]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="perApur__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar o ano/mês de referência das informações no formato AAAA-MM<a data-toggle="tooltip" title="Informar o ano/mês de referência das informações no formato AAAA-MM. Validação: Deve ser um ano/mês válido para o qual haja informações do contribuinte informadas através do evento R-1000. Não pode ser maior que o ano/mês corrente."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAssocDespRep__ideEvento__id__perApur" maxlength="10" value="{{original.evento_json|readjson:'evtAssocDespRep.ideEvento.perApur'}}" name="[evtAssocDespRep][ideEvento][perApur]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Identificação do ambiente</label>
            <select name="[evtAssocDespRep][ideEvento][tpAmb]" id="evtAssocDespRep__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtAssocDespRep][ideEvento][tpAmb]" id="evtAssocDespRep__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Processo de emissão do evento</label>
            <select name="[evtAssocDespRep][ideEvento][procEmi]" id="evtAssocDespRep__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtAssocDespRep][ideEvento][procEmi]" id="evtAssocDespRep__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Versão do processo de emissão do evento</label>
            <input type="text" name="[evtAssocDespRep][ideEvento][verProc]" value="{{original.procemi}}" class="vTextField" maxlength="20" id="evtAssocDespRep__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtAssocDespRep][ideEvento][verProc]" id="evtAssocDespRep__ideEvento__id__verProc" value="{{original.procemi}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="ideContri__div">
    <div class="col-md-12">
        <h4>Informações de identificação do contribuinte.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Preencher com o código correspondente ao tipo de inscrição</label>
            <select name="[evtAssocDespRep][ideContri][tpInsc]" id="evtAssocDespRep__ideContri__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtAssocDespRep][ideContri][tpInsc]" id="evtAssocDespRep__ideContri__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}</label>
            <input type="text" id="evtAssocDespRep__ideContri__id__nrInsc_disabled" name="[evtAssocDespRep][ideContri][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtAssocDespRep][ideContri][nrInsc]" id="evtAssocDespRep__ideContri__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
<div id="ideEstab__div">
    <div class="col-md-12">
        <h4>Identificação do estabelecimento que efetou o repasse de recursos a Associação Desportiva que mantém equipe de futebol profissional.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInscEstab__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o código correspondente ao tipo de inscrição<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de inscrição. Validação: Deve ser igual a [1] (CNPJ)."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAssocDespRep__ideContri__ideEstab__id__tpInscEstab" name="[evtAssocDespRep][ideContri][ideEstab][tpInscEstab]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option>
            </select>
        </div>
    </div>
</div>

<div id="nrInscEstab__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar o número de inscrição do estabelecimento de acordo com o tipo de inscrição indicado no campo {tpInscEstab}.<a data-toggle="tooltip" title="Informar o número de inscrição do estabelecimento de acordo com o tipo de inscrição indicado no campo {tpInscEstab}. Validação: Deve ser um número de CNPJ válido que representa um estabelecimento do contribuinte."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAssocDespRep__ideContri__ideEstab__id__nrInscEstab" maxlength="14" value="{{original.evento_json|readjson:'evtAssocDespRep.ideContri.ideEstab.nrInscEstab'}}" name="[evtAssocDespRep][ideContri][ideEstab][nrInscEstab]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="recursosRep__div">
    <div class="col-md-12">
        <h4>Detalhamento dos repasses efetuados pelo estabelecimento indicado em {ideEstab} a Associação Desportiva que mantenha equipe de futebol profissional.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="cnpjAssocDesp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o CNPJ da associação desportiva que mantém clube de futebol para a qual foi efetuado o repasse<a data-toggle="tooltip" title="Preencher com o CNPJ da associação desportiva que mantém clube de futebol para a qual foi efetuado o repasse. Validação: Deve ser um CNPJ válido, diferente do CNPJ do declarante."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAssocDespRep__ideContri__ideEstab__recursosRep__id__cnpjAssocDesp" maxlength="14" value="{{original.evento_json|readjson:'evtAssocDespRep.ideContri.ideEstab.recursosRep.cnpjAssocDesp'}}" name="[evtAssocDespRep][ideContri][ideEstab][recursosRep][cnpjAssocDesp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrTotalRep__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o valor bruto dos recursos repassados<a data-toggle="tooltip" title="Preencher com o valor bruto dos recursos repassados. Validação: Deve corresponder a soma do campo {vlrBruto} do grupo {infoRecurso}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAssocDespRep__ideContri__ideEstab__recursosRep__id__vlrTotalRep" maxlength="14" value="{{original.evento_json|readjson:'evtAssocDespRep.ideContri.ideEstab.recursosRep.vlrTotalRep'}}" name="[evtAssocDespRep][ideContri][ideEstab][recursosRep][vlrTotalRep]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrTotalRet__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Soma do valor da retenção dos recursos recebidos<a data-toggle="tooltip" title="Soma do valor da retenção dos recursos recebidos. Validação: Deve corresponder a soma do campo {vlrRetApur} do grupo {infoRecurso}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAssocDespRep__ideContri__ideEstab__recursosRep__id__vlrTotalRet" maxlength="14" value="{{original.evento_json|readjson:'evtAssocDespRep.ideContri.ideEstab.recursosRep.vlrTotalRet'}}" name="[evtAssocDespRep][ideContri][ideEstab][recursosRep][vlrTotalRet]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrTotalNRet__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da retenção que deixou de ser feita pela entidade que efetuou o repasse ou que foi depositada em juízo em decorrência da decisão judicial/administrativa<a data-toggle="tooltip" title="Valor da retenção que deixou de ser feita pela entidade que efetuou o repasse ou que foi depositada em juízo em decorrência da decisão judicial/administrativa. Validação: Deve corresponder a soma do campo {vlrNRet} dos registros vinculados, com exceção dos valores informados para {indSusp} = [92]. Não pode ser superior a 5% de {vlrTotalRep}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAssocDespRep__ideContri__ideEstab__recursosRep__id__vlrTotalNRet" maxlength="14" value="{{original.evento_json|readjson:'evtAssocDespRep.ideContri.ideEstab.recursosRep.vlrTotalNRet'}}" name="[evtAssocDespRep][ideContri][ideEstab][recursosRep][vlrTotalNRet]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="infoRecurso__div">
    <div class="col-md-12">
        <h4>Detalhamento dos recursos repassados a associação desportiva que mantém equipe de futebol profissional.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpRepasse__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de repasse, conforme tabela abaixo<a data-toggle="tooltip" title="Tipo de repasse, conforme tabela abaixo: 1 - Patrocínio; 2 - Licenciamento de marcas e símbolos; 3 - Publicidade; 4 - Propaganda; 5 - Transmissão de espetáculos. Valores Válidos: 1, 2, 3, 4, 5."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAssocDespRep__ideContri__ideEstab__recursosRep__infoRecurso__id__tpRepasse" maxlength="1" value="{{original.evento_json|readjson:'evtAssocDespRep.ideContri.ideEstab.recursosRep.infoRecurso.tpRepasse'}}" name="[evtAssocDespRep][ideContri][ideEstab][recursosRep][infoRecurso][tpRepasse]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="descRecurso__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Descrição resumida do recurso recebido<a data-toggle="tooltip" title="Descrição resumida do recurso repassado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAssocDespRep__ideContri__ideEstab__recursosRep__infoRecurso__id__descRecurso" maxlength="20" value="{{original.evento_json|readjson:'evtAssocDespRep.ideContri.ideEstab.recursosRep.infoRecurso.descRecurso'}}" name="[evtAssocDespRep][ideContri][ideEstab][recursosRep][infoRecurso][descRecurso]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrBruto__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o valor bruto da nota fiscal ou do Recibo Provisório de Serviço - RPS<a data-toggle="tooltip" title="Preencher com o valor bruto do repasse efetuado a título de patrocínio, publicidade, licenciamento, etc. Validação: Deve ser maior que 0."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAssocDespRep__ideContri__ideEstab__recursosRep__infoRecurso__id__vlrBruto" maxlength="14" value="{{original.evento_json|readjson:'evtAssocDespRep.ideContri.ideEstab.recursosRep.infoRecurso.vlrBruto'}}" name="[evtAssocDespRep][ideContri][ideEstab][recursosRep][infoRecurso][vlrBruto]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrRetApur__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o valor da retenção de contribuição previdenciária.<a data-toggle="tooltip" title="Preencher com o valor da retenção de conribuição previdenciária efetuada pela empresa."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAssocDespRep__ideContri__ideEstab__recursosRep__infoRecurso__id__vlrRetApur" maxlength="14" value="{{original.evento_json|readjson:'evtAssocDespRep.ideContri.ideEstab.recursosRep.infoRecurso.vlrRetApur'}}" name="[evtAssocDespRep][ideContri][ideEstab][recursosRep][infoRecurso][vlrRetApur]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoProc__div">
    <div class="col-md-12">
        <h4>Informações de processos relacionados a não retenção de contribuição previdenciária.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o código correspondente ao tipo de processo<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de processo: 1 - Administrativo; 2 - Judicial. Valores Válidos: 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAssocDespRep__ideContri__ideEstab__recursosRep__infoProc__id__tpProc" name="[evtAssocDespRep][ideContri][ideEstab][recursosRep][infoProc][tpProc]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtAssocDespRep.ideContri.ideEstab.recursosRep.infoProc.tpProc' 1 %}selected{% endifequal %}>1 - Administrativo</option><option value="2" {% ifequal original.evento_json|readjson:'evtAssocDespRep.ideContri.ideEstab.recursosRep.infoProc.tpProc' 2 %}selected{% endifequal %}>2 - Judicial. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="nrProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar o número do processo administrativo/judicial<a data-toggle="tooltip" title="Informar o número do processo administrativo/judicial. Validação: O processo deve existir na tabela de processos."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAssocDespRep__ideContri__ideEstab__recursosRep__infoProc__id__nrProc" maxlength="21" value="{{original.evento_json|readjson:'evtAssocDespRep.ideContri.ideEstab.recursosRep.infoProc.nrProc'}}" name="[evtAssocDespRep][ideContri][ideEstab][recursosRep][infoProc][nrProc]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codSusp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código do Indicativo da Suspensão, atribuído pelo contribuinte<a data-toggle="tooltip" title="Código do Indicativo da Suspensão, atribuído pelo contribuinte. Este campo deve ser utilizado se, num mesmo processo, houver mais de uma matéria tributária objeto de contestação e as decisões forem diferentes para cada uma. Validação: Preenchimento obrigatório se houver mais de uma informação de Indicativo de Suspensão para um mesmo processo. Se informado, deve existir na tabela de processos (R-1070 - campo {codSusp}), vinculado ao número do processo informado em {nrProc}."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAssocDespRep__ideContri__ideEstab__recursosRep__infoProc__id__codSusp" maxlength="14" value="{{original.evento_json|readjson:'evtAssocDespRep.ideContri.ideEstab.recursosRep.infoProc.codSusp'}}" name="[evtAssocDespRep][ideContri][ideEstab][recursosRep][infoProc][codSusp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrNRet__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da retenção de contribuição previdenciária principal que deixou de ser efetuada em função de processo administrativo ou judicial.<a data-toggle="tooltip" title="Valor da retenção de contribuição previdenciária principal que deixou de ser efetuada em função de processo administrativo ou judicial."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAssocDespRep__ideContri__ideEstab__recursosRep__infoProc__id__vlrNRet" maxlength="14" value="{{original.evento_json|readjson:'evtAssocDespRep.ideContri.ideEstab.recursosRep.infoProc.vlrNRet'}}" name="[evtAssocDespRep][ideContri][ideEstab][recursosRep][infoProc][vlrNRet]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

</div>

</form>
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON();
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
$("#id_nrinsc").keyup(function() {
    var origem = document.getElementById("id_nrinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
$("#id_tpinsc").on('change', function() {
    var origem = document.getElementById("id_tpinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_procemi").on('change', function() {
    var origem = document.getElementById("id_procemi");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__procEmi_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_tpamb").on('change', function() {
    var origem = document.getElementById("id_tpamb");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__tpAmb_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_verproc").keyup(function() {
    var origem = document.getElementById("id_verproc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
</script>
