
{% load esocial_custom_tags %}
<form id="form_json">

<div class="row">

<div id="evtTotalContrib__div">
    <div class="col-md-12">
        <h4>Evento totalizador por contribuinte.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de Identificação do Evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="perApur__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar o ano/mês de referência das informações no formato AAAA-MM<a data-toggle="tooltip" title="Informar o ano/mês no formato AAAA-MM de referência das informações. Validação: Deve ser um ano/mês, igual ou posterior a implementação da EFD-Reinf, no formato AAAA-MM. Não pode ser maior que o ano/mês corrente."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__ideEvento__id__perApur" maxlength="10" value="{{original.evento_json|readjson:'evtTotalContrib.ideEvento.perApur'}}" name="[evtTotalContrib][ideEvento][perApur]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="ideContri__div">
    <div class="col-md-12">
        <h4>Informações de identificação do contribuinte.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Preencher com o código correspondente ao tipo de inscrição</label>
            <select name="[evtTotalContrib][ideContri][tpInsc]" id="evtTotalContrib__ideContri__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtTotalContrib][ideContri][tpInsc]" id="evtTotalContrib__ideContri__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label text-right">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}</label>
            <input type="text" id="evtTotalContrib__ideContri__id__nrInsc_disabled" name="[evtTotalContrib][ideContri][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtTotalContrib][ideContri][nrInsc]" id="evtTotalContrib__ideContri__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>

<div id="ideRecRetorno__div">
    <div class="col-md-12">
        <h4>Informações do Recibo de Retorno.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="ideStatus__div">
    <div class="col-md-12">
        <h4>Situação atual do evento.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="cdRetorno__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código do Retorno<a data-toggle="tooltip" title="Código do Retorno: 0 - Sucesso; 1 - Erro; 2 - Em processamento. Valores Válidos: 0, 1, 2."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTotalContrib__ideRecRetorno__ideStatus__id__cdRetorno" name="[evtTotalContrib][ideRecRetorno][ideStatus][cdRetorno]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="0" {% ifequal original.evento_json|readjson:'evtTotalContrib.ideRecRetorno.ideStatus.cdRetorno' 0 %}selected{% endifequal %}>0 - Sucesso</option><option value="1" {% ifequal original.evento_json|readjson:'evtTotalContrib.ideRecRetorno.ideStatus.cdRetorno' 1 %}selected{% endifequal %}>1 - Erro</option><option value="2" {% ifequal original.evento_json|readjson:'evtTotalContrib.ideRecRetorno.ideStatus.cdRetorno' 2 %}selected{% endifequal %}>2 - Em processamento. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="descRetorno__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Descrição do retorno<a data-toggle="tooltip" title="Descrição do retorno."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__ideRecRetorno__ideStatus__id__descRetorno" maxlength="1000" value="{{original.evento_json|readjson:'evtTotalContrib.ideRecRetorno.ideStatus.descRetorno'}}" name="[evtTotalContrib][ideRecRetorno][ideStatus][descRetorno]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="regOcorrs__div">
    <div class="col-md-12">
        <h4>Informações de ocorrências registradas.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpOcorr__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo da ocorrência<a data-toggle="tooltip" title="Tipo da ocorrência: 1 - Erro; 2 - Aviso."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTotalContrib__ideRecRetorno__ideStatus__regOcorrs__id__tpOcorr" name="[evtTotalContrib][ideRecRetorno][ideStatus][regOcorrs][tpOcorr]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtTotalContrib.ideRecRetorno.ideStatus.regOcorrs.tpOcorr' 1 %}selected{% endifequal %}>1 - Erro</option><option value="2" {% ifequal original.evento_json|readjson:'evtTotalContrib.ideRecRetorno.ideStatus.regOcorrs.tpOcorr' 2 %}selected{% endifequal %}>2 - Aviso.</option>
            </select>
        </div>
    </div>
</div>

<div id="localErroAviso__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Campo que originou o erro ou aviso<a data-toggle="tooltip" title="Campo que originou o erro ou aviso."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__ideRecRetorno__ideStatus__regOcorrs__id__localErroAviso" maxlength="200" value="{{original.evento_json|readjson:'evtTotalContrib.ideRecRetorno.ideStatus.regOcorrs.localErroAviso'}}" name="[evtTotalContrib][ideRecRetorno][ideStatus][regOcorrs][localErroAviso]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codResp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código do status da resposta do processamento da consulta<a data-toggle="tooltip" title="Código do status da resposta do processamento da consulta."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__ideRecRetorno__ideStatus__regOcorrs__id__codResp" maxlength="6" value="{{original.evento_json|readjson:'evtTotalContrib.ideRecRetorno.ideStatus.regOcorrs.codResp'}}" name="[evtTotalContrib][ideRecRetorno][ideStatus][regOcorrs][codResp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dscResp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Descrição literal da resposta do processamento da consulta<a data-toggle="tooltip" title="Descrição literal da resposta do processamento da consulta."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__ideRecRetorno__ideStatus__regOcorrs__id__dscResp" maxlength="999" value="{{original.evento_json|readjson:'evtTotalContrib.ideRecRetorno.ideStatus.regOcorrs.dscResp'}}" name="[evtTotalContrib][ideRecRetorno][ideStatus][regOcorrs][dscResp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoRecEv__div">
    <div class="col-md-12">
        <h4>Informações de processamento dos eventos.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="nrProtEntr__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número do protocolo de entrega do evento<a data-toggle="tooltip" title="Número do protocolo de entrega do evento."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoRecEv__id__nrProtEntr" maxlength="49" value="{{original.evento_json|readjson:'evtTotalContrib.infoRecEv.nrProtEntr'}}" name="[evtTotalContrib][infoRecEv][nrProtEntr]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dhProcess__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data e hora do início do processamento da consulta<a data-toggle="tooltip" title="Data e hora do início do processamento da consulta."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoRecEv__id__dhProcess" value="{{original.evento_json|readjson:'evtTotalContrib.infoRecEv.dhProcess'}}" name="[evtTotalContrib][infoRecEv][dhProcess]" onkeyup="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpEv__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo do Evento<a data-toggle="tooltip" title="Tipo do Evento."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoRecEv__id__tpEv" maxlength="6" value="{{original.evento_json|readjson:'evtTotalContrib.infoRecEv.tpEv'}}" name="[evtTotalContrib][infoRecEv][tpEv]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="idEv__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>ID do Evento<a data-toggle="tooltip" title="ID do Evento."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoRecEv__id__idEv" maxlength="36" value="{{original.evento_json|readjson:'evtTotalContrib.infoRecEv.idEv'}}" name="[evtTotalContrib][infoRecEv][idEv]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="hash__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Hash do arquivo processado<a data-toggle="tooltip" title="Hash do arquivo processado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoRecEv__id__hash" maxlength="60" value="{{original.evento_json|readjson:'evtTotalContrib.infoRecEv.hash'}}" name="[evtTotalContrib][infoRecEv][hash]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="infoTotalContrib__div">
    <div class="col-md-12">
        <h4>Informações consolidadas por contribuinte relativas a totalizadores de bases e tributos.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="nrRecArqBase__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o número do recibo do arquivo que deu origem ao presente arquivo de retorno ao contribuinte<a data-toggle="tooltip" title="Preencher com o número do recibo do arquivo que deu origem ao presente arquivo de retorno ao contribuinte. Validação: Deve ser um recibo de entrega válido, correspondente ao arquivo que deu origem à presente solicitação (R-2099)."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__id__nrRecArqBase" maxlength="52" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.nrRecArqBase'}}" name="[evtTotalContrib][infoTotalContrib][nrRecArqBase]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="indExistInfo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Indicativo de existência de valores de bases ou de tributos<a data-toggle="tooltip" title="Indicativo de existência de valores de bases ou de tributos, conforme opções a seguir: 1 - Há informações de bases e/ou de tributos; 2 - Há movimento, porém não há informações de bases ou de tributos; 3 - Não há movimento na competência. Valores Válidos: 1,2,3."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTotalContrib__infoTotalContrib__id__indExistInfo" name="[evtTotalContrib][infoTotalContrib][indExistInfo]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value="1" {% ifequal original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.indExistInfo' 1 %}selected{% endifequal %}>1 - Há informações de bases e/ou de tributos</option><option value="2" {% ifequal original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.indExistInfo' 2 %}selected{% endifequal %}>2 - Há movimento, porém não há informações de bases ou de tributos</option><option value="3" {% ifequal original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.indExistInfo' 3 %}selected{% endifequal %}>3 - Não há movimento na competência. Valores Válidos</option>
            </select>
        </div>
    </div>
</div>

<div id="RTom__div">
    <div class="col-md-12">
        <h4>Totalizador das bases de cálculo e retenções de contribuição previdenciária sobre serviços tomados.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="cnpjPrestador__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o CNPJ do Prestador de Serviços<a data-toggle="tooltip" title="CNPJ do Prestador de Serviços. Origem: R-9001."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RTom__id__cnpjPrestador" maxlength="14" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RTom.cnpjPrestador'}}" name="[evtTotalContrib][infoTotalContrib][RTom][cnpjPrestador]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="cno__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número de inscrição no Cadastro Nacional de Obras - CNO<a data-toggle="tooltip" title="Número de inscrição no Cadastro Nacional de Obras - CNO. Origem: S-9001."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RTom__id__cno" maxlength="12" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RTom.cno'}}" name="[evtTotalContrib][infoTotalContrib][RTom][cno]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrTotalBaseRet__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a soma da base de cálculo da retenção da contribuição previdenciária das notas fiscais emitidas para o contratante<a data-toggle="tooltip" title="Base de cálculo da retenção da contribuição previdenciária. Origem: R-9001."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RTom__id__vlrTotalBaseRet" maxlength="14" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RTom.vlrTotalBaseRet'}}" name="[evtTotalContrib][infoTotalContrib][RTom][vlrTotalBaseRet]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="infoCRTom__div">
    <div class="col-md-12">
        <h4>Totalizador das retenções de contribuição previdenciária sobre serviços tomados.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="CRTom__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código de Receita - CR relativo a contribuições sociais devidas à Previdência Social sobre serviços tomados<a data-toggle="tooltip" title="Código de Receita - CR relativo a contribuições sociais devidas à Previdência Social sobre serviços tomados. Origem: R-9001. Validação: Deve ser um código válido, compatível com as informações prestadas nos demais eventos. Valores Válidos: 1141-06, 1162-01."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RTom__infoCRTom__id__CRTom" maxlength="6" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RTom.infoCRTom.CRTom'}}" name="[evtTotalContrib][infoTotalContrib][RTom][infoCRTom][CRTom]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrCRTom__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRTom}<a data-toggle="tooltip" title="Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRTom}. Origem: 9001. Validação: Deve ser apurado de acordo com a legislação em vigor na competência. Deve ser maior que 0 (zero)."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RTom__infoCRTom__id__vlrCRTom" maxlength="14" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RTom.infoCRTom.vlrCRTom'}}" name="[evtTotalContrib][infoTotalContrib][RTom][infoCRTom][vlrCRTom]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrCRTomSusp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da contribuição previdenciária com exigibilidade suspensa correspondente ao código de Receita - CR informado em {CRTom}<a data-toggle="tooltip" title="Valor da contribuição previdenciária com exigibilidade suspensa correspondente ao código de Receita - CR informado em {CRTom}. Origem: R-9001. Valores Válidos: Deve ser maior que 0 (zero)."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RTom__infoCRTom__id__vlrCRTomSusp" maxlength="14" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RTom.infoCRTom.vlrCRTomSusp'}}" name="[evtTotalContrib][infoTotalContrib][RTom][infoCRTom][vlrCRTomSusp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="RPrest__div">
    <div class="col-md-12">
        <h4>Totalizador das bases de cálculo e das retenções de contribuição previdenciária sobre serviços prestados.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="tpInscTomador__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o código correspondente ao tipo de inscrição<a data-toggle="tooltip" title="Preencher com o código correspondente ao tipo de inscrição. Origem: R-9001. Valores Válidos: 1,4."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtTotalContrib__infoTotalContrib__RPrest__id__tpInscTomador" name="[evtTotalContrib][infoTotalContrib][RPrest][tpInscTomador]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option>
            </select>
        </div>
    </div>
</div>

<div id="nrInscTomador__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Indicar o número de inscrição do tomador, conforme indicado no campo {tpInscTomador}<a data-toggle="tooltip" title="Número de inscrição do Tomador de Serviços, de acordo com o tipo de inscrição informado em {tpInscTomador}. Origem: R-9001."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RPrest__id__nrInscTomador" maxlength="14" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RPrest.nrInscTomador'}}" name="[evtTotalContrib][infoTotalContrib][RPrest][nrInscTomador]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrTotalBaseRet__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a soma da base de cálculo da retenção da contribuição previdenciária das notas fiscais emitidas para o contratante<a data-toggle="tooltip" title="Preencher com a soma da base de cálculo da retenção da contribuição previdenciária das notas fiscais emitidas para o contratante. Origem: R-9001."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RPrest__id__vlrTotalBaseRet" maxlength="14" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RPrest.vlrTotalBaseRet'}}" name="[evtTotalContrib][infoTotalContrib][RPrest][vlrTotalBaseRet]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrTotalRetPrinc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Soma do valor da retenção das notas fiscais de serviço emitidas para o contratante<a data-toggle="tooltip" title="Soma do valor da retenção das notas fiscais de serviço emitidas para o contratante. Origem: R-9001."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RPrest__id__vlrTotalRetPrinc" maxlength="14" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RPrest.vlrTotalRetPrinc'}}" name="[evtTotalContrib][infoTotalContrib][RPrest][vlrTotalRetPrinc]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrTotalRetAdic__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Soma do valor do adicional de retenção das notas fiscais<a data-toggle="tooltip" title="Soma do valor do adicional de retenção das notas fiscais. Origem: R-9001."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RPrest__id__vlrTotalRetAdic" maxlength="14" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RPrest.vlrTotalRetAdic'}}" name="[evtTotalContrib][infoTotalContrib][RPrest][vlrTotalRetAdic]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrTotalNRetPrinc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da retenção principal que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial<a data-toggle="tooltip" title="Valor da retenção principal que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial. Origem: R-9001."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RPrest__id__vlrTotalNRetPrinc" maxlength="14" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RPrest.vlrTotalNRetPrinc'}}" name="[evtTotalContrib][infoTotalContrib][RPrest][vlrTotalNRetPrinc]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrTotalNRetAdic__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da retenção adicional que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial<a data-toggle="tooltip" title="Valor da retenção adicional que deixou de ser efetuada pelo contratante ou que foi depositada em juízo em decorrência da decisão judicial. Origem: R-9001."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RPrest__id__vlrTotalNRetAdic" maxlength="14" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RPrest.vlrTotalNRetAdic'}}" name="[evtTotalContrib][infoTotalContrib][RPrest][vlrTotalNRetAdic]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="RRecRepAD__div">
    <div class="col-md-12">
        <h4>Totalizador das bases de cálculo e das retenções de contribuição previdenciária sobre recursos repassados a Associação Desportiva que mantenha equipe de futebol profissional.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="CRRecRepAD__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código de Receita - CR relativo a contribuição social devida à Previdência Social sobre recursos repassados a Associação Desportiva que mantenha equipe de futebol profissional, calculada segundo as regras estabelecidas na legislação em vigor<a data-toggle="tooltip" title="Código de Receita - CR relativo a contribuição social devida à Previdência Social sobre recursos repassados a Associação Desportiva que mantenha equipe de futebol profissional, calculada segundo as regras estabelecidas na legislação em vigor. Origem: R-9001. Validação: Deve ser um código válido, compatível com as informações prestadas nos demais eventos. Deve ser maior que 0 (zero). Valores Válidos: 1151-02."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RRecRepAD__id__CRRecRepAD" maxlength="6" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RRecRepAD.CRRecRepAD'}}" name="[evtTotalContrib][infoTotalContrib][RRecRepAD][CRRecRepAD]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrCRRecRepAD__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRRecRepAD}. Origem: R-2040<a data-toggle="tooltip" title="Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRRecRepAD}. Origem: R-9001. Validação: Deve ser apurado de acordo com a legislação em vigor na competência."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RRecRepAD__id__vlrCRRecRepAD" maxlength="14" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RRecRepAD.vlrCRRecRepAD'}}" name="[evtTotalContrib][infoTotalContrib][RRecRepAD][vlrCRRecRepAD]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrCRRecRepADSusp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da retenção da contribuição previdenciária que deixou de ser efetuada ou que foi depositada em juízo em decorência de decisão judicial/administrativa, correspondente ao Código de Receita - CR informado em {CRRecRepAD}<a data-toggle="tooltip" title="Valor da retenção da contribuição previdenciária que deixou de ser efetuada ou que foi depositada em juízo em decorrência de decisão judicial/administrativa, correspondente ao Código de Receita - CR informado em {CRRecRepAD}. Origem: R-9001."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RRecRepAD__id__vlrCRRecRepADSusp" maxlength="14" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RRecRepAD.vlrCRRecRepADSusp'}}" name="[evtTotalContrib][infoTotalContrib][RRecRepAD][vlrCRRecRepADSusp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="RComl__div">
    <div class="col-md-12">
        <h4>Totalizador das contribuições sociais incidentes sobre a comercialização de produção por Produtor Rural Pessoa Jurídica e Agroindústria.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="CRComl__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código de Receita - CR relativo a contribuição social devida à Previdência Social sobre Comercialização de Produção, calculada segundo as regras estabelecidas na legislação em vigor<a data-toggle="tooltip" title="Código de Receita - CR relativo a contribuição social devida à Previdência Social sobre Comercialização de Produção, calculada segundo as regras estabelecidas na legislação em vigor. Validação: Deve ser um código válido, compatível com as informações prestadas nos demais eventos, observando o que segue: a) 1657-01 se {classTrib} = [7] b) 1657-02 se {classTrib} <> [7], c) 1646-05 se {classTrib} = [7], d) 1646-06 se {classTrib} <> [7], e) 1213-02 se {classTrib} = [7], f) 1213-04 se {classTrib} <> [7]. Valores Válidos: 1657-01, 1657-02, 1646-05, 1646-06, 1213-02, 1213-04."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RComl__id__CRComl" maxlength="6" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RComl.CRComl'}}" name="[evtTotalContrib][infoTotalContrib][RComl][CRComl]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrCRComl__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRComl}. Origem: R-2050<a data-toggle="tooltip" title="Valor da contribuição previdenciária correspondente ao Código de Receita - CR informado em {CRComl}. Origem: R-9001. Validação: Deve ser apurado de acordo com a legislação em vigor na competência."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RComl__id__vlrCRComl" maxlength="14" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RComl.vlrCRComl'}}" name="[evtTotalContrib][infoTotalContrib][RComl][vlrCRComl]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrCRComlSusp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da contribuição previdenciária com exigibilidade suspensa correspondente ao Código de Receita - CR informado em {CRComl}. Origem: R-2050<a data-toggle="tooltip" title="Valor da contribuição previdenciária com exigibilidade suspensa correspondente ao Código de Receita - CR informado em {CRComl}. Origem: R-9001."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RComl__id__vlrCRComlSusp" maxlength="14" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RComl.vlrCRComlSusp'}}" name="[evtTotalContrib][infoTotalContrib][RComl][vlrCRComlSusp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

<div id="RCPRB__div">
    <div class="col-md-12">
        <h4>Totalizador da contribuição previdenciária sobre a Receita Bruta - CPRB.</h4>
    </div>
    <div class="col-md-12">
        <blockquote style="font-size: 14px;">
            <div class="row">

<div id="CRCPRB__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código de Receita - CR relativo a contribuição social devida à Previdência Social sobre a Receita Bruta - CPRB<a data-toggle="tooltip" title="Código de Receita - CR relativo a contribuição social devida à Previdência Social sobre a Receita Bruta - CPRB. Validação: Deve ser um código válido, compatível com as informações prestadas nos demais eventos. Valores Válidos: 2991-01, 2985-01, 2985-04, 2985-06 (sem os hífens)."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RCPRB__id__CRCPRB" maxlength="6" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RCPRB.CRCPRB'}}" name="[evtTotalContrib][infoTotalContrib][RCPRB][CRCPRB]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrCRCPRB__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da Contribuição Previdenciária sobre Receita Bruta - CPRB, calculada segundo as regras estabelecidas na legislação em vigor.<a data-toggle="tooltip" title="Valor da Contribuição Previdenciária sobre Receita Bruta - CPRB, calculada segundo as regras estabelecidas na legislação em vigor. Origem: R-9001."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RCPRB__id__vlrCRCPRB" maxlength="14" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RCPRB.vlrCRCPRB'}}" name="[evtTotalContrib][infoTotalContrib][RCPRB][vlrCRCPRB]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vlrCRCPRBSusp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Valor da Contribuição Previdenciária sobre Receita Bruta - CPRB com exigibilidade suspensa. Origem: R-2060<a data-toggle="tooltip" title="Valor da Contribuição Previdenciária sobre Receita Bruta - CPRB com exigibilidade suspensa. Origem: R-9001."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtTotalContrib__infoTotalContrib__RCPRB__id__vlrCRCPRBSusp" maxlength="14" value="{{original.evento_json|readjson:'evtTotalContrib.infoTotalContrib.RCPRB.vlrCRCPRBSusp'}}" name="[evtTotalContrib][infoTotalContrib][RCPRB][vlrCRCPRBSusp]" onkeyup="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>

</div>

</form>
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON();
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
$("#id_nrinsc").keyup(function() {
    var origem = document.getElementById("id_nrinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__nrInsc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
$("#id_tpinsc").on('change', function() {
    var origem = document.getElementById("id_tpinsc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEmpregador__id__tpInsc")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEmpregador__id__tpInsc_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_procemi").on('change', function() {
    var origem = document.getElementById("id_procemi");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__procEmi")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__procEmi_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_tpamb").on('change', function() {
    var origem = document.getElementById("id_tpamb");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__tpAmb")
    destino.value = origem.value;
    $("#evtInfoEmpregador__ideEvento__id__tpAmb_disabled").val(origem.value).change();
    set_evento_json();
});
$("#id_verproc").keyup(function() {
    var origem = document.getElementById("id_verproc");
    var destino_disabled = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc_disabled")
    var destino = document.getElementById("evtInfoEmpregador__ideEvento__id__verProc")
    destino.value = origem.value;
    destino_disabled.value = origem.value;
    set_evento_json();
});
</script>
