
{% load esocial_custom_tags %}
{% with evtReabreEvPer=original.evento_json|readjson:'evtReabreEvPer' %}
<form id="form_json">

<div class="row">

<div id="evtReabreEvPer__div">
    <div class="col-md-12">
        <h4>Evento Reabertura dos Eventos Periódicos.
Regras de validação:
REGRA_ENVIO_PROC_FECHAMENTO
REGRA_EVE_FOPAG_SIMPLIFICADO
REGRA_EXISTE_INFO_EMPREGADOR
REGRA_REABERTURA_VALIDA_PERIODO_APURACAO
REGRA_VALIDA_EMPREGADOR</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de identificação do evento.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="indApuracao__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Indicativo de período de apuração<a data-toggle="tooltip" title="Indicativo de período de apuração.
Valores válidos:
1 - Mensal
2 - Anual (13° salário)"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtReabreEvPer__ideEvento__id__indApuracao" name="[evtReabreEvPer][ideEvento][indApuracao]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal evtReabreEvPer|readjson:'ideEvento.indApuracao'|to_str '1' %}selected{% endifequal %}>1 - Mensal</option><option value='2' {% ifequal evtReabreEvPer|readjson:'ideEvento.indApuracao'|to_str '2' %}selected{% endifequal %}>2 - Anual (13° salário)</option>
            </select>
        </div>
    </div>
</div>

<div id="perApur__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar o mês/ano (formato AAAA-MM) de referência das informações<a data-toggle="tooltip" title="Informar o mês/ano (formato AAAA-MM) de referência das informações, se indApuracao for igual a [1], ou apenas o ano (formato AAAA), se indApuracao for igual a [2].
Validação: Deve ser um mês/ano ou ano válido, igual ou posterior ao início da obrigatoriedade dos eventos periódicos para o empregador."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtReabreEvPer__ideEvento__id__perApur" maxlength="7" value="{{evtReabreEvPer|readjson:'ideEvento.perApur'}}" name="[evtReabreEvPer][ideEvento][perApur]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="indGuia__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Indicativo do tipo de guia<a data-toggle="tooltip" title="Indicativo do tipo de guia.
Valores válidos:
1 - Documento de Arrecadação do eSocial - DAE"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtReabreEvPer__ideEvento__id__indGuia" name="[evtReabreEvPer][ideEvento][indGuia]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal evtReabreEvPer|readjson:'ideEvento.indGuia'|to_str '1' %}selected{% endifequal %}>1 - Documento de Arrecadação do eSocial - DAE</option>
            </select>
        </div>
    </div>
</div>

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Identificação do ambiente</label>
            <select name="[evtReabreEvPer][ideEvento][tpAmb]" id="evtReabreEvPer__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtReabreEvPer][ideEvento][tpAmb]" id="evtReabreEvPer__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Processo de emissão do evento</label>
            <select name="[evtReabreEvPer][ideEvento][procEmi]" id="evtReabreEvPer__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtReabreEvPer][ideEvento][procEmi]" id="evtReabreEvPer__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Versão do processo de emissão do evento</label>
            <input type="text" name="[evtReabreEvPer][ideEvento][verProc]" value="{{original.verproc}}" class="vTextField" maxlength="20" id="evtReabreEvPer__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtReabreEvPer][ideEvento][verProc]" id="evtReabreEvPer__ideEvento__id__verProc" value="{{original.verproc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
<div id="ideEmpregador__div">
    <div class="col-md-12">
        <h4>Informações de identificação do empregador.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Preencher com o código correspondente ao tipo de inscrição</label>
            <select name="[evtReabreEvPer][ideEmpregador][tpInsc]" id="evtReabreEvPer__ideEmpregador__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtReabreEvPer][ideEmpregador][tpInsc]" id="evtReabreEvPer__ideEmpregador__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo ideEmpregador/tpInsc e conforme informado em S-1000</label>
            <input type="text" id="evtReabreEvPer__ideEmpregador__id__nrInsc_disabled" name="[evtReabreEvPer][ideEmpregador][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtReabreEvPer][ideEmpregador][nrInsc]" id="evtReabreEvPer__ideEmpregador__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
</div>

</form>
{% endwith %}
{% if original.is_aberto %}
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON({useIntKeysAsArrayIndex: true});
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
</script>
{% endif %}
