
{% load esocial_custom_tags %}
{% with evtAnotJud=original.evento_json|readjson:'evtAnotJud' %}
<form id="form_json">

<div class="row">

<div id="evtAnotJud__div">
    <div class="col-md-12">
        <h4>Evento Anotação Judicial do Vínculo.
Regras de validação:
REGRA_ADMISSAO_VALIDA_DT_ADM
REGRA_ADMISSAO_VALIDA_DURACAO_CONTRATO
REGRA_BLOQUEIA_USO_CPF_EMPREGADOR
REGRA_COMPATIBILIDADE_CATEGORIA_CLASSTRIB
REGRA_ENVIO_PROC_FECHAMENTO
REGRA_EVENTOS_EXTEMP
REGRA_EXISTE_INFO_EMPREGADOR
REGRA_RETIFICA_MESMO_VINCULO
REGRA_VALIDA_MATRICULA
REGRA_VALIDA_TRABALHADOR_BASE_CPF</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="ideEvento__div">
    <div class="col-md-12">
        <h4>Informações de identificação do evento.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="indRetif__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informe [1] para arquivo original ou [2] para arquivo de retificação<a data-toggle="tooltip" title="Informe [1] para arquivo original ou [2] para arquivo de retificação.
Valores válidos:
1 - Original
2 - Retificação"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAnotJud__ideEvento__id__indRetif" name="[evtAnotJud][ideEvento][indRetif]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal evtAnotJud|readjson:'ideEvento.indRetif'|to_str '1' %}selected{% endifequal %}>1 - Original</option><option value='2' {% ifequal evtAnotJud|readjson:'ideEvento.indRetif'|to_str '2' %}selected{% endifequal %}>2 - Retificação</option>
            </select>
        </div>
    </div>
</div>

<div id="nrRecibo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o número do recibo do arquivo a ser retificado<a data-toggle="tooltip" title="Preencher com o número do recibo do arquivo a ser retificado.
Validação: O preenchimento é obrigatório se indRetif = [2].
Deve ser um recibo de entrega válido, correspondente ao arquivo que está sendo retificado."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__ideEvento__id__nrRecibo" maxlength="23" value="{{evtAnotJud|readjson:'ideEvento.nrRecibo'}}" name="[evtAnotJud][ideEvento][nrRecibo]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="tpAmb__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Identificação do ambiente</label>
            <select name="[evtAnotJud][ideEvento][tpAmb]" id="evtAnotJud__ideEvento__id__tpAmb_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpamb 1 %}selected{% endifequal %}>1 - Produção</option>
                <option value="2" {% ifequal original.tpamb 2 %}selected{% endifequal %}>2 - Produção restrita.</option>
            </select>
            <input type="hidden" name="[evtAnotJud][ideEvento][tpAmb]" id="evtAnotJud__ideEvento__id__tpAmb" value="{{original.tpamb}}">
        </div>
    </div>
</div>
<div id="procEmi__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Processo de emissão do evento</label>
            <select name="[evtAnotJud][ideEvento][procEmi]" id="evtAnotJud__ideEvento__id__procEmi_disabled" disabled="">
                <option value="1" {% ifequal original.procemi 1 %}selected{% endifequal %}>1 - Aplicativo do empregador</option>
                <option value="2" {% ifequal original.procemi 2 %}selected{% endifequal %}>2 - Aplicativo governamental - Empregador Doméstico</option>
                <option value="3" {% ifequal original.procemi 3 %}selected{% endifequal %}>3 - Aplicativo governamental - Web Geral</option>
                <option value="4" {% ifequal original.procemi 4 %}selected{% endifequal %}>4 - Aplicativo governamental - Simplificado Pessoa Jurídica</option>
                <option value="5" {% ifequal original.procemi 5 %}selected{% endifequal %}>5 - Aplicativo governamental - Segurado Especial.</option>
            </select>
            <input type="hidden" name="[evtAnotJud][ideEvento][procEmi]" id="evtAnotJud__ideEvento__id__procEmi" value="{{original.procemi}}">
        </div>
    </div>
</div>
<div id="verProc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Versão do processo de emissão do evento</label>
            <input type="text" name="[evtAnotJud][ideEvento][verProc]" value="{{original.verproc}}" class="vTextField" maxlength="20" id="evtAnotJud__ideEvento__id__verProc_disabled" disabled="">
            <input type="hidden" name="[evtAnotJud][ideEvento][verProc]" id="evtAnotJud__ideEvento__id__verProc" value="{{original.verproc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
<div id="ideEmpregador__div">
    <div class="col-md-12">
        <h4>Informações de identificação do empregador.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="tpInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Preencher com o código correspondente ao tipo de inscrição</label>
            <select name="[evtAnotJud][ideEmpregador][tpInsc]" id="evtAnotJud__ideEmpregador__id__tpInsc_disabled" disabled="">
                <option value="">---------</option>
                <option value="1" {% ifequal original.tpinsc 1 %}selected{% endifequal %}>1 - CNPJ</option>
                <option value="2" {% ifequal original.tpinsc 2 %}selected{% endifequal %}>2 - CPF</option>
                <option value="3" {% ifequal original.tpinsc 3 %}selected{% endifequal %}>3 - CAEPF (Cadastro de Atividade Econômica de Pessoa Física)</option>
                <option value="4" {% ifequal original.tpinsc 4 %}selected{% endifequal %}>4 - CNO (Cadastro Nacional de Obra)</option>
                <option value="5" {% ifequal original.tpinsc 5 %}selected{% endifequal %}>5 - CGC</option>
                <option value="6" {% ifequal original.tpinsc 6 %}selected{% endifequal %}>6 - CEI</option>
            </select>
            <input type="hidden" name="[evtAnotJud][ideEmpregador][tpInsc]" id="evtAnotJud__ideEmpregador__id__tpInsc" value="{{original.tpinsc}}">
        </div>
    </div>
</div>
<div id="nrInsc__div">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo ideEmpregador/tpInsc e conforme informado em S-1000</label>
            <input type="text" id="evtAnotJud__ideEmpregador__id__nrInsc_disabled" name="[evtAnotJud][ideEmpregador][nrInsc]" value="{{original.nrinsc}}" class="vTextField" maxlength="15" disabled="">
            <input type="hidden" name="[evtAnotJud][ideEmpregador][nrInsc]" id="evtAnotJud__ideEmpregador__id__nrInsc" value="{{original.nrinsc}}">
        </div>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
<div id="infoProcesso__div">
    <div class="col-md-12">
        <h4>Informações do processo judicial.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="nrProcTrab__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Número que identifica o processo judicial onde a baixa do vínculo foi determinada<a data-toggle="tooltip" title="Número que identifica o processo judicial onde a anotação do vínculo foi determinada.
Validação: Deve ser um processo judicial válido, com 20 (vinte) algarismos."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoProcesso__id__nrProcTrab" maxlength="20" value="{{evtAnotJud|readjson:'infoProcesso.nrProcTrab'}}" name="[evtAnotJud][infoProcesso][nrProcTrab]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dtSent__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar a data da decisão judicial<a data-toggle="tooltip" title="Informar a data da decisão judicial."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoProcesso__id__dtSent" value="{{evtAnotJud|readjson:'infoProcesso.dtSent'}}" name="[evtAnotJud][infoProcesso][dtSent]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="ufVara__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a sigla da Unidade da Federação onde está localizada a Vara em que o processo tramitou<a data-toggle="tooltip" title="Preencher com a sigla da Unidade da Federação onde está localizada a Vara em que o processo tramitou.
Valores válidos: AC, AL, AP, AM, BA, CE, DF, ES, GO, MA, MT, MS, MG, PA, PB, PR, PE, PI, RJ, RN, RS, RO, RR, SC, SP, SE, TO"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoProcesso__id__ufVara" maxlength="2" value="{{evtAnotJud|readjson:'infoProcesso.ufVara'}}" name="[evtAnotJud][infoProcesso][ufVara]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codMunic__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o código do município<a data-toggle="tooltip" title="Preencher com o código do município, conforme tabela do IBGE.
Validação: Deve ser um código válido e existente na tabela do IBGE."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoProcesso__id__codMunic" maxlength="7" value="{{evtAnotJud|readjson:'infoProcesso.codMunic'}}" name="[evtAnotJud][infoProcesso][codMunic]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="idVara__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código de identificação da Vara em que o processo tramitou<a data-toggle="tooltip" title="Código de identificação da Vara em que o processo tramitou."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoProcesso__id__idVara" maxlength="4" value="{{evtAnotJud|readjson:'infoProcesso.idVara'}}" name="[evtAnotJud][infoProcesso][idVara]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
<div id="infoAnotJud__div">
    <div class="col-md-12">
        <h4>Informações da anotação judicial do vínculo.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="cpfTrab__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o número do CPF do trabalhador<a data-toggle="tooltip" title="Preencher com o número do CPF do trabalhador."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__id__cpfTrab" maxlength="11" value="{{evtAnotJud|readjson:'infoAnotJud.cpfTrab'}}" name="[evtAnotJud][infoAnotJud][cpfTrab]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="nmTrab__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar o nome do trabalhador<a data-toggle="tooltip" title="Informar o nome do trabalhador."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__id__nmTrab" maxlength="70" value="{{evtAnotJud|readjson:'infoAnotJud.nmTrab'}}" name="[evtAnotJud][infoAnotJud][nmTrab]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dtNascto__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a data de nascimento<a data-toggle="tooltip" title="Preencher com a data de nascimento."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__id__dtNascto" value="{{evtAnotJud|readjson:'infoAnotJud.dtNascto'}}" name="[evtAnotJud][infoAnotJud][dtNascto]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dtAdm__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a data de admissão do trabalhador<a data-toggle="tooltip" title="Preencher com a data de admissão do trabalhador.
Validação: Deve ser posterior à data de nascimento do trabalhador."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__id__dtAdm" value="{{evtAnotJud|readjson:'infoAnotJud.dtAdm'}}" name="[evtAnotJud][infoAnotJud][dtAdm]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="matricula__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Matrícula atribuída ao trabalhador pela empresa ou<a data-toggle="tooltip" title="Matrícula atribuída ao trabalhador.
Validação: O valor informado deve conter a expressão 'eSocial-JUD-' nas 12 (doze) primeiras posições.
Regra de validação:
REGRA_CARACTERE_ESPECIAL"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__id__matricula" maxlength="30" value="{{evtAnotJud|readjson:'infoAnotJud.matricula'}}" name="[evtAnotJud][infoAnotJud][matricula]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codCateg__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o código da categoria do trabalhador<a data-toggle="tooltip" title="Preencher com o código da categoria do trabalhador.
Validação: Deve ser um código de categoria referente a "Empregado" ([1XX]) ou igual a [302, 303, 309]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__id__codCateg" maxlength="3" value="{{evtAnotJud|readjson:'infoAnotJud.codCateg'}}" name="[evtAnotJud][infoAnotJud][codCateg]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="natAtividade__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Natureza da atividade<a data-toggle="tooltip" title="Natureza da atividade.
Valores válidos:
1 - Trabalho urbano
2 - Trabalho rural
Validação: Se codCateg = [104], deve ser preenchido com [1]. Se codCateg = [102], deve ser preenchido com [2]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAnotJud__infoAnotJud__id__natAtividade" name="[evtAnotJud][infoAnotJud][natAtividade]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal evtAnotJud|readjson:'infoAnotJud.natAtividade'|to_str '1' %}selected{% endifequal %}>1 - Trabalho urbano</option><option value='2' {% ifequal evtAnotJud|readjson:'infoAnotJud.natAtividade'|to_str '2' %}selected{% endifequal %}>2 - Trabalho rural</option>
            </select>
        </div>
    </div>
</div>

<div id="tpContr__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo de contrato de trabalho<a data-toggle="tooltip" title="Tipo de contrato de trabalho.
Valores válidos:
1 - Prazo indeterminado
2 - Prazo determinado, definido em dias
3 - Prazo determinado, vinculado à ocorrência de um fato"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAnotJud__infoAnotJud__id__tpContr" name="[evtAnotJud][infoAnotJud][tpContr]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal evtAnotJud|readjson:'infoAnotJud.tpContr'|to_str '1' %}selected{% endifequal %}>1 - Prazo indeterminado</option><option value='2' {% ifequal evtAnotJud|readjson:'infoAnotJud.tpContr'|to_str '2' %}selected{% endifequal %}>2 - Prazo determinado, definido em dias</option><option value='3' {% ifequal evtAnotJud|readjson:'infoAnotJud.tpContr'|to_str '3' %}selected{% endifequal %}>3 - Prazo determinado, vinculado à ocorrência de um fato</option>
            </select>
        </div>
    </div>
</div>

<div id="dtTerm__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data do término do contrato por prazo determinado<a data-toggle="tooltip" title="Data do término do contrato por prazo determinado.
Validação: O preenchimento é obrigatório se tpContr = [2]. Não informar se tpContr = [1]. Deve ser igual ou posterior à data de admissão."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__id__dtTerm" value="{{evtAnotJud|readjson:'infoAnotJud.dtTerm'}}" name="[evtAnotJud][infoAnotJud][dtTerm]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>
{% for cargo in evtAnotJud|readjson:'infoAnotJud.cargo' %}
<div id="cargo__div">
    <div class="col-md-12">
        <h4>Informações do cargo.</h4>
        {% if True %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="dtCargo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data a partir da qual as informações do cargo estão vigentes<a data-toggle="tooltip" title="Data a partir da qual as informações do cargo estão vigentes.
Validação: Deve ser igual ou posterior à data de admissão e igual ou anterior à data de desligamento, se informada."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__cargo__id__dtCargo" value="{{cargo|readjson:'dtCargo'}}" name="[evtAnotJud][infoAnotJud][cargo][][dtCargo]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="CBOCargo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar a Classificação Brasileira de Ocupações - CBO relativa ao cargo<a data-toggle="tooltip" title="Informar a Classificação Brasileira de Ocupações - CBO relativa ao cargo.
Validação: Deve ser um código válido e existente na tabela de CBO, com 6 (seis) posições."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__cargo__id__CBOCargo" maxlength="6" value="{{cargo|readjson:'CBOCargo'}}" name="[evtAnotJud][infoAnotJud][cargo][][CBOCargo]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>{% empty %}
<div id="cargo__div">
    <div class="col-md-12">
        <h4>Informações do cargo.</h4>
        {% if True %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="dtCargo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data a partir da qual as informações do cargo estão vigentes<a data-toggle="tooltip" title="Data a partir da qual as informações do cargo estão vigentes.
Validação: Deve ser igual ou posterior à data de admissão e igual ou anterior à data de desligamento, se informada."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__cargo__id__dtCargo" value="{{cargo|readjson:'dtCargo'}}" name="[evtAnotJud][infoAnotJud][cargo][][dtCargo]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="CBOCargo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar a Classificação Brasileira de Ocupações - CBO relativa ao cargo<a data-toggle="tooltip" title="Informar a Classificação Brasileira de Ocupações - CBO relativa ao cargo.
Validação: Deve ser um código válido e existente na tabela de CBO, com 6 (seis) posições."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__cargo__id__CBOCargo" maxlength="6" value="{{cargo|readjson:'CBOCargo'}}" name="[evtAnotJud][infoAnotJud][cargo][][CBOCargo]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>{% endfor %}{% for remuneracao in evtAnotJud|readjson:'infoAnotJud.remuneracao' %}
<div id="remuneracao__div">
    <div class="col-md-12">
        <h4>Informações da remuneração e periodicidade de pagamento.</h4>
        {% if True %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="dtRemun__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data a partir da qual as informações de remuneração e periodicidade de pagamento estão vigentes<a data-toggle="tooltip" title="Data a partir da qual as informações de remuneração e periodicidade de pagamento estão vigentes.
Validação: Deve ser igual ou posterior à data de admissão e igual ou anterior à data de desligamento, se informada."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__remuneracao__id__dtRemun" value="{{remuneracao|readjson:'dtRemun'}}" name="[evtAnotJud][infoAnotJud][remuneracao][][dtRemun]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vrSalFx__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Salário base do trabalhador<a data-toggle="tooltip" title="Salário base do trabalhador, correspondente à parte fixa da remuneração em dtRemun.
Validação: Se undSalFixo for igual a [7], preencher com 0 (zero)."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__remuneracao__id__vrSalFx" maxlength="14" value="{{remuneracao|readjson:'vrSalFx'}}" name="[evtAnotJud][infoAnotJud][remuneracao][][vrSalFx]" onchange="set_evento_json()" class="form-control esocial-valor-2" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="undSalFixo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Unidade de pagamento da parte fixa da remuneração<a data-toggle="tooltip" title="Unidade de pagamento da parte fixa da remuneração.
Valores válidos:
1 - Por hora
2 - Por dia
3 - Por semana
4 - Por quinzena
5 - Por mês
6 - Por tarefa
7 - Não aplicável - Salário exclusivamente variável"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAnotJud__infoAnotJud__remuneracao__id__undSalFixo" name="[evtAnotJud][infoAnotJud][remuneracao][][undSalFixo]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal remuneracao|readjson:'undSalFixo'|to_str '1' %}selected{% endifequal %}>1 - Por hora</option><option value='2' {% ifequal remuneracao|readjson:'undSalFixo'|to_str '2' %}selected{% endifequal %}>2 - Por dia</option><option value='3' {% ifequal remuneracao|readjson:'undSalFixo'|to_str '3' %}selected{% endifequal %}>3 - Por semana</option><option value='4' {% ifequal remuneracao|readjson:'undSalFixo'|to_str '4' %}selected{% endifequal %}>4 - Por quinzena</option><option value='5' {% ifequal remuneracao|readjson:'undSalFixo'|to_str '5' %}selected{% endifequal %}>5 - Por mês</option><option value='6' {% ifequal remuneracao|readjson:'undSalFixo'|to_str '6' %}selected{% endifequal %}>6 - Por tarefa</option><option value='7' {% ifequal remuneracao|readjson:'undSalFixo'|to_str '7' %}selected{% endifequal %}>7 - Não aplicável - Salário exclusivamente variável</option>
            </select>
        </div>
    </div>
</div>

<div id="dscSalVar__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Descrição do salário por tarefa ou variável e como este é calculado<a data-toggle="tooltip" title="Descrição do salário por tarefa ou variável e como este é calculado. Ex.: Comissões pagas no percentual de 10% sobre as vendas.
Validação: Preenchimento obrigatório se undSalFixo for igual a [6, 7]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__remuneracao__id__dscSalVar" maxlength="999" value="{{remuneracao|readjson:'dscSalVar'}}" name="[evtAnotJud][infoAnotJud][remuneracao][][dscSalVar]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>{% empty %}
<div id="remuneracao__div">
    <div class="col-md-12">
        <h4>Informações da remuneração e periodicidade de pagamento.</h4>
        {% if True %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="dtRemun__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data a partir da qual as informações de remuneração e periodicidade de pagamento estão vigentes<a data-toggle="tooltip" title="Data a partir da qual as informações de remuneração e periodicidade de pagamento estão vigentes.
Validação: Deve ser igual ou posterior à data de admissão e igual ou anterior à data de desligamento, se informada."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__remuneracao__id__dtRemun" value="{{remuneracao|readjson:'dtRemun'}}" name="[evtAnotJud][infoAnotJud][remuneracao][][dtRemun]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="vrSalFx__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Salário base do trabalhador<a data-toggle="tooltip" title="Salário base do trabalhador, correspondente à parte fixa da remuneração em dtRemun.
Validação: Se undSalFixo for igual a [7], preencher com 0 (zero)."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__remuneracao__id__vrSalFx" maxlength="14" value="{{remuneracao|readjson:'vrSalFx'}}" name="[evtAnotJud][infoAnotJud][remuneracao][][vrSalFx]" onchange="set_evento_json()" class="form-control esocial-valor-2" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="undSalFixo__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Unidade de pagamento da parte fixa da remuneração<a data-toggle="tooltip" title="Unidade de pagamento da parte fixa da remuneração.
Valores válidos:
1 - Por hora
2 - Por dia
3 - Por semana
4 - Por quinzena
5 - Por mês
6 - Por tarefa
7 - Não aplicável - Salário exclusivamente variável"><i class="fa fa-fw fa-question-circle"></i></a></label>
            <select id="evtAnotJud__infoAnotJud__remuneracao__id__undSalFixo" name="[evtAnotJud][infoAnotJud][remuneracao][][undSalFixo]" onchange="set_evento_json()" class="form-control" {{ original|disabled}}>
            <option value="">---</option><option value='1' {% ifequal remuneracao|readjson:'undSalFixo'|to_str '1' %}selected{% endifequal %}>1 - Por hora</option><option value='2' {% ifequal remuneracao|readjson:'undSalFixo'|to_str '2' %}selected{% endifequal %}>2 - Por dia</option><option value='3' {% ifequal remuneracao|readjson:'undSalFixo'|to_str '3' %}selected{% endifequal %}>3 - Por semana</option><option value='4' {% ifequal remuneracao|readjson:'undSalFixo'|to_str '4' %}selected{% endifequal %}>4 - Por quinzena</option><option value='5' {% ifequal remuneracao|readjson:'undSalFixo'|to_str '5' %}selected{% endifequal %}>5 - Por mês</option><option value='6' {% ifequal remuneracao|readjson:'undSalFixo'|to_str '6' %}selected{% endifequal %}>6 - Por tarefa</option><option value='7' {% ifequal remuneracao|readjson:'undSalFixo'|to_str '7' %}selected{% endifequal %}>7 - Não aplicável - Salário exclusivamente variável</option>
            </select>
        </div>
    </div>
</div>

<div id="dscSalVar__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Descrição do salário por tarefa ou variável e como este é calculado<a data-toggle="tooltip" title="Descrição do salário por tarefa ou variável e como este é calculado. Ex.: Comissões pagas no percentual de 10% sobre as vendas.
Validação: Preenchimento obrigatório se undSalFixo for igual a [6, 7]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__remuneracao__id__dscSalVar" maxlength="999" value="{{remuneracao|readjson:'dscSalVar'}}" name="[evtAnotJud][infoAnotJud][remuneracao][][dscSalVar]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>{% endfor %}{% for incorporacao in evtAnotJud|readjson:'infoAnotJud.incorporacao' %}
<div id="incorporacao__div">
    <div class="col-md-12">
        <h4>Informação do(s) vínculo(s)/contrato(s) já declarado(s) no eSocial pelo empregador e incorporado(s) ao vínculo reconhecido judicialmente.</h4>
        {% if True %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="matIncorp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar a matrícula incorporada (matrícula cujo vínculo/contrato passou a integrar o vínculo reconhecido judicialmente)<a data-toggle="tooltip" title="Informar a matrícula incorporada (matrícula cujo vínculo/contrato passou a integrar o vínculo reconhecido judicialmente).
Validação: Deve corresponder a uma matrícula informada pelo empregador no evento S-2190, S-2200 ou S-2300, pertencente ao trabalhador preenchido em cpfTrab."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__incorporacao__id__matIncorp" maxlength="30" value="{{incorporacao|readjson:'matIncorp'}}" name="[evtAnotJud][infoAnotJud][incorporacao][][matIncorp]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>{% empty %}
<div id="incorporacao__div">
    <div class="col-md-12">
        <h4>Informação do(s) vínculo(s)/contrato(s) já declarado(s) no eSocial pelo empregador e incorporado(s) ao vínculo reconhecido judicialmente.</h4>
        {% if True %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="matIncorp__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Informar a matrícula incorporada (matrícula cujo vínculo/contrato passou a integrar o vínculo reconhecido judicialmente)<a data-toggle="tooltip" title="Informar a matrícula incorporada (matrícula cujo vínculo/contrato passou a integrar o vínculo reconhecido judicialmente).
Validação: Deve corresponder a uma matrícula informada pelo empregador no evento S-2190, S-2200 ou S-2300, pertencente ao trabalhador preenchido em cpfTrab."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__incorporacao__id__matIncorp" maxlength="30" value="{{incorporacao|readjson:'matIncorp'}}" name="[evtAnotJud][infoAnotJud][incorporacao][][matIncorp]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>{% endfor %}
<div id="afastamento__div">
    <div class="col-md-12">
        <h4>Informações de afastamento do trabalhador.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="dtIniAfast__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data de início do afastamento<a data-toggle="tooltip" title="Data de início do afastamento.
Validação: Deve ser igual ou posterior à data de admissão do trabalhador e igual ou posterior a [2019-09-24].
Não pode ser posterior à data atual."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__afastamento__id__dtIniAfast" value="{{evtAnotJud|readjson:'infoAnotJud.afastamento.dtIniAfast'}}" name="[evtAnotJud][infoAnotJud][afastamento][dtIniAfast]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="codMotAfast__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com o código do motivo de afastamento temporário<a data-toggle="tooltip" title="Preencher com o código do motivo de afastamento temporário.
Validação: Deve ser um código válido e existente na Tabela 18, bem como compatível com o código de categoria do trabalhador, conforme Tabela 18.
Somente podem ser informados os códigos [01, 03, 06, 11, 12, 17, 18, 19, 20, 22, 24, 29, 35]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__afastamento__id__codMotAfast" maxlength="2" value="{{evtAnotJud|readjson:'infoAnotJud.afastamento.codMotAfast'}}" name="[evtAnotJud][infoAnotJud][afastamento][codMotAfast]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
<div id="desligamento__div">
    <div class="col-md-12">
        <h4>Informações de desligamento do trabalhador.</h4>
        {% if False %}
        <div class="btn-group">
            <button type="button" onclick="duplicateDiv($(this))" 
                    class="btn btn-success btn-flat">
                    <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" onclick="removeDiv($(this))" 
                    class="btn btn-danger btn-flat">
                    <i class="fa fa-minus-circle"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <blockquote>
            <div class="row">

<div id="mtvDeslig__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Código de motivo do desligamento<a data-toggle="tooltip" title="Código de motivo do desligamento.
Validação: Deve ser um código válido e existente na Tabela 19, bem como compatível com o código de categoria do trabalhador, conforme Tabela 19.
Não podem ser informados motivos que não implicam rescisão do contrato de trabalho (igual a [11, 12, 13, 25, 28, 29, 30, 34, 36, 43, 44])."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__desligamento__id__mtvDeslig" maxlength="2" value="{{evtAnotJud|readjson:'infoAnotJud.desligamento.mtvDeslig'}}" name="[evtAnotJud][infoAnotJud][desligamento][mtvDeslig]" onchange="set_evento_json()" class="form-control" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dtDeslig__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Preencher com a data de desligamento do vínculo (último dia trabalhado)<a data-toggle="tooltip" title="Preencher com a data de desligamento do vínculo (último dia trabalhado).
Validação: Deve ser igual ou posterior à data de admissão do trabalhador e igual ou posterior a [2019-09-24]."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__desligamento__id__dtDeslig" value="{{evtAnotJud|readjson:'infoAnotJud.desligamento.dtDeslig'}}" name="[evtAnotJud][infoAnotJud][desligamento][dtDeslig]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

<div id="dtProjFimAPI__div">
    <div class="col-md-4">
        <div class="form-group">
            <label>Data projetada para o término do aviso prévio indenizado<a data-toggle="tooltip" title="Data projetada para o término do aviso prévio indenizado.
Validação: Se preenchida, deve ser uma data posterior a dtDeslig."><i class="fa fa-fw fa-question-circle"></i></a></label>
            <input type="text" id="evtAnotJud__infoAnotJud__desligamento__id__dtProjFimAPI" value="{{evtAnotJud|readjson:'infoAnotJud.desligamento.dtProjFimAPI'}}" name="[evtAnotJud][infoAnotJud][desligamento][dtProjFimAPI]" onchange="set_evento_json()" class="form-control automate-date" {{ original|disabled}} />
        </div>
    </div>
</div>

            </div>
        </blockquote>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
            </div>
        </blockquote>
    </div>
</div>
</div>

</form>
{% endwith %}
{% if original.is_aberto %}
<script type="text/javascript">
function set_evento_json() {
    var dst = document.getElementById("id_evento_json");
    var dst_read = document.getElementById("id_evento_json_read");
    var obj = $('#form_json').serializeJSON({useIntKeysAsArrayIndex: true});
    dst.value = JSON.stringify(obj);
    dst_read.value = JSON.stringify(obj);
};
$(document).ready(function(){
    set_evento_json();
});
</script>
{% endif %}
